<kendo-window [title]="windowTitle"  *ngIf="editFormWindow" (close)="closeEditFormWindow()" [top]="20"
[width]="650" [height]="300" [resizable]="false" >

  <form class="scoringRulesForm mt-3"  [formGroup]="refusalForm" (ngSubmit)="onSubmit()"  autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" placeholder="Description" formControlName="refusalDesc" maxlength="50"
          [ngClass]="{ 'is-invalid': submitted && descriptionError != ''}">
        <div *ngIf="submitted && descriptionError != ''" class="invalid-feedback">
          <div>{{ this.descriptionError }}</div>
        </div>
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="form-group col-md-4">
        <label class="form-label  mr-4">Status</label>
        <div class="mt-2">
          <label class="switcher">
            <input type="checkbox" class="switcher-input" formControlName="refusalStatus">
            <span class="switcher-indicator">
              <span class="switcher-yes"><span class="ion ion-md-checkmark"></span></span>
              <span class="switcher-no"><span class="ion ion-md-close"></span></span>
            </span>
          </label>
        </div>
      </div>
      <div>
        <span class="col-md-8"></span>
      </div>
    </div>
    <div class="buttonDiv pull-right mt-2">
      <button type="button" (click)="closeEditFormWindow()" class="btn btn-sm themeButton m-1">Cancel</button>
      <button type="submit" class="btn btn-sm themeButton m-1" >Ok</button>
    </div>
  </form>
</kendo-window>
