<kendo-window title="{{title}}" *ngIf="openDefectform" (close)="closeDefectForm()" [top]="5" [minWidth]="600"
    [width]="980" [height]="auto" [minHeight]="300">


    <div class="row formRow">
        <div class="col-md-12">
            <div class="row defectDetailRow">
                <div class="col-md-6">
                    <div class="defectdetail">
                        <span class="fieldName">Programme: </span> <span> {{programmeData?.wprname}} </span>
                    </div>
                    <div class="defectdetail">
                        <span class="fieldName">Works Order: </span> <span> {{worksOrderData?.woname}}
                            ({{worksOrderData?.wosequence}}) </span>
                    </div>
                    <div class="defectdetail">
                        <span class="fieldName">Phase: </span> <span> {{phaseData?.wopname}} </span>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="defectdetail">
                        <span class="fieldName">Asset: </span> <span> {{workorderAsset?.assid}} </span>
                    </div>
                    <div class="defectdetail">
                        <span class="fieldName">Defect: </span> <span> {{defectFormMode == 'new' ? '' :
                            selectedDefectInp?.wodsequence}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            <kendo-grid #grid [data]="gridView" [height]="160" [selectable]="selectableSettings" filterable="menu"
                [resizable]="true" [sortable]="{
                    allowUnsort: true,
                    mode: 'multiple'
                    }" [skip]="state.skip" [loading]="gridLoading" [pageSize]="pageSize" [rowHeight]="36" (pageChange)="pageChange($event)"
                scrollable="virtual" [sort]="state.sort" [filter]="state.filter" (sortChange)="sortChange($event)"
                (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)" [navigable]="false"
                kendoGridSelectBy="wlataid" [selectedKeys]="mySelection">


                <kendo-grid-column field="wlataid" title="Attr Id" width="140">
                </kendo-grid-column>
                <kendo-grid-column field="atadescription" title="Description" width="160">
                </kendo-grid-column>
                <kendo-grid-column field="asaquantity" title="Qty" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="asauom" title="UOM" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="woadstatus" title="Status" width="120">
                </kendo-grid-column>

                <kendo-grid-column field="wlcomppackage" title="Package Code" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="wphname" title="Package Name" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="woadcomment" title="Comment" width="120">

                </kendo-grid-column>
                <kendo-grid-column field="woadforecast" title="Forecast" width="120" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woadforecast | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woadcommitted" title="Committed" width="140"
                    [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woadcommitted | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woadactual" title="Actual" width="140" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woadactual | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="woadapproved" title="Approved" width="140" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woadapproved | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="woadpending" title="Pending" width="140" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woadpending | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="mPgrA" title="Created By" width="140">
                </kendo-grid-column>
                <kendo-grid-column field="mPgqA" title="Created" width="140">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.mPgqA | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="mPgoA" title="Updated By" width="140">
                </kendo-grid-column>
                <kendo-grid-column field="mPgtA" title="Updated" width="140">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.mPgtA | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>


            </kendo-grid>
        </div>

        <form [formGroup]="defectForm" (ngSubmit)="onSubmit()" autocomplete="off" class="defectForm">
            <div class="col-md-12 mt-2">
                <div class="row formFieldArea">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><label class="col-form-label">Status:</label></div>
                                    <div class="col-md-9">
                                        <select formControlName="status"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.status }"
                                            autocomplete="off" class="form-control input-sm">
                                            <option value="New">New </option>
                                            <option value="Resolved">Resolved</option>
                                            <option
                                                *ngIf="defectFormMode == 'edit' && (selectedDefectInp?.wodstatus == 'Signed Off')"
                                                value="Signed Off">Signed Off</option>
                                        </select>


                                        <div *ngIf="submitted && formErrors.status" class="invalid-feedback">
                                            <div *ngIf="formErrors.status">{{ formErrors.status }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><label class="col-form-label">Identified Date:</label></div>
                                    <div class="col-md-9">
                                        <input formControlName="IdentifiedDate"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.IdentifiedDate }"
                                            autocomplete="off" autocomplete="off" (click)="openCalendar(ifd)"
                                            [minDate]="minDate" ngbDatepicker #ifd="ngbDatepicker"
                                            [placement]="'bottom'" type="text" class="form-control input-sm">

                                        <div *ngIf="submitted && formErrors.IdentifiedDate" class="invalid-feedback">
                                            <div *ngIf="formErrors.IdentifiedDate">{{ formErrors.IdentifiedDate }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><label class="col-form-label">Reported By:</label></div>
                                    <div class="col-md-9">
                                        <select formControlName="reportedBy"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.reportedBy }"
                                            autocomplete="off" class="form-control input-sm">
                                            <option value=""></option>
                                            <option *ngFor="let user of userList" [ngValue]="user.mpusid">
                                                {{user.m_USERNAME}}
                                            </option>
                                        </select>

                                        <div *ngIf="submitted && formErrors.reportedBy" class="invalid-feedback">
                                            <div *ngIf="formErrors.reportedBy">{{ formErrors.reportedBy }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row mt-1">
                            <div class="col-md-12">
                                <div class="row textareaDiv">
                                    <div class="col-md-2"><label class="col-form-label">Description:</label></div>
                                    <div class="col-md-10">
                                        <textarea formControlName="description"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.description }"
                                            autocomplete="off" class="form-control"></textarea>

                                        <div *ngIf="submitted && formErrors.description" class="invalid-feedback">
                                            <div *ngIf="formErrors.description">{{ formErrors.description }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-1">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><label class="col-form-label">Cost:</label></div>
                                    <div class="col-md-9">
                                        <input formControlName="cost"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.cost }"
                                            autocomplete="off" appCurrencyMask maxDigits="9" type="text"
                                            class="form-control input-sm">

                                        <div *ngIf="submitted && formErrors.cost" class="invalid-feedback">
                                            <div *ngIf="formErrors.cost">{{ formErrors.cost }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><label class="col-form-label">Score:</label></div>
                                    <div class="col-md-9">
                                        <input formControlName="score"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.score }"
                                            autocomplete="off" type="text" class="form-control input-sm">

                                        <div *ngIf="submitted && formErrors.score" class="invalid-feedback">
                                            <div *ngIf="formErrors.score">{{ formErrors.score }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-1">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><label class="col-form-label">Resolution Date:</label></div>
                                    <div class="col-md-9">
                                        <input formControlName="resolutionDate"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.resolutionDate }"
                                            autocomplete="off" autocomplete="off" (click)="openCalendar(rd)"
                                            [minDate]="minDate" ngbDatepicker #rd="ngbDatepicker" [placement]="'top'"
                                            type="text" class="form-control input-sm">

                                        <div *ngIf="submitted && formErrors.resolutionDate" class="invalid-feedback">
                                            <div *ngIf="formErrors.resolutionDate">{{ formErrors.resolutionDate }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><label class="col-form-label">Resolved By:</label></div>
                                    <div class="col-md-9">
                                        <select formControlName="resolvedBy"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.resolvedBy }"
                                            autocomplete="off" class="form-control input-sm">
                                            <option value=""></option>
                                            <option *ngFor="let user of userList" [ngValue]="user.mpusid">
                                                {{user.m_USERNAME}}
                                            </option>
                                        </select>

                                        <div *ngIf="submitted && formErrors.resolvedBy" class="invalid-feedback">
                                            <div *ngIf="formErrors.resolvedBy">{{ formErrors.resolvedBy }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row mt-1">
                            <div class="col-md-12">
                                <div class="row textareaDiv">
                                    <div class="col-md-2"><label class="col-form-label">Resolution Details:</label>
                                    </div>
                                    <div class="col-md-10">
                                        <textarea formControlName="resolutionDetails"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.resolutionDetails }"
                                            autocomplete="off" class="form-control"></textarea>

                                        <div *ngIf="submitted && formErrors.resolutionDetails" class="invalid-feedback">
                                            <div *ngIf="formErrors.resolutionDetails">{{ formErrors.resolutionDetails }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><label class="col-form-label">Sign Off Date:</label></div>
                                    <div class="col-md-9">
                                        <input formControlName="signOffDate"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.signOffDate }"
                                            autocomplete="off" autocomplete="off" (click)="openCalendar(sod)"
                                            [minDate]="minDate" ngbDatepicker #sod="ngbDatepicker" [placement]="'top'"
                                            type="text" class="form-control input-sm">

                                        <div *ngIf="submitted && formErrors.signOffDate" class="invalid-feedback">
                                            <div *ngIf="formErrors.signOffDate">{{ formErrors.signOffDate }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><label class="col-form-label">Sign Off By:</label></div>
                                    <div class="col-md-9">
                                        <input formControlName="signOffBy"
                                            [ngClass]="{ 'is-invalid': submitted && formErrors.signOffBy }"
                                            autocomplete="off" type="text" class="form-control input-sm">

                                        <div *ngIf="submitted && formErrors.signOffBy" class="invalid-feedback">
                                            <div *ngIf="formErrors.signOffBy">{{ formErrors.signOffBy }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


            <div class="col-md-12 mt-4 text-right">
                <button [disabled]="selectedDefectInp?.wodstatus == 'Signed Off'" type="submit"
                    class="btn btn-sm themeButton mr-1">Apply</button>
                <button type="button" class="btn btn-sm themeButton" (click)="closeDefectForm()">Cancel</button>
            </div>

        </form>
    </div>



</kendo-window>