<div class="container-fluid flex-grow-1 container-p-y">

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <h4 class="font-weight-bold py-3 mb-1">
                Configuration
            </h4>
        </div>

        <div class="col-md-10 text-right" *ngIf="selectedEvent.length > 1">
            <button *ngIf="taskSecurityList.indexOf('Edit') != -1" type="button" class="btn btn-sm themeButton mr-1" (click)="editEventMethod()">Edit</button>
            <button *ngIf="taskSecurityList.indexOf('Notify') != -1" type="button" class="btn btn-sm themeButton mr-1" (click)="opneNotifyWindow()">Notify</button>
            <button type="button" class="btn btn-sm themeButton mr-1" (click)="runEvent()">Run</button>
            <button type="button" class="btn btn-sm themeButton mr-1" (click)="copyEvent()">Copy</button>
            <button type="button" class="btn btn-sm themeButton" (click)="openConfirmationDialog()">Delete</button>
        </div>

    </div>


    <div class="row mt-2">
        <div class="col-md-12">

            <kendo-grid (groupChange)="groupChange($event)" [group]="state.group" [groupable]="true" [data]="gridView"
                [height]="720" filterable="menu" [loading]="loading" [resizable]="true" [sortable]="{
        allowUnsort: allowUnsort,
        mode: multiple ? 'multiple' : 'single'
        }" [skip]="state.skip" [sort]="state.sort" [selectable]="selectableSettings" kendoGridSelectBy="eventTypeCode"
                [selectedKeys]="mySelection" (selectedKeysChange)="onSelectedKeysChange($event)" [filter]="state.filter"
                (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
                (cellClick)="cellClickHandler($event)" [navigable]="true">

                <kendo-grid-column title=" " width="37" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <li [ngClass]="{'disabled' : selectedEvent.length > 1}" class="nav-item dropdown list-unstyled"
                            style="margin-top: -7px;">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>
                            <div class="dropdown-menu">
                                <a  *ngIf="taskSecurityList.indexOf('Edit') != -1" class="dropdown-item" href="javascript:void(0)" (click)="editEventMethod()">Edit</a>
                                <a *ngIf="taskSecurityList.indexOf('Notify') != -1" class="dropdown-item" href="javascript:void(0)"
                                    (click)="opneNotifyWindow()">Notify</a>
                                <a *ngIf="taskSecurityList.indexOf('Parameters') != -1" [ngClass]="{'disabled' : (dataItem.eventParamCount <= 0 &&  dataItem.eventParamEmptyCount != 0) || (dataItem.eventParamCount <= 0 &&  dataItem.eventParamEmptyCount <= 0) }"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="openParamsWindow()">Parameter(s)</a>

                                <a class="dropdown-item" href="javascript:void(0)" (click)="runEvent()">Run</a>
                                <a [ngClass]="{'disabled' : dataItem.eventTypeStatus == 'S' && validRundate(dataItem.eventNextRunDate)  }"
                                    class="dropdown-item" href="javascript:void(0)" (click)="copyEvent()">Copy</a>
                                <a [ngClass]="{'disabled' : dataItem.eventTypeUpdatedBy != currentUser.userId}"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="openConfirmationDialog()">Delete</a>

                            </div>
                        </li>

                    </ng-template>
                </kendo-grid-column>




                <kendo-grid-column field="eventParamEmptyCount" title="Parameters" width="50" [filterable]="false"
                    [groupable]="true">

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            <img style="height: 14px;"
                                *ngIf="dataItem.eventParamCount > 0 &&  dataItem.eventParamEmptyCount == 0"
                                src="assets/img/icons/tick.png" />
                            <img style="height: 14px;"
                                *ngIf="dataItem.eventParamCount > 0 &&  dataItem.eventParamEmptyCount > 0"
                                src="assets/img/icons/cross.png" />

                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="eventTypeNotifyCount" title="Notification" width="50" [filterable]="false" [groupable]="true">

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            <img style="height: 14px;" *ngIf="dataItem.eventTypeNotifyCount > 0"
                                src="assets/img/icons/tick.png" />
                            <img style="height: 14px;" *ngIf="dataItem.eventTypeNotifyCount == 0"
                                src="assets/img/icons/cross.png" />

                        </span>
                    </ng-template>
                </kendo-grid-column>



                <kendo-grid-column field="eventTypeCode" title="Code" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="busAreaDesc" title="Business Area" width="170">
                </kendo-grid-column>
                <kendo-grid-column field="busAreaOwnerName" title="Owner" width="170">
                </kendo-grid-column>
                <kendo-grid-column field="eventTypeName" title="Name" width="330">
                </kendo-grid-column>
                <kendo-grid-column field="eventTypeDesc" title="Desc" width="400">
                </kendo-grid-column>
                <kendo-grid-column field="eventTypeCategoryName" title="Category" width="120">
                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                        let-filterService="filterService">
                        <multicheck-filter [isPrimitive]="false" [field]="column.field" [currentFilter]="filter"
                            [filterService]="filterService" textField="text" valueField="val"
                            [data]="distinctPrimitive(column.field)">
                        </multicheck-filter>
                    </ng-template>
                    <!-- <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.eventTypeCategory == "P" ? "Process" : dataItem.eventTypeCategory }}
                        </span>
                    </ng-template> -->
                </kendo-grid-column>

                <kendo-grid-column field="eventTaskTypeName" title="Task Type" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="eventSevTypeName" title="Severity" width="130">
                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                        let-filterService="filterService">
                        <multicheck-filter [isPrimitive]="false" [field]="column.field" [currentFilter]="filter"
                            [filterService]="filterService" textField="text" valueField="val"
                            [data]="distinctPrimitive(column.field)">
                        </multicheck-filter>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="eventTypeStatusName" title="Status" width="170">
                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                        let-filterService="filterService">
                        <multicheck-filter [isPrimitive]="false" [field]="column.field" [currentFilter]="filter"
                            [filterService]="filterService" textField="text" valueField="val"
                            [data]="distinctPrimitive(column.field)">
                        </multicheck-filter>
                    </ng-template>

                </kendo-grid-column>
                <kendo-grid-column field="eventTypeDueDays" title="Complete Within (days)" width="120" filter="numeric"
                    format="{0:b}">
                </kendo-grid-column>
                <kendo-grid-column field="eventESCToDays1" title="Esc Days 1" width="120" filter="numeric"
                    format="{0:b}">
                </kendo-grid-column>

                <kendo-grid-column field="eventESCUser1Name" title="Esc User 1" width="150">
                </kendo-grid-column>

                <kendo-grid-column field="eventESCToDays2" title="Esc Days 2" width="120" filter="numeric"
                    format="{0:b}">
                </kendo-grid-column>
                <kendo-grid-column field="eventESCUser2Name" title="Esc User 2" width="150">
                </kendo-grid-column>

                <kendo-grid-column field="eventESCToDays3" title="Esc Days 3" width="130" filter="numeric"
                    format="{0:b}">
                </kendo-grid-column>
                <kendo-grid-column field="eventESCUser3Name" title="Esc User 3" width="150">
                </kendo-grid-column>

                <kendo-grid-column field="eventPeriodType" title="Schedule Type" width="140" filter="numeric"
                    format="{0:b}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span *ngIf="dataItem.eventPeriod != 0">
                            {{ eventPeriod[dataItem.eventPeriodType] }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="eventPeriod" title="Schedule Frequency" width="160" filter="numeric"
                    format="{0:b}">
                </kendo-grid-column>

                <kendo-grid-column field="eventLastRunDate" title="Last Run Date" width="120" filter="date"
                    format="{0:dd-MM-yyyy}">
                    <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
                        </date-range-filter>
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.eventLastRunDate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="eventNextRunDate" title="Next Run Date" width="120" filter="date"
                    format="{0:dd-MM-yyyy}">
                    <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
                        </date-range-filter>
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.eventNextRunDate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="eventTypeCreatedBy" title="Created By" width="120">

                </kendo-grid-column>
                <kendo-grid-column field="eventTypeCreatedDate" title="Created" width="120" filter="date"
                    format="{0:dd-MM-yyyy}">
                    <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
                        </date-range-filter>
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.eventTypeCreatedDate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="eventTypeUpdatedBy" title="Updated By" width="120">

                </kendo-grid-column>
                <kendo-grid-column field="eventTypeUpdatedDate" title="Updated" width="120" filter="date"
                    format="{0:dd-MM-yyyy}">
                    <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
                        </date-range-filter>
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.eventTypeUpdatedDate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>



            </kendo-grid>

        </div>
    </div>
</div>

<div class="taskDetails"></div>

<app-event-parameters *ngIf="paramsWindow" [selectedEvent]="selectedEvent" [paramsWindow]="paramsWindow"
    (closeEventparamWindow)="closeEventparamWindow($event)"></app-event-parameters>

<app-notify *ngIf="notifyWindow" [notifyWindow]="notifyWindow" [selectedEvent]="selectedEvent"
    (closeNotifyWindow)="closeNotifyWindow($event)"></app-notify>

<app-edit-event *ngIf="editEvent" [editEvent]="editEvent" [selectedEvent]="selectedEvent"
    (closeEditEvent)="closeEditEvent($event)"></app-edit-event>