<div class="row">
  <div class="col-md-12">
    <label class="form-check form-check-inline">
      <input (change)="includeOnlyGroup($event)" class="form-check-input" type="checkbox">
      <span class="form-check-label">
        Included Only
      </span>
    </label>
  </div>


  <div class="col-md-12 mt-2">
    <kendo-grid id="assetPortalGroup" #grid="kendoGrid" [data]="gridView" [pageSize]="pageSize" [rowHeight]="36"
      (pageChange)="pageChange($event)" scrollable="virtual" [loading]="loading" filterable="menu" [resizable]="true"
      [sortable]="{
        allowUnsort: true,
        mode: 'single'
        }" [skip]="state.skip" [sort]="state.sort" [selectable]="selectableSettings" [filter]="state.filter"
      (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
      [navigable]="false" [virtualColumns]="false" [kendoGridSelectBy]="mySelectionKey" [selectedKeys]="mySelection"
      [height]="gridHeight">

      <kendo-grid-column title=" " width="30" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <input class="text-center" (change)="assigneGroup($event,dataItem.portalTabId)"
            [attr.checked]="dataItem.isSelected ? 'checked' : null" type="checkbox">
        </ng-template>
      </kendo-grid-column>

     
      <kendo-grid-column field="tabName" title="Name" width="160">
      </kendo-grid-column>
      <kendo-grid-column field="description" title="Description" width="160">
      </kendo-grid-column>
      <kendo-grid-column field="status" title="Status" width="100">
      </kendo-grid-column>

    </kendo-grid>
  </div>

</div>



