<div class="row">
  <div class="col-md-6">
    <label class="form-check form-check-inline">
      <input (change)="includeOnlyGroup($event)" class="form-check-input" type="checkbox">
      <span class="form-check-label">
        Included Only
      </span>
    </label>
  </div>

  <div class="col-md-6 searchBox text-right">
    <input type="text" placeholder="Search" class="form-control" (input)="onFilter($event.target.value)"> 
  </div>


  <div class="col-md-12 mt-2">
    <kendo-grid id="assetPortalGroup" #grid="kendoGrid" [data]="gridView" [pageSize]="pageSize" [rowHeight]="36"
      (pageChange)="pageChange($event)" scrollable="virtual" [loading]="loading" filterable="menu" [resizable]="true"
      [sortable]="{
        allowUnsort: true,
        mode: 'single'
        }" [skip]="state.skip" [sort]="state.sort" [selectable]="selectableSettings" [filter]="state.filter"
      (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
      [navigable]="false" [virtualColumns]="false" [kendoGridSelectBy]="mySelectionKey" [selectedKeys]="mySelection"
      [height]="gridHeight">


      <kendo-grid-checkbox-column width="25" showSelectAll="false">
        <ng-template kendoGridHeaderTemplate>
          <input class="k-checkbox" id="selectAllCheckboxId" kendoGridSelectAllCheckbox>
          <label class="k-checkbox-label" for="selectAllCheckboxId"></label>
        </ng-template>
      </kendo-grid-checkbox-column>

     
      <kendo-grid-column field="tabName" title="Name" width="140" [filterable]="false">
      </kendo-grid-column>
      <kendo-grid-column field="description" title="Description" width="180" [filterable]="false">
      </kendo-grid-column>
      <kendo-grid-column field="status" title="Status" width="100" [filterable]="false">
      </kendo-grid-column>

    </kendo-grid>
  </div>

  <div class="col-md-12 mt-4 text-right">
    <button type="button" (click)="close()" class="mr-1 btn btn-sm themeButton">Cancel</button>
    <button type="button" (click)="save()" class="btn btn-sm themeButton">Ok</button>
  </div>


</div>



