.k-window {
    position: fixed !important;
}

.detailDiv{
    margin-top: -12px;
}

.detailHeadingDiv{
    width: 100%;
    /* text-align: center; */
    background: #d7d7d7;
    position: relative;
    padding: 5px;
    
}

.detailHeadingDiv span{
    font-weight: 600;
    font-size: 15px;
}

.detailHeadingDiv p{
    margin: 0px;
    padding-bottom: 6px;
}

.actionAreaBtn button{
    margin-left: 5px;
}

.fa-info-circle{
    font-size: 17px;
    margin-top: 9px;
}