<!-- <h1>User logout in:  {{ (minutesDisplay) }}:{{ (secondsDisplay) && (secondsDisplay <=59) ? secondsDisplay : '00' }}
</h1> -->

<div class="layout-wrapper layout-2">
    <div class="layout-inner">

        <!-- Layout sidenav -->
        <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical sidbarDiv">

            <!-- Brand demo (see assets/css/demo/demo.css) -->
            <div class="app-brand demo">
                <img class="brand-logo" src="assets/img/icons/logo-dashboard.svg"
                    style="display:inline-block; max-height: 50px;" />

                <a href="#" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Apex</a>
                <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
                    <i class="ion ion-md-menu align-middle"></i>
                </a>
            </div>

            <div class="sidenav-divider mt-0"></div>

            <!-- Links -->
            <ul class="sidenav-inner py-1">

                <!-- Dashboards -->

                <li *ngIf="apexDashboardPermission.indexOf('Dashboard') != -1" class="sidenav-item"
                    [routerLinkActive]="['active']">
                    <a [routerLink]="['/dashboard']" class="sidenav-link">
                        <!-- <i class="sidenav-icon ion ion-md-quote"></i> -->
                        <img class="sidenav-icon ion" src="assets/img/icons/dashboard.svg">
                        <div class="active">Dashboard</div>
                    </a>
                </li>

                <li *ngIf="checkAngularGrpPermission('Assets','Asset Portal Access', 1)" class="sidenav-item"
                    [routerLinkActive]="['active']">
                    <!-- <a [routerLink]="['/AssetPortal']" class="sidenav-link" target="_blank"> -->
                    <a [routerLink]="['/asset-list']" class="sidenav-link">
                        <!-- <i class="sidenav-icon ion ion-md-speedometer"></i> -->
                        <img class="sidenav-icon ion" src="assets/img/icons/assets.svg">
                        <div>Assets</div>
                    </a>

                </li>

                <li *ngIf="checkAngularGrpPermission('Assets','Asset Portal Access', 0)" class="sidenav-item"
                    [routerLinkActive]="['active']">
                    <!-- <a [routerLink]="['/AssetPortal']" class="sidenav-link" target="_blank"> -->
                    <a href="https://apexdevweb.rowanwood.ltd/dev/Rowanwood/AssetPortal" class="sidenav-link">
                        <!-- <i class="sidenav-icon ion ion-md-speedometer"></i> -->
                        <img class="sidenav-icon ion" src="assets/img/icons/assets.svg">
                        <div>Assets</div>
                    </a>

                </li>

                <li *ngIf="checkAngularGrpPermission('Asbestos','Asbestos Portal Access',1)" class="sidenav-item">
                    <a href="javascript:void(0);" class="sidenav-link">
                        <img class="sidenav-icon ion" src="assets/img/icons/asbestos.svg">
                        <div>Asbestos</div>
                    </a>
                </li>

                <li *ngIf="checkAngularGrpPermission('Asbestos','Asbestos Portal Access',0)" class="sidenav-item">
                    <a href="https://apexdevweb.rowanwood.ltd/dev/Rowanwood/AsbestosPortal" class="sidenav-link"
                        target="_blank">
                        <img class="sidenav-icon ion" src="assets/img/icons/asbestos.svg">
                        <div>Asbestos</div>
                    </a>
                </li>


                <li *ngIf="checkAngularGrpPermission('Energy','Energy Portal Access',0)" class="sidenav-item">
                    <a href="https://apexdevweb.rowanwood.ltd/dev/Rowanwood/EnergyPortal" class="sidenav-link"
                        target="_blank">
                        <img class="sidenav-icon ion" src="assets/img/icons/energy.svg">
                        <div>Energy</div>
                    </a>
                </li>

                <li class="sidenav-item" [routerLinkActive]="['open']"
                    *ngIf="checkMenuAccess('EPCs', 1) && checkEnergyPortalAccess('Energy Portal Access') && checkModuleEnabled('EPC Module') && checkEnergyPortalAccess('Dashboard')">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/event-manager.svg">
                        <div>EPC</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="checkMenuAccess('EPCs', 1) && checkEnergyPortalAccess('Dashboard') && checkModuleEnabled('EPC Module')">
                            <a [routerLink]="['/epc/dashboard']" class="sidenav-link">
                                <div>Dashboard</div>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="sidenav-item" [routerLinkActive]="['open']"
                    *ngIf="checkAngularGrpPermission('Tasks', 'Event Manager Portal Access',1)">
                    <!-- <li class="sidenav-item" [routerLinkActive]="['open']"
                    > -->
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/event-manager.svg">
                        <div>Tasks</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="tasksPortalPermissions.indexOf('Event Dashboard') != -1">
                            <a [routerLink]="['/tasks/dashboard']" class="sidenav-link">
                                <div>Dashboard</div>
                            </a>
                        </li>

                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="tasksPortalPermissions.indexOf('Manage Event Types') != -1">
                            <a [routerLink]="['/tasks/configuration']" class="sidenav-link">
                                <div>Configuration</div>
                            </a>
                        </li>

                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="tasksPortalPermissions.indexOf('Manage User Events') != -1">
                            <a [routerLink]="['/tasks/tasks']" class="sidenav-link">
                                <div>Tasks</div>
                            </a>
                        </li>


                    </ul>
                </li>

                <li *ngIf="checkAngularGrpPermission('Event Manager', 'Event Manager Portal Access',0)"
                    class="sidenav-item">
                    <a href="https://apexdevweb.rowanwood.ltd/dev/Rowanwood/EventManager" class="sidenav-link"
                        target="_blank">
                        <img class="sidenav-icon ion" src="assets/img/icons/event-manager.svg">
                        <div>Event Manager</div>
                    </a>

                </li>



                <li *ngIf="checkAngularGrpPermission('Health & Safety','Health And Safety Portal Access',0)"
                    class="sidenav-item">
                    <a href="https://apexdevweb.rowanwood.ltd/dev/Rowanwood/HealthAndSafety" class="sidenav-link"
                        target="_blank">
                        <img class="sidenav-icon ion" src="assets/img/icons/healthnsafety.svg">
                        <div>Health & Safety</div>
                    </a>

                </li>

                <li class="sidenav-item" [routerLinkActive]="['open']"
                    *ngIf="checkAngularGrpPermission('Health & Safety','Health And Safety Portal Access',1)">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/healthnsafety.svg">
                        <div>Health & Safety</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="hnsPortalPermissions.indexOf('Dashboard') != -1">
                            <a [routerLink]="['/health&safety/dashboard']" class="sidenav-link">
                                <div>Dashboard</div>
                            </a>
                        </li>
                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="hnsPortalPermissions.indexOf('Definitions') != -1">
                            <a [routerLink]="['/health&safety/definitions']" class="sidenav-link">
                                <div>Definitions</div>
                            </a>
                        </li>
                        <li class="sidenav-item" [routerLinkActive]="['open']"
                            *ngIf="hnsPortalPermissions.indexOf('Results') != -1">
                            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                                <div>Results</div>
                            </a>

                            <ul class="sidenav-menu">
                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="hnsPortalPermissions.indexOf('Actions Tab') != -1">
                                    <a [routerLink]="['/health&safety/results/actions']" class="sidenav-link">
                                        <div>Actions</div>
                                    </a>
                                </li>
                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="hnsPortalPermissions.indexOf('Information Tab') != -1">
                                    <a [routerLink]="['/health&safety/results/information']" class="sidenav-link">
                                        <div>Information</div>
                                    </a>
                                </li>
                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="hnsPortalPermissions.indexOf('Summary Tab') != -1">
                                    <a [routerLink]="['/health&safety/results/summary']" class="sidenav-link">
                                        <div>Summary</div>
                                    </a>
                                </li>
                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="hnsPortalPermissions.indexOf('Assessments Tab') != -1">
                                    <a [routerLink]="['/health&safety/results/assessment']" class="sidenav-link">
                                        <div>Assessments</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>



                <li *ngIf="checkAngularGrpPermission('Works Orders','Works Order Portal Access', 0)"
                    class="sidenav-item">
                    <a href="https://apexdevweb.rowanwood.ltd/dev/Rowanwood/WorksOrders" class="sidenav-link"
                        target="_blank">
                        <img class="sidenav-icon ion" src="assets/img/icons/workorders.svg">
                        <div>Works Orders</div>
                    </a>

                </li>


                <li class="sidenav-item" [routerLinkActive]="['open']"
                    *ngIf="checkMenuAccess('Works Orders', 1) && checkWorksOrdersAccess('Works Order Portal Access') && checkModuleEnabled('WOPM')">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/workorders.svg">
                        <div>Works Orders</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="checkWorksOrdersAccess('Dashboard')">
                            <a [routerLink]="['/worksorders/dashboard']" class="sidenav-link">
                                <div>Dashboard</div>
                            </a>
                        </li>
                        <li class="sidenav-item" [routerLinkActive]="['active']" *ngIf="checkWorksOrdersAccess('Programme Management')">
                            <a [routerLink]="['/worksorders/management']" class="sidenav-link">
                                <div>Management</div>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="sidenav-item" [routerLinkActive]="['open']" *ngIf="currentUser?.admin == 'Y'">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/security.svg">
                        <div>Security</div>
                    </a>

                    <ul class="sidenav-menu">
                        <li class="sidenav-item" [routerLinkActive]="['active']">
                            <a [routerLink]="['/security-portal/users']" class="sidenav-link">
                                <div>Users</div>
                            </a>
                        </li>
                        <li class="sidenav-item" [routerLinkActive]="['active']">
                            <a [routerLink]="['/security-portal/groups']" class="sidenav-link">
                                <div>Groups</div>
                            </a>
                        </li>
                    </ul>
                </li>


                <li *ngIf="checkAngularGrpPermission('Servicing','Servicing Portal Access', 0)" class="sidenav-item">
                    <a href="https://apexdevweb.rowanwood.ltd/dev/rowanwood/SIM_Portal" class="sidenav-link"
                        target="_blank">
                        <img class="sidenav-icon ion" src="assets/img/icons/servicing.svg">
                        <div>Servicing</div>
                    </a>
                </li>


                <li class="sidenav-item" [routerLinkActive]="['open']"
                    *ngIf="checkAngularGrpPermission('Servicing','Servicing Portal Access',1) && checkServiceMenuAccess()">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/servicing.svg">
                        <div>Servicing</div>
                    </a>

                    <ul class="sidenav-menu">
                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="checkValueInArray('Charts Tab')">
                            <a [routerLink]="['/servicing/dashboard']" class="sidenav-link">
                                <div>Dashboard</div>
                            </a>
                        </li>
                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="checkValueInArray('Management Tab')">
                            <a [routerLink]="['/servicing/management']" class="sidenav-link">
                                <div>Management</div>
                            </a>
                        </li>
                    </ul>
                </li>



                <li *ngIf="checkAngularGrpPermission('Surveying','Survey Portal Access',0)" class="sidenav-item">
                    <a href="https://apexdevweb.rowanwood.ltd/dev/Rowanwood/SurveyPortal" class="sidenav-link"
                        target="_blank">
                        <img class="sidenav-icon ion" src="assets/img/icons/Surveying.svg">
                        <div>Surveying</div>
                    </a>
                </li>

                <li class="sidenav-item" [routerLinkActive]="['open']"
                    *ngIf="checkAngularGrpPermission('Surveying','Survey Portal Access',1)">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/Surveying.svg">
                        <div>Surveying</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="SurveyPortalPermissions.indexOf('Survey Dashboard') != -1">
                            <a [routerLink]="['/surveying/dashboard']" class="sidenav-link">
                                <div>Dashboard</div>
                            </a>
                        </li>
                        <li class="sidenav-item" [routerLinkActive]="['open']"
                            *ngIf="SurveyPortalPermissions.indexOf('Projects') != -1">
                            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                                <div>Surveys</div>
                            </a>
                            <ul class="sidenav-menu">
                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="SurveyPortalPermissions.indexOf('Projects') != -1">
                                    <a [routerLink]="['/surveying/projects']" class="sidenav-link">
                                        <div>Projects</div>
                                    </a>
                                </li>
                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="SurveyPortalPermissions.indexOf('Project Surveys') != -1">
                                    <div *ngIf="checkLinkEnabled('firstLink', 'SurvProj')">
                                        <a [routerLink]="['/surveying/projectsurveys']" class="sidenav-link">
                                            <div>Project Surveys</div>
                                        </a>
                                    </div>
                                    <div *ngIf="checkLinkEnabled('', 'SurvProj')">
                                        <a class="sidenav-link" href="javascript:void(0)">
                                            <div>Project Surveys</div>
                                        </a>
                                    </div>
                                </li>

                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="SurveyPortalPermissions.indexOf('Survey Batches') != -1">
                                    <div *ngIf="checkLinkEnabled('firstLink', 'SurvProj')">
                                        <a [routerLink]="['/surveying/batches']" class="sidenav-link">
                                            <div>Batches</div>
                                        </a>
                                    </div>
                                    <div *ngIf="checkLinkEnabled('', 'SurvProj')">
                                        <a class="sidenav-link" href="javascript:void(0)">
                                            <div>Batches</div>
                                        </a>
                                    </div>
                                </li>

                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="SurveyPortalPermissions.indexOf('Survey Batch Asset') != -1">
                                    <div *ngIf="checkLinkEnabled('firstLink', 'SurvBatch')">
                                        <a [routerLink]="['/surveying/batchsurveys']" class="sidenav-link">
                                            <div>Batch Surveys</div>
                                        </a>
                                    </div>
                                    <div *ngIf="checkLinkEnabled('', 'SurvBatch')">
                                        <a class="sidenav-link" href="javascript:void(0)">
                                            <div>Batch Surveys</div>
                                        </a>
                                    </div>

                                </li>

                            </ul>
                        </li>
                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="SurveyPortalPermissions.indexOf('Surveyors') != -1">
                            <a class="sidenav-link" href="javascript:void(0)">
                                <div>Surveyors</div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li *ngIf="checkAngularGrpPermission('Reporter','Web Reporter Portal Access',0)" class="sidenav-item">
                    <a href="https://apexdevweb.rowanwood.ltd/dev/Rowanwood/WebReporter" class="sidenav-link"
                        target="_blank">
                        <img class="sidenav-icon ion" src="assets/img/icons/reports.svg">
                        <div>Reporter</div>
                    </a>
                </li>

                <li class="sidenav-item" [routerLinkActive]="['open']"
                    *ngIf="checkAngularGrpPermission('Reporter','Web Reporter Portal Access',1) && reporterPortalPermissions.indexOf('Web Reporter Portal Access') != -1">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/reports.svg">
                        <div>Reporting</div>
                    </a>

                    <ul class="sidenav-menu">
                        <li *ngIf="reporterPortalPermissions.indexOf('Reports') != -1" class="sidenav-item"
                            [routerLinkActive]="['active']">
                            <a [routerLink]="['/reporting/reports']" class="sidenav-link">
                                <div>Reports</div>
                            </a>
                        </li>
                        <li *ngIf="reporterPortalPermissions.indexOf('Published') != -1" class="sidenav-item"
                            [routerLinkActive]="['active']">
                            <a [routerLink]="['/reporting/published']" class="sidenav-link">
                                <div>Published</div>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="sidenav-item" [routerLinkActive]="['open']" *ngIf="this.currentUser?.admin == 'Y'">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/servicing.svg">
                        <div>Settings</div>
                    </a>

                    <ul class="sidenav-menu">
                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="checkMenuAccess('EPCs', 1) && checkEnergyPortalAccess('Energy Portal Access') && checkModuleEnabled('EPC Module')">
                            <a [routerLink]="['/epc-settings']" class="sidenav-link">
                                <div>EPC</div>
                            </a>
                        </li>

                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="checkAngularGrpPermission('Servicing','Servicing Portal Access',1) && checkServiceMenuAccess()">
                            <a [routerLink]="['/service-settings']" class="sidenav-link">
                                <div>Servicing & Inspection</div>
                            </a>
                        </li>

                        <li class="sidenav-item" [routerLinkActive]="['active']"
                            *ngIf="checkAngularGrpPermission('Health & Safety','Health And Safety Portal Access',1)">
                            <a [routerLink]="['/hns-settings']" class="sidenav-link">
                                <div>Health & Safety</div>
                            </a>
                        </li>


                        <li class="sidenav-item" [routerLinkActive]="['active']">
                            <a [routerLink]="['/tasks-settings']" class="sidenav-link">
                                <div>Tasks</div>
                            </a>
                        </li>

                        <li class="sidenav-item" [routerLinkActive]="['active']">
                            <a [routerLink]="['/business-areas']" class="sidenav-link">
                                <div>Business Area</div>
                            </a>
                        </li>

                        <li class="sidenav-item" [routerLinkActive]="['active']">
                            <a [routerLink]="['/notification']" class="sidenav-link">
                                <div>Notification Groups</div>
                            </a>
                        </li>

                        <li class="sidenav-item" [routerLinkActive]="['active']">
                            <a [routerLink]="['/web-reporter-settings']" class="sidenav-link">
                                <div>Reporting</div>
                            </a>
                        </li>

                    </ul>
                </li>




                <li class="sidenav-item" [routerLinkActive]="['open']"
                    *ngIf="this.currentUser?.admin == 'Y' && checkUnderDevelopmentMenuPermission('Portals')">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/servicing.svg">
                        <div>Portals</div>
                    </a>

                    <ul class="sidenav-menu">
                        <ng-container *ngFor="let slMenu of silverLightMenus">
                            <li class="sidenav-item" [routerLinkActive]="['active']"
                                *ngIf="checkSilverLightPortals(slMenu.menuName, slMenu.grpPermissionName, 1)">
                                <a href="{{slMenu.silverLightLink}}" class="sidenav-link" target="_blank">
                                    <div>{{slMenu.menuName}}</div>
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                </li>




                <li class="sidenav-item" *ngIf="checkUnderDevelopmentMenuPermission('Under Development')">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <img class="sidenav-icon ion" src="assets/img/icons/servicing.svg">
                        <div>Under Development</div>

                    </a>
                    <ul class="sidenav-menu">

                        <li class="sidenav-item" [routerLinkActive]="['open']"
                            *ngIf="checkGroupPermission('Servicing Portal Access') && checkServiceMenuAccess()">
                            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                                <div>Servicing</div>
                            </a>

                            <ul class="sidenav-menu">
                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    [routerLinkActiveOptions]="{exact:true}" *ngIf="checkValueInArray('Charts Tab')">
                                    <a [routerLink]="['/servicing/dashboard']" class="sidenav-link">
                                        <div>Dashboard</div>
                                    </a>
                                </li>
                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="checkValueInArray('Management Tab')">
                                    <a [routerLink]="['/servicing/management']" class="sidenav-link">
                                        <div>Management</div>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="sidenav-item" [routerLinkActive]="['open']"
                            *ngIf="checkGroupPermission('Event Manager Portal Access')">

                            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                                <div>Tasks</div>
                            </a>
                            <ul class="sidenav-menu">
                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="tasksPortalPermissions.indexOf('Event Dashboard') != -1">
                                    <a [routerLink]="['/tasks/dashboard']" class="sidenav-link">
                                        <div>Dashboard</div>
                                    </a>
                                </li>

                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="tasksPortalPermissions.indexOf('Manage Event Types') != -1">
                                    <a [routerLink]="['/tasks/configuration']" class="sidenav-link">
                                        <div>Configuration</div>
                                    </a>
                                </li>

                                <li class="sidenav-item" [routerLinkActive]="['active']"
                                    *ngIf="tasksPortalPermissions.indexOf('Manage User Events') != -1">
                                    <a [routerLink]="['/tasks/tasks']" class="sidenav-link">
                                        <div>Tasks</div>
                                    </a>
                                </li>

                            </ul>
                        </li>


                        <li class="sidenav-item" [routerLinkActive]="['open']" [routerLinkActiveOptions]="{exact:true}"
                            *ngIf="checkGroupPermission('Health And Safety Portal Access') && checkHnsLeftSideMenu()">
                            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                                <div>Health & Safety</div>
                            </a>
                            <ul class="sidenav-menu">
                                <li class="sidenav-item" [routerLinkActive]="['active']">
                                    <a [routerLink]="['/health&safety/dashboard']" class="sidenav-link">
                                        <div>Dashboard</div>
                                    </a>
                                </li>
                                <li class="sidenav-item" [routerLinkActive]="['active']">
                                    <a [routerLink]="['/health&safety/definitions']" class="sidenav-link">
                                        <div>Definitions</div>
                                    </a>
                                </li>

                                <li class="sidenav-item" [routerLinkActive]="['open']"
                                    *ngIf="hnsPortalPermissions.indexOf('Results') != -1">
                                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                                        <div>Results</div>
                                    </a>

                                    <ul class="sidenav-menu">
                                        <li class="sidenav-item" [routerLinkActive]="['active']"
                                            *ngIf="hnsPortalPermissions.indexOf('Actions Tab') != -1">
                                            <a [routerLink]="['/health&safety/results/actions']" class="sidenav-link">
                                                <div>Actions</div>
                                            </a>
                                        </li>
                                        <li class="sidenav-item" [routerLinkActive]="['active']"
                                            *ngIf="hnsPortalPermissions.indexOf('Information Tab') != -1">
                                            <a [routerLink]="['/health&safety/results/information']"
                                                class="sidenav-link">
                                                <div>Information</div>
                                            </a>
                                        </li>
                                        <li class="sidenav-item" [routerLinkActive]="['active']"
                                            *ngIf="hnsPortalPermissions.indexOf('Summary Tab') != -1">
                                            <a [routerLink]="['/health&safety/results/summary']" class="sidenav-link">
                                                <div>Summary</div>
                                            </a>
                                        </li>
                                        <li class="sidenav-item" [routerLinkActive]="['active']"
                                            *ngIf="hnsPortalPermissions.indexOf('Assessments Tab') != -1">
                                            <a [routerLink]="['/health&safety/results/assessment']"
                                                class="sidenav-link">
                                                <div>Assessments</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>


                        <li class="sidenav-item" [routerLinkActive]="['open']"
                            *ngIf="checkGroupPermission('Web Reporter Portal Access') && reporterPortalPermissions.indexOf('Web Reporter Portal Access') != -1">
                            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                                <div>Reporting</div>
                            </a>

                            <ul class="sidenav-menu">
                                <li *ngIf="reporterPortalPermissions.indexOf('Reports') != -1" class="sidenav-item"
                                    [routerLinkActive]="['active']">
                                    <a [routerLink]="['/reporting/reports']" class="sidenav-link">
                                        <div>Reports</div>
                                    </a>
                                </li>
                                <li *ngIf="reporterPortalPermissions.indexOf('Published') != -1" class="sidenav-item"
                                    [routerLinkActive]="['active']">
                                    <a [routerLink]="['/reporting/published']" class="sidenav-link">
                                        <div>Published</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- / Layout sidenav -->

        <!-- Layout container -->
        <div class="layout-container">
            <!-- Layout navbar -->
            <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x"
                id="layout-navbar">

                <!-- Brand demo (see assets/css/demo/demo.css) -->
                <a href="index.html" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
                    <img class="app-brand-logo" src="assets/img/icons/logo.svg"
                        style="display:inline-block; max-height: 50px;" />
                    <span class="app-brand-text demo font-weight-normal ml-2">Apex</span>
                </a>

                <!-- Sidenav toggle (see assets/css/demo/demo.css) -->
                <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
                    <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
                        <i class="ion ion-md-menu text-large align-middle"></i>
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#layout-navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="layout-navbar-collapse">
                    <!-- Divider -->
                    <hr class="d-lg-none w-100 my-2">

                    <div class="navbar-nav align-items-lg-center">
                        <h5 class="align-middle" style="position:absolute;">{{currentUser?.environmentName}}</h5>

                    </div>

                    <div class="navbar-nav align-items-lg-center ml-auto">
                        <div class="demo-navbar-notifications nav-item dropdown mr-lg-3">
                            <a class="nav-link dropdown-toggle hide-arrow" href="#" data-toggle="dropdown">
                                <i class="ion ion-md-notifications-outline navbar-icon align-middle"></i>
                                <span
                                    *ngIf="notifications?.length > 0 && checkGroupPermission('Event Manager Portal Access')"
                                    class="badge badge-primary badge-dot indicator"></span>
                                <span class="d-lg-none align-middle">&nbsp; Notifications</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right"
                                *ngIf="checkGroupPermission('Event Manager Portal Access') ; else notificationDiv">
                                <div class="bg-primary text-center text-white font-weight-bold p-3">
                                    {{ (notifications?.length ) ? notifications?.length : 0 }} New Notifications
                                </div>
                                <div class="list-group list-group-flush">

                                    <ng-container *ngFor="let notification of notifications; let i = index;">
                                        <a (click)="redirectToUserEevnt(notification)" href="javascript:void(0)"
                                            *ngIf="i < 5"
                                            class="list-group-item list-group-item-action media d-flex align-items-center">
                                            <div
                                                class="ui-icon ui-icon-sm ion ion-md-home bg-secondary border-0 text-white">
                                            </div>
                                            <div class="media-body line-height-condenced ml-3">
                                                <div class="text-dark">{{ notification?.eventName }}</div>
                                                <div class="text-light small mt-1">

                                                </div>
                                                <div class="text-light small mt-1">
                                                    {{ notification?.createdDate | dateFormat : 'DD-MMM-YYYY' }}</div>
                                            </div>
                                        </a>
                                    </ng-container>


                                </div>



                                <!-- <a class="list-group-item list-group-item-action media d-flex align-items-center"
                                    href="http://104.40.138.8/Rowanwood/EventManager" target="_blank"> -->
                                <a class="list-group-item list-group-item-action media d-flex align-items-center"
                                    [routerLink]="['/tasks/tasks']">
                                    <div class="media-body ml-3">
                                        <div class="text-dark line-height-condenced">
                                            Show all notifications </div>

                                    </div>
                                </a>

                            </div>

                            <ng-template #notificationDiv>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="bg-primary text-center text-white font-weight-bold p-3">
                                        0 New Notifications
                                    </div>


                                </div>
                            </ng-template>
                        </div>

                        <div class="demo-navbar-messages nav-item dropdown mr-lg-3">
                            <a class="nav-link dropdown-toggle hide-arrow" href="#" data-toggle="dropdown">
                                <i class="ion ion-ios-mail navbar-icon align-middle"></i>
                                <!-- <span *ngIf="unreadMsg != '0 Unread Event(s)' && checkGroupPermission('Event Manager Portal Access')"
                                    class="badge badge-primary badge-dot indicator"></span> -->
                                <span class="d-lg-none align-middle">&nbsp; Messages</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right"
                                *ngIf="checkGroupPermission('Event Manager Portal Access') ; else eventDiv">
                                <div class="bg-primary text-center text-white font-weight-bold p-3">
                                    <!-- {{unreadMsg}} -->
                                    0 Unread Message
                                </div>
                                <div class="list-group list-group-flush">
                                    <!-- <ng-container *ngFor="let eventList of eventLists; let i = index;">
                                        <a ng-if="i < 5" href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center" >

                                                <div class="media-body ml-3">
                                                    <div class="text-dark line-height-condenced">{{eventList?.title}}</div>

                                                </div>
                                            </a>


                                            </ng-container> -->
                                    <a class="list-group-item list-group-item-action media d-flex align-items-center"
                                        href="{{unreadMsgPage}}" target="_blank">
                                        <div class="media-body ml-3">
                                            <div class="text-dark line-height-condenced">
                                                Click here to read message </div>

                                        </div>
                                    </a>

                                </div>


                            </div>
                            <ng-template #eventDiv>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="bg-primary text-center text-white font-weight-bold p-3">
                                        0 Unread Message
                                    </div>

                                </div>
                            </ng-template>
                        </div>

                        <!-- Divider -->
                        <div
                            class="nav-item d-none d-lg-block text-big font-weight-light line-height-1 opacity-25 mr-3 ml-1">
                            |</div>

                        <div class="demo-navbar-user nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
                                    <img src="assets/img/avatars/user-image.png" alt
                                        class="d-block ui-w-30 rounded-circle">
                                    <span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{currentUser?.userName | titlecase
                                        }}</span>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a [routerLink]="['/my-profile']" class="dropdown-item"><i
                                        class="ion ion-ios-person text-lightest"></i>
                                    &nbsp; My profile</a>
                                <!-- <a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-ios-mail text-lightest"></i>
                                    &nbsp; Messages</a>
                                <a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-md-settings text-lightest"></i>
                                    &nbsp; Account settings</a> -->
                                <div class="dropdown-divider"></div>
                                <a [routerLink]="['/login']" class="dropdown-item"><i
                                        class="ion ion-ios-log-out text-danger"></i>
                                    &nbsp; Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- / Layout navbar -->

            <!-- Layout content -->
            <div class="layout-content">

                <!-- cop-->

                <!-- Content -->
                <div class="contentDiv">
                    <router-outlet></router-outlet>
                </div>
                <!-- / Content -->

                <!-- Layout footer -->
                <nav class="layout-footer footer bg-footer-theme">
                    <div
                        class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
                        <div class="pt-3">
                            <span class="footer-text font-weight-bolder">Rowanwood Professional Services Limited</span>
                            ©
                        </div>
                        <!-- <div>
                            <a href="javascript:void(0)" class="footer-link pt-3">About Us</a>
                            <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Help</a>
                            <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Contact</a>
                            <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a>
                        </div> -->
                    </div>
                </nav>
                <!-- / Layout footer -->

            </div>
            <!-- Layout content -->

        </div>
        <!-- / Layout container -->

    </div>

    <!-- Overlay -->
    <!-- <div class="layout-overlay layout-sidenav-toggle"></div> -->
</div>