.filterAttrdiv select{
    height: calc(1.5rem + 2px);
    background-position: right .625rem center;
    font-size: .75rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid rgba(24,28,33,0.1);
    position: sticky;
    top:1px;
    margin-bottom: 6px;
    width: 95%;
    
}

.dropdown.list-unstyled{
    position: absolute !important;
}

.k-window{
    position: fixed !important;
}

.noteBtn{
    bottom: 10px;
    position: absolute;
    right: 6px;
}

.buttonDiv button{
    margin-left: 5px;
}

.buttonDiv{
    position: absolute;
    bottom: 15px;
    right: 13px;
}

/* .availableCharList{
    height:535px;
    overflow-y:scroll;
  } */

  .fixTbody {
    height: 435px;
    display:block;
    overflow-y: scroll;
  }

  .fixedHeader {
    width: calc(100% - 20px);
  }

  .availCharListTable tbody tr, thead {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

/* .availCharListTable th{
    position: sticky;
    top:-1px;
    background: #fafafa;
    z-index: 1;
} */

.createCharHeader{
    margin-top: 5px;
}

.sortIcon{
    font-size: 11px;
  }

  .searchBox{
    color: #4E5155;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(24,28,33,0.1);
  }