<kendo-window title="{{title}}" *ngIf="openReportParamlist" (close)="closeReportParamList()" [top]="20" [minWidth]="700"
    [width]="840" [height]="auto" [minHeight]="350">

    
<div class="windowHeading m-0  p-0">
    <div class="form-row m-1 p-0">
      <p class="col-md-12 m-0 px-3 py-2 headingText">
        {{ reportParamListHeading }}</p>
        </div>
    </div>

    <div class="row gridDiv">
        <div class="col-md-12 paramListGrid">

            <kendo-grid [data]="query" [loading]="loading" filterable="menu" [resizable]="true" [sortable]="{
        allowUnsort: allowUnsort,
        mode: multiple ? 'multiple' : 'single'
        }" [sort]="state.sort" (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
            (cellClick)="cellClickHandler($event)" [filter]="state.filter"  
            [height]="600"  [navigable]="true" [selectable]="selectableSettings"
                [groupable]="false">



                <kendo-grid-column     *ngFor="let column of columnNames"
                field="{{column.name}}"
                title="{{column.name}}" >
                    <ng-template kendoGridFilterMenuTemplate  let-filter="filter" let-column="column"
                        let-filterService="filterService">
                        <simple-text-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
                        </simple-text-filter>
                    </ng-template>
                </kendo-grid-column>


            </kendo-grid>


        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <input oninput="this.value = this.value.trim()" [(ngModel)]="parameterInpValue" type="text"
                class="form-control">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12 text-right">
            <button type="button" (click)="setReportParam()" class="btn btn-sm themeButton mr-2">OK</button>
            <button type="button" class="btn btn-sm themeButton" (click)="closeReportParamList()">Cancel</button>
        </div>
    </div>

</kendo-window>