<div class="layout-content">
    <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            <span class="text-muted font-weight-light">Chart Settings</span>
        </h4>

        <div class="card mb-4">

            <div class="card-body">
                <form autocomplete="off" class="chartSettingForm">
                    <div class="row" *ngFor="let portal of chartPortals;let i = index;">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Portal Name</label>
                                <div class="col-sm-9">
                                    <input name="portalName[{{i}}]" type="text" required class="form-control"
                                        [(ngModel)]="portal.portalName">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-6">Number Of Chart</label>
                                <div class="col-sm-6">
                                    <input type="number" name="numberofchart[{{i}}]" required class="form-control"
                                        [(ngModel)]="portal.numberofchart">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2"><i (click)="remove(i)" class="fas fa-trash"></i></div>
                    </div>


                    <!-- <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="form-label">Portal Name</label>
                                <input type="text" class="form-control">
                                <input type="text" class="form-control" formControlName="hsdoclocn"
                    placeholder="Assessment Document Upload Location"
                    [ngClass]="{ 'is-invalid': submitted && formErrors.hsdoclocn }" autocomplete="off">
                                <div *ngIf="submitted && formErrors.hsdoclocn" class="invalid-feedback">
                    <div *ngIf="formErrors.hsdoclocn">{{ formErrors.hsdoclocn }}</div>
                  </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="form-label">Number Of Chart</label>
                                <input type="number" class="form-control">
                                <input type="text" class="form-control" formControlName="hsdoclocn"
                    placeholder="Assessment Document Upload Location"
                    [ngClass]="{ 'is-invalid': submitted && formErrors.hsdoclocn }" autocomplete="off">
                                <div *ngIf="submitted && formErrors.hsdoclocn" class="invalid-feedback">
                    <div *ngIf="formErrors.hsdoclocn">{{ formErrors.hsdoclocn }}</div>
                  </div>
                            </div>
                        </div>

                        <div class="col-md-2"></div> 

                    </div>-->
                    <button (click)="addMore()" class="btn btn-default themeButton addMore mr-2"><i class="fa fa-plus"
                            aria-hidden="true"></i> Add</button>
                    <button type="button" (click)="saveChartForm()" class="btn btn-default themeButton">Submit</button>
                </form>
            </div>
        </div>

    </div>

</div>