<kendo-window title="{{title}}" *ngIf="assetchecklistWindow" (close)="closeAssetcheckListWindow()" [top]="20"
    [minWidth]="700" [width]="1050" [height]="auto" [minHeight]="350">

    <div class="row">
        <div class="col-md-12">
        </div>

        <div class="col-md-12 actionBtnDiv text-right">
            <button type="submit" class="btn btn-sm themeButton mr-1 headin_section" (click)="slideToggle()">
                <i class="fa" [ngClass]="(filterToggle) ? 'fa-minus':'fa-plus'"></i>
            </button>
            <button type="button" class="btn btn-sm themeButton">Export</button>
            <button type="button" class="btn btn-sm themeButton">Administration</button>
            <button type="button" class="btn btn-sm themeButton" (click)="openChecklistDoc()">Doucuments</button>
            <button type="button" class="btn btn-sm themeButton">Work</button>
            <button type="button" class="btn btn-sm themeButton">Defects</button>
            <button type="button" class="btn btn-sm themeButton">Variations</button>
            <button type="button" class="btn btn-sm themeButton">Actions</button>
        </div>

        <div class="col-md-12 mt-2">
            <div class="cont">
                <div id="wrapper">
                    <div class="worksorder-assetchecklist-header" style="display: none;">
                        <fieldset>
                            <div class="form-group form-row">
                                <div class="col-md-1">Works Order: </div>
                                <div class="col-md-8">
                                    <input type="text" value="{{programmeData?.wprname}}"
                                        class="form-control form-control-sm" [readonly]="readonly">
                                </div>
                                <div class="col-md-2">Phase: </div>
                                <div class="col-md-1 text-right"><input type="text" class="form-control form-control-sm"
                                        [readonly]="readonly" value="{{programmeData?.wprcurrentcontractsum }}">
                                </div>
                            </div>

                            <div class="form-group form-row">
                                <div class="col-md-1">Asset: </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{worksOrderData?.woname}} (Works Order No: {{worksOrderData?.wosequence}})">
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{worksOrderData?.woname}} (Works Order No: {{worksOrderData?.wosequence}})">
                                </div>
                                <div class="col-md-2">Work Access: </div>
                                <div class="col-md-1 text-right"><input type="text" class="form-control form-control-sm"
                                        [readonly]="readonly"
                                        value="{{programmeData?.wprcurrentcontractsum | currency:'GBP':'symbol'}}">
                                </div>
                            </div>

                            <div class="form-group form-row">
                                <div class="col-md-2">
                                    <label>Status:</label>
                                    <input type="text" [readonly]="readonly" class="form-control form-control-sm"
                                        value="{{programmeData?.wprstatus}}">

                                </div>
                                <div class="col-md-2">
                                    <label>Target:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{programmeData?.wprbudget | currency:'GBP':'symbol'}}">
                                </div>
                                <div class="col-md-2">
                                    <label>Issue:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{programmeData?.wprbudget | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-2">
                                    <label>Accepted:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{programmeData?.wprbudget | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-2">
                                    <label>Handover:</label>
                                    <input type="text" class="form-control form-control-sm"
                                        value="{{programmeData?.wprtargetcompletiondate | dateFormat : 'DD-MMM-YYYY'}}"
                                        [readonly]="readonly">
                                </div>

                                <div class="col-md-2">
                                    <label>Payment:</label>
                                    <input type="text" class="form-control form-control-sm"
                                        value="{{programmeData?.wprtargetcompletiondate | dateFormat : 'DD-MMM-YYYY'}}"
                                        [readonly]="readonly">
                                </div>
                            </div>

                            <div class="form-group form-row">
                                <div class="col-md-2">
                                    <label>Planned Start:</label>
                                    <input type="text" [readonly]="readonly" class="form-control form-control-sm"
                                        value="{{programmeData?.wprstatus}}">

                                </div>
                                <div class="col-md-2">
                                    <label>Planned End:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{programmeData?.wprbudget | currency:'GBP':'symbol'}}">
                                </div>
                                <div class="col-md-2">
                                    <label>Actual Start:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{programmeData?.wprbudget | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-2">
                                    <label>Actual End:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{programmeData?.wprbudget | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-2">
                                    <label>Practical Completion:</label>
                                    <input type="text" class="form-control form-control-sm"
                                        value="{{programmeData?.wprtargetcompletiondate | dateFormat : 'DD-MMM-YYYY'}}"
                                        [readonly]="readonly">
                                </div>

                                <div class="col-md-2">
                                    <label>Open Date:</label>
                                    <input type="text" class="form-control form-control-sm"
                                        value="{{programmeData?.wprtargetcompletiondate | dateFormat : 'DD-MMM-YYYY'}}"
                                        [readonly]="readonly">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-1">
                                    <label>Forecast:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{programmeData?.wprforecast + programmeData?.wprforecastfee | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-1">
                                    <label>Commited:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{programmeData?.wprcommitted+programmeData?.wprcommittedfee | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-1">
                                    <label>Approved:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{programmeData?.wprapproved+programmeData?.wprapprovedfee | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-1">
                                    <label>Pending:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{programmeData?.wprpending+programmeData?.wprpendingfee | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-1">
                                    <label>Actual:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{programmeData?.wpractual+programmeData?.wpractualfee | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-1">
                                    <label>Payment:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{programmeData?.wprpayment | currency:'GBP':'symbol'}}">
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12 mt-2">
            <kendo-grid [data]="gridView" [height]="gridHeight" [selectable]="{
                    mode: 'multiple'
                  }" filterable="menu" [resizable]="true" [sortable]="{
                    allowUnsort: true,
                    mode: 'multiple'
                    }" [skip]="state.skip" [pageSize]="pageSize" [rowHeight]="36" (pageChange)="pageChange($event)"
                scrollable="virtual" [sort]="state.sort" [filter]="state.filter" (sortChange)="sortChange($event)"
                (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)" [navigable]="true">

                <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"
                                (click)="setSeletedRow(dataItem)"></i>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0)">Status</a>
                                <a class="dropdown-item" href="javascript:void(0)">Dates</a>
                                <a class="dropdown-item" href="javascript:void(0)">Complete</a>
                                <a class="dropdown-item" href="javascript:void(0)">Comments</a>
                                <!-- <a class="dropdown-item" href="javascript:void(0)">Edit Fee</a> -->

                            </div>
                        </li>

                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-column field="eventSequence" title="Seq" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="busareaName" title="Business Area" width="160">
                </kendo-grid-column>
                <kendo-grid-column field="eventTypeCode" title="Code" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="eventName" title="Task" width="410">
                </kendo-grid-column>
                <kendo-grid-column field="eventRowCount" title="Record(s)" width="120">
                </kendo-grid-column>




            </kendo-grid>

        </div>
    </div>

    <div class="checklistOverlay"></div>

    <app-worksorders-asset-checklist-document *ngIf="checklistDocWindow" [checklistDocWindow]="checklistDocWindow"
        (closeAssetchecklistDocEvent)="closeChecklistDoc($event)"></app-worksorders-asset-checklist-document>


</kendo-window>