<kendo-window title="{{title}}" *ngIf="assetchecklistWindow" (close)="closeAssetcheckListWindow()" [top]="20"
    [minWidth]="700" [width]="1250" [height]="auto" [minHeight]="350">

    <div class="row">
        <div class="col-md-12">
        </div>

        <div class="col-md-12 actionBtnDiv text-right">
            <button type="submit" class="btn btn-sm themeButton mr-1 headin_section" (click)="slideToggle()">
                <i class="fa" [ngClass]="(filterToggle) ? 'fa-minus':'fa-plus'"></i>
            </button>
            <!-- <button type="button" class="btn btn-sm themeButton">Export</button>
            <button type="button" class="btn btn-sm themeButton">Administration</button> -->
            <button type="button" [disabled]="mySelection.length != 1" class="btn btn-sm themeButton"
                (click)="openChecklistDoc()">Doucuments</button>
            <!-- <button type="button" class="btn btn-sm themeButton">Work</button>
            <button type="button" class="btn btn-sm themeButton">Defects</button>
            <button type="button" class="btn btn-sm themeButton">Variations</button>
            <button type="button" class="btn btn-sm themeButton">Actions</button> -->
        </div>

        <div class="col-md-12 mt-2">
            <div class="cont">
                <div id="wrapper">
                    <div class="worksorder-assetchecklist-header" style="display: none;">
                        <fieldset>
                            <div class="form-group form-row">
                                <div class="col-md-1">Works Order: {{worksOrderData?.wosequence}} </div>
                                <div class="col-md-8">
                                    <input type="text" value="{{worksOrderData?.woname}}"
                                        class="form-control form-control-sm" [readonly]="readonly">
                                </div>
                                <div class="col-md-1">Phase: </div>
                                <div class="col-md-2 text-right"><input type="text" class="form-control form-control-sm"
                                        [readonly]="readonly" value="{{phaseData?.wopname }}">
                                </div>
                            </div>

                            <div class="form-group form-row">
                                <div class="col-md-1">Asset: </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{selectedChildRow?.assid}}">
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{selectedChildRow?.woname}}">
                                </div>
                                <div class="col-md-2">Work Access: </div>
                                <div class="col-md-1 text-right"><input type="text" class="form-control form-control-sm"
                                        [readonly]="readonly"
                                        value="{{selectedChildRow?.woaworkaccess | currency:'GBP':'symbol'}}">
                                </div>
                            </div>

                            <div class="form-group form-row">
                                <div class="col-md-2">
                                    <label>Status:</label>
                                    <input type="text" [readonly]="readonly" class="form-control form-control-sm"
                                        value="{{selectedChildRow?.wostatus}}">

                                </div>
                                <div class="col-md-2">
                                    <label>Target:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{selectedChildRow?.targetdate | dateFormat : 'DD-MMM-YYYY'}}">
                                </div>
                                <div class="col-md-2">
                                    <label>Issue:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{programmeData?.wprcontractorissuedate | dateFormat : 'DD-MMM-YYYY'}}">
                                </div>

                                <div class="col-md-2">
                                    <label>Accepted:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{programmeData?.wpracceptedvalue | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-2">
                                    <label>Handover:</label>
                                    <input type="text" class="form-control form-control-sm"
                                        value="{{programmeData?.wprapproved | currency:'GBP':'symbol'}}"
                                        [readonly]="readonly">
                                </div>

                                <div class="col-md-2">
                                    <label>Payment:</label>
                                    <input type="text" class="form-control form-control-sm"
                                        value="{{programmeData?.wprpayment | currency:'GBP':'symbol'}}"
                                        [readonly]="readonly">
                                </div>
                            </div>

                            <div class="form-group form-row">
                                <div class="col-md-2">
                                    <label>Planned Start:</label>
                                    <input type="text" [readonly]="readonly" class="form-control form-control-sm"
                                        value="{{selectedChildRow?.planstartdate | dateFormat : 'DD-MMM-YYYY' }}">

                                </div>
                                <div class="col-md-2">
                                    <label>Planned End:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{selectedChildRow?.planenddate | dateFormat : 'DD-MMM-YYYY'}}">
                                </div>
                                <div class="col-md-2">
                                    <label>Actual Start:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{selectedChildRow?.planenddate | dateFormat : 'DD-MMM-YYYY'}}">
                                </div>

                                <div class="col-md-2">
                                    <label>Actual End:</label>
                                    <input type="text" class="form-control form-control-sm" [readonly]="readonly"
                                        value="{{selectedChildRow?.planenddate | dateFormat : 'DD-MMM-YYYY'}}">
                                </div>

                                <div class="col-md-2">
                                    <label>Practical Completion:</label>
                                    <input type="text" class="form-control form-control-sm"
                                        value="{{selectedChildRow?.woacompletiondate | dateFormat : 'DD-MMM-YYYY'}}"
                                        [readonly]="readonly">
                                </div>

                                <div class="col-md-2">
                                    <label>Open Date:</label>
                                    <input type="text" class="form-control form-control-sm"
                                        value="{{selectedChildRow?.woaopendate | dateFormat : 'DD-MMM-YYYY'}}"
                                        [readonly]="readonly">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-1">
                                    <label>Forecast:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{selectedChildRow?.woforecast | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-1">
                                    <label>Commited:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{selectedChildRow?.wocommitted | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-1">
                                    <label>Approved:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{selectedChildRow?.woapproved| currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-1">
                                    <label>Pending:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{selectedChildRow?.wopending | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-1">
                                    <label>Actual:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{selectedChildRow?.woactual | currency:'GBP':'symbol'}}">
                                </div>

                                <div class="col-md-1">
                                    <label>Payment:</label>
                                    <input type="text" class="form-control form-control-sm" readonly="true"
                                        value="{{worksOrderData?.wopayment | currency:'GBP':'symbol'}}">
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12 mt-2">
            <kendo-grid [data]="gridView" [height]="gridHeight" [selectable]="{
                    mode: 'multiple'
                  }" filterable="menu" [resizable]="true" [sortable]="{
                    allowUnsort: true,
                    mode: 'single'
                    }" [skip]="state.skip" [pageSize]="pageSize" [rowHeight]="36" (pageChange)="pageChange($event)"
                scrollable="virtual" [sort]="state.sort" [filter]="state.filter" (sortChange)="sortChange($event)"
                (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)" [navigable]="true"
                [virtualColumns]="true" [loading]="loading" [kendoGridSelectBy]="mySelectionKey"
                [selectedKeys]="mySelection">

                <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"
                                (click)="setSeletedRow(dataItem)"></i>
                            <div class="dropdown-menu">

                                <div class="dropdown-toggle">
                                    <div class="dropdown-item">Status</div>
                                    <div class="dropdown-menu">

                                        <a class="dropdown-item" (click)="setStatus('NA', dataItem)"
                                            href="javascript:void(0)">
                                            Set to N/A</a>

                                        <div class="dropdown-toggle">
                                            <div class="dropdown-item">Set to In Progress</div>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="setStatus('IPY', dataItem)"
                                                    href="javascript:void(0)">Yesterday</a>
                                                <a class="dropdown-item" (click)="setStatus('IPT', dataItem)"
                                                    href="javascript:void(0)">Today</a>
                                                <a class="dropdown-item" (click)="setStatus('IPD', dataItem)"
                                                    href="javascript:void(0)">Choose Date</a>

                                            </div>
                                        </div>

                                        <a class="dropdown-item" (click)="setStatus('NOT STARTED', dataItem)"
                                            href="javascript:void(0)">Set to Not Started</a>
                                        <a class="dropdown-item" (click)="setStatus('RESET', dataItem)"
                                            href="javascript:void(0)">Reset Checklist Item</a>
                                    </div>
                                </div>

                                <div class="dropdown-toggle">
                                    <div class="dropdown-item">Dates</div>
                                    <div class="dropdown-menu">

                                        <a class="dropdown-item" (click)="setDates('SE', dataItem)"
                                            href="javascript:void(0)">
                                            Set Planned Start/End Dates</a>

                                        <div class="dropdown-toggle">
                                            <div class="dropdown-item">Set Target Completion Date</div>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="setDates('TCY', dataItem)"
                                                    href="javascript:void(0)">Yesterday</a>
                                                <a class="dropdown-item" (click)="setDates('TCTOD', dataItem)"
                                                    href="javascript:void(0)">Today</a>
                                                <a class="dropdown-item" (click)="setDates('TCTOM', dataItem)"
                                                    href="javascript:void(0)">Tomorrow</a>
                                                <a class="dropdown-item" (click)="setDates('TC7', dataItem)"
                                                    href="javascript:void(0)">7 Days</a>
                                                <a class="dropdown-item" (click)="setDates('TCPICK', dataItem)"
                                                    href="javascript:void(0)">Choose Date</a>

                                            </div>
                                        </div>

                                        <div class="dropdown-toggle">
                                            <div class="dropdown-item">Change Start Date</div>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="setDates('CSDY', dataItem)"
                                                    href="javascript:void(0)">Yesterday</a>
                                                <a class="dropdown-item" (click)="setDates('CSDT', dataItem)"
                                                    href="javascript:void(0)">Today</a>
                                                <a class="dropdown-item" (click)="setDates('CSDPICK', dataItem)"
                                                    href="javascript:void(0)">Choose Date</a>

                                            </div>
                                        </div>

                                        <div class="dropdown-toggle">
                                            <div class="dropdown-item">Change Completion Date</div>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="setDates('CCDY', dataItem)"
                                                    href="javascript:void(0)">Yesterday</a>
                                                <a class="dropdown-item" (click)="setDates('CCDT', dataItem)"
                                                    href="javascript:void(0)">Today</a>
                                                <a class="dropdown-item" (click)="setDates('CCDPICK', dataItem)"
                                                    href="javascript:void(0)">Choose Date</a>

                                            </div>
                                        </div>

                                        <a class="dropdown-item" (click)="setDates('NOT STARTED', dataItem)"
                                            href="javascript:void(0)">Set to Not Started</a>
                                        <a class="dropdown-item" (click)="setDates('RESET', dataItem)"
                                            href="javascript:void(0)">Reset Checklist Item</a>
                                    </div>
                                </div>


                                <div class="dropdown-toggle">
                                    <div class="dropdown-item">Complete</div>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" (click)="setComplete('IPY', dataItem)"
                                            href="javascript:void(0)">Yesterday</a>
                                        <a class="dropdown-item" (click)="setComplete('IPT', dataItem)"
                                            href="javascript:void(0)">Today</a>
                                        <a class="dropdown-item" (click)="setComplete('IPD', dataItem)"
                                            href="javascript:void(0)">Choose Date</a>
                                    </div>
                                </div>

                                <!-- <a class="dropdown-item" href="javascript:void(0)">Dates</a>
                                <a class="dropdown-item" href="javascript:void(0)">Complete</a>
                                <a class="dropdown-item" href="javascript:void(0)">Comments</a> -->

                            </div>
                        </li>

                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-column field="dependenciesIndicator" title="" width="40" [filterable]="false">
                    <ng-template kendoGridHeaderTemplate>
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <i (click)="openPredecessors(dataItem)" class="fa fa-list"
                            *ngIf="dataItem.dependenciesIndicator == 'I'" aria-hidden="true"></i>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="wostagename" title="" width="40" [filterable]="false">
                    <ng-template kendoGridHeaderTemplate>
                        <img style="height: 14px;" src="assets/img/icons/tick.png" />
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <img style="height: 14px;" *ngIf="dataItem.itemIsCompleted != 'N'"
                            src="assets/img/icons/tick.png" />
                    </ng-template>

                </kendo-grid-column>

                <kendo-grid-column field="worksOrderAssetChecklistFileCount" title="" width="40" [filterable]="false">
                    <ng-template kendoGridHeaderTemplate>
                        <img style="height: 14px;" src="assets/img/icons/attach.png" />
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div style="width:100%; text-align: center;">
                            <img style="height:16px;" *ngIf="dataItem.worksOrderAssetChecklistFileCount != 0"
                                src="assets/img/icons/attach.png" />
                        </div>
                    </ng-template>
                </kendo-grid-column>




                <kendo-grid-column field="wostagename" title="Stage" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="wocheckname" title="Name" width="280">
                </kendo-grid-column>
                <kendo-grid-column field="wocheckresp" title="Responsibility" width="140">
                </kendo-grid-column>
                <kendo-grid-column field="wocheckspeciaL1" title="Special" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="woasscheckstatus" title="Status" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="detailCount" title="# Work" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.detailCount != 0 ? dataItem.detailCount : '' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woacactualstartdate" title="Start Date" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woacactualstartdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woactargetcompletiondate" title="Target Date" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woactargetcompletiondate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woaccontractorissuedate" title="Issue Date" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woaccontractorissuedate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woactargetcompletiondate" title="Completion Date" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woactargetcompletiondate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woacforecastplusfee" title="Forecast" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woacforecastplusfee | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woaccommittedplusfee" title="Committed" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woaccommittedplusfee | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woacactualplusfee" title="Actual" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woacactualplusfee | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woacapprovedplusfee" title="Approved" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woacapprovedplusfee | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woacpendingplusfee" title="Pending" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woacpendingplusfee | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woacplanstartdate" title="Planned Start Date" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woacplanstartdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woacplanenddate" title="Planned End Date" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woacplanenddate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="woasscheckcomment" title="Comment(s)" width="120">
                </kendo-grid-column>

            </kendo-grid>

        </div>
    </div>

    <div class="checklistOverlay"></div>

    <app-worksorders-asset-checklist-document *ngIf="checklistDocWindow" [checklistDocWindow]="checklistDocWindow"
        (closeAssetchecklistDocEvent)="closeChecklistDoc($event)" [selectedChildRow]="selectedChildRow" [selectedChecklist]="selectedChecklist"></app-worksorders-asset-checklist-document>

    <app-worksorders-asset-checklist-predecessors *ngIf="predecessors" [predecessors]="predecessors"
        [predecessorsWindowFrom]="predecessorsWindowFrom" [selectedChecklist]="selectedChecklist"
        (closePredecessorsEvent)="closePredecessors($event)">
    </app-worksorders-asset-checklist-predecessors>



    <kendo-window title="Select Today or Past In Progress Date" *ngIf="chooseDateWindow" (close)="closeChooseDate()"
        [top]="20" [minWidth]="300" [width]="400" [height]="auto" [minHeight]="350">

        <div class="row">
            <div class="col-md-12">
                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [maxDate]="maxDate">
                </ngb-datepicker>
            </div>

            <div class="col-md-12 text-right mt-2">
                <button type="submit" class="btn btn-sm themeButton ml-1" (click)="selectDate()">Ok</button>
                <button type="submit" class="btn btn-sm themeButton ml-1" (click)="closeChooseDate()">Cancel</button>
            </div>
        </div>

    </kendo-window>
</kendo-window>