<div class="container-fluid flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
        </div>

        <div class="col-md-12 actionBtnDiv text-right">
            <button type="button" class="btn btn-sm themeButton">Export</button>
            <button type="button" class="btn btn-sm themeButton">Administration</button>
            <button type="button" class="btn btn-sm themeButton">Doucuments</button>
            <button type="button" class="btn btn-sm themeButton">Work</button>
            <button type="button" class="btn btn-sm themeButton">Defects</button>
            <button type="button" class="btn btn-sm themeButton">Variations</button>
            <button type="button" class="btn btn-sm themeButton">Actions</button>
        </div>

        <div class="col-md-12 mt-2">
            <kendo-grid [data]="gridView" [height]="660" [selectable]="{
                mode: 'multiple'
              }" filterable="menu" [resizable]="true" [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" [skip]="state.skip" [pageSize]="pageSize" [rowHeight]="36" (pageChange)="pageChange($event)"
                scrollable="virtual" [sort]="state.sort" [filter]="state.filter" (sortChange)="sortChange($event)"
                (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)" [navigable]="true">

                <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"
                                (click)="setSeletedRow(dataItem)"></i>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0)">Status</a>
                                <a class="dropdown-item" href="javascript:void(0)">Dates</a>
                                <a class="dropdown-item" href="javascript:void(0)">Complete</a>
                                <a class="dropdown-item" href="javascript:void(0)">Comments</a>
                                <!-- <a class="dropdown-item" href="javascript:void(0)">Edit Fee</a> -->

                            </div>
                        </li>

                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-column field="eventSequence" title="Seq" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="busareaName" title="Business Area" width="160">
                </kendo-grid-column>
                <kendo-grid-column field="eventTypeCode" title="Code" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="eventName" title="Task" width="410">
                </kendo-grid-column>
                <kendo-grid-column field="eventRowCount" title="Record(s)" width="120">
                </kendo-grid-column>




            </kendo-grid>

        </div>
    </div>

</div>