<div class="layout-content">
    <div class="container-fluid flex-grow-1 container-p-y">

        <h4 class="font-weight-bold py-3 mb-4">
            <span class="text-muted font-weight-light">Settings</span>
        </h4>

        <div class="card mb-4">

            <div class="card-body">
                <form [formGroup]="webRepoterSettingsForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Xport Location</label>
                                <input type="text" class="form-control" formControlName="XportLocation"
                                    placeholder="Xport Location"
                                    [ngClass]="{ 'is-invalid': submitted && formErrors.XportLocation }"
                                    autocomplete="off">
                                <div *ngIf="submitted && formErrors.XportLocation " class="invalid-feedback">
                                    <div *ngIf="formErrors.XportLocation ">{{ formErrors.XportLocation }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Xport Delete</label>
                                <input type="text" class="form-control" formControlName="XportDelete"
                                    placeholder="Xport Delete"
                                    [ngClass]="{ 'is-invalid': submitted && formErrors.XportDelete  }"
                                    autocomplete="off">
                                <div *ngIf="submitted && formErrors.XportDelete " class="invalid-feedback">
                                    <div *ngIf="formErrors.XportDelete ">{{ formErrors.XportDelete }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default themeButton">Submit</button>
                </form>
            </div>
        </div>



    </div>


</div>