<kendo-window title="{{title}}" [top]="10" [minWidth]="700" [width]="1050" [minHeight]="350" [height]="700"
  (close)="closeInstructionAssetsDetailWindow()">

  <div class="row headerArea">
    <div class="col-md-12 headerRow12">

      <div class="row">
        <div class="col-md-2">
          <label class="lbl" for="">Programme: </label>
        </div>
        <div class="col-md-10">
          <input [readonly]="true" type="text" class="form-control form-control-sm" placeholder=""
            value="{{ programmeData.wprname }}">
        </div>
      </div>


      <div class="row ">
        <div class="col-md-2">
          <label class="lbl" for="">Works Order: </label>
        </div>
        <div class="col-md-10">
          <input [readonly]="true" type="text" class="form-control form-control-sm" placeholder=""
            value="{{ worksOrderData.woname }}">
        </div>
      </div>

      <div class="row ">
        <div class="col-md-2">
          <label class="lbl" for="">Phase: </label>
        </div>
        <div class="col-md-6">
          <input [readonly]="true" type="text" class="form-control form-control-sm" placeholder=""
            value="{{ selectedInstructionRow.wopname }}">
        </div>

        <div class="col-md-2">
          <label class="lbl" for="">Instruction: </label>
        </div>
        <div class="col-md-2">
          <input [readonly]="true" type="text" class="form-control form-control-sm" placeholder=""
            value="{{ selectedInstructionAssetRow.woisequence }}">
        </div>

      </div>



      <div class="row">
        <div class="col-md-2">
          <label class="lbl" for="">Asset: </label>
        </div>
        <div class="col-md-4">
          <input [readonly]="true" type="text" class="form-control form-control-sm" placeholder=""
            value="{{ selectedInstructionAssetRow.assid }}">
        </div>

        <div class="col-md-6">
          <input [readonly]="true" type="text" class="form-control form-control-sm" placeholder=""
            value="{{ selectedInstructionAssetRow.address }}">
        </div>

      </div>


    </div>




  </div>




  <div class="row mt-2 gridRow">
    <div class="col-md-12 gridCol">
      <kendo-grid id="instAsset" [data]="gridView" [selectable]="{
                    mode: 'single'
                  }" filterable="menu" [resizable]="true" [sortable]="{
                    allowUnsort: true,
                    mode: 'multiple'
                    }" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
        (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
        [navigable]="false">


        <kendo-grid-column field="woiadrequesttype" title="Requested Type" width="150">
        </kendo-grid-column>

        <kendo-grid-column field="BATHROOM" title="Description" width="140">
        </kendo-grid-column>

        <kendo-grid-column field="attribute" title="Attribute" width="150">
        </kendo-grid-column>

        <kendo-grid-column field="quantity" title="Quantity" width="140">
        </kendo-grid-column>

        <kendo-grid-column field="uom" title="UOM" width="100">
        </kendo-grid-column>


        <kendo-grid-column field="fee" title="Fee" width="100" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.fee | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="cost" title="Work" width="100" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.cost | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="woiadissueuser" title="Requested By" width="140">
        </kendo-grid-column>

        <kendo-grid-column field="woiadissuedate" title="Requested On" [width]="140" 
          [sortable]="false">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
            </date-range-filter>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woiadissuedate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woiadissuereason" title="Issue Reason" width="140">
        </kendo-grid-column>

        <kendo-grid-column field="woiadissuestatus" title="Status" width="140">
        </kendo-grid-column>

        <kendo-grid-column field="woiadcomment" title="Comment" width="140">
        </kendo-grid-column>



      </kendo-grid>




    </div>
  </div>






  <div class="woassetdetailoverlay"></div>
</kendo-window>