.k-window {
    position: fixed !important;
}

/* .k-grid tbody td {
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 12px;
} */

.lbl{
    margin-top: 8px;
}

app-wo-program-management-instructions .gridRow {
    height: calc(100% - 180px);
}

app-wo-program-management-instructions .gridRow .gridCol {
    height: calc(100% - 25px);
}

app-wo-program-management-instructions .gridRow .gridCol #instGrid {
    height: 100%;
}