<div class="container-fluid flex-grow-1 container-p-y">

  <div class="row">
      <div class="col-md-2 col-sm-3">
          <h4 class="font-weight-bold py-3 mb-1">
              Job Roles
          </h4>
      </div>

      <div class="col-md-10 text-right" >

              <button *ngIf="checkWorksOrdersAccess('Config New Job Role')"
               type="button" class="btn btn-sm themeButton mr-1" (click)="openEditJobRole('new', null)">New</button>

               <button *ngIf="checkWorksOrdersAccess('Config Edit Job Role')"
               type="button" class="btn btn-sm themeButton mr-1" (click)="export()">Export</button>
      </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12 worksorderGrid" >

          <kendo-grid [groupable]="false" [data]="gridView"  [height]="720" filterable="menu" [loading]="loading" [resizable]="true"
          [sortable]="{allowUnsort: allowUnsort, mode: multiple ? 'multiple' : 'single' }"
          [skip]="state.skip" [sort]="state.sort"  [filter]="state.filter" (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
               [navigable]="true" (cellClick)="cellClickHandler($event)" [rowClass]="rowCallback" >

              <kendo-grid-column title=" " width="37" [filterable]="false">
                  <ng-template kendoGridCellTemplate let-dataItem>
                      <li  class="nav-item dropdown list-unstyled"
                          style="margin-top: -7px;">
                          <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"
                              (click)="setSeletedRow(dataItem)"></i>
                          <div class="dropdown-menu"
                          *ngIf="checkWorksOrdersAccess('Config Edit Job Role') || checkWorksOrdersAccess('Config Remove Job Role') || checkWorksOrdersAccess('Config Security Functions')"
                          >
                              <a class="dropdown-item" href="javascript:void(0)" *ngIf="checkWorksOrdersAccess('Config Edit Job Role')"
                              (click)="openEditJobRole('edit', dataItem)">Edit</a>

                              <a class="dropdown-item" href="javascript:void(0)" *ngIf="checkWorksOrdersAccess('Config Remove Job Role')"
                              (click)="deleteJobRole(dataItem)">Remove</a>

                              <a class="dropdown-item" href="javascript:void(0)" *ngIf="checkWorksOrdersAccess('Config Security Functions')"
                              (click)="openSecurityFunctionWindow(dataItem)">Security Functions</a>

                          </div>
                      </li>

                  </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="jobRoleType" title="Role Type" width="180">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService" >
                <multicheck-filter  [isPrimitive]="false" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" textField="text" valueField="val"
                    [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
              </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="jobRole" title="Job Role" width="260">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="false" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" textField="text" valueField="val"
                    [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
              </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="securityGroupCode" title="Security Group" width="270">
                  <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <multicheck-filter [isPrimitive]="false" [field]="column.field" [currentFilter]="filter"
                      [filterService]="filterService" textField="text" valueField="val"
                      [data]="distinctPrimitive(column.field)">
                  </multicheck-filter>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="defaultJobRole" title="Default Role" width="130">
                  <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                  let-filterService="filterService">
                  <multicheck-filter [isPrimitive]="false" [field]="column.field" [currentFilter]="filter"
                      [filterService]="filterService" textField="text" valueField="val"
                      [data]="distinctPrimitive(column.field)">
                  </multicheck-filter>
              </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="variationLimit" title="Variation Limit" width="160" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="exportDiv">
                    {{ dataItem.variationLimit | currency:"GBP":"symbol" }}
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="issueLimit" title="Issue Limit" width="160" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="exportDiv">
                      {{ dataItem.issueLimit | currency:"GBP":"symbol" }}
                    </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="requestPaymentLimit" title="Request Payment Limit" width="180" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="exportDiv">
                      {{ dataItem.requestPaymentLimit | currency:"GBP":"symbol" }}
                    </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="authPaymentLimit" title="Authorise Payment Limit" width="180" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="exportDiv">
                      {{ dataItem.authPaymentLimit | currency:"GBP":"symbol" }}
                    </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="requestFeeLimit" title="Request Fee Limit" width="160" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem  >
                  <div class="exportDiv">
                    {{ dataItem.requestFeeLimit | currency:"GBP":"symbol" }}
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="authFeeLimit" title="Authorise Fee Limit" width="160" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div class="exportDiv">
                    {{ dataItem.authFeeLimit | currency:"GBP":"symbol" }}
                  </div>
                </ng-template>
              </kendo-grid-column>
          </kendo-grid>

      </div>
  </div>

 </div>

<div class="disabledBackground"></div>

<app-wopm-edit-jobroles [editFormWindow]="editFormWindow" [selectedJobRole]="wopmJobroleModel"
[jobroleFormType]="editFormType" [roleTypes]="roleTypes" [securityGroups]="securityGroups"
*ngIf="editFormWindow" (closeEditFormWindow)="closeEditFormWin($event)">
</app-wopm-edit-jobroles>

<app-wopm-sec-jobroles [securityFunctionWindow]="securityFunctionWindow" [RoleType]="this.RoleType" [JobRole]="this.JobRole"
*ngIf="securityFunctionWindow" (closeSecurityFunctionWindow)="closeSecurityFunctionWindow($event)">
</app-wopm-sec-jobroles>







