.form-check-label {
  margin-top: 3px !important;
  margin-left: 5px !important;
}

.elementGroupDiv{
    height: 570px;
}
    
.incChek{
    position: absolute;
    margin-left: 270px;
    margin-top: 2px
}

.incChek input[type='checkbox']{
    margin-top: 5px;
    float: left;
}

.selectionDiv{
    float: left;
}

.searchBox input{
  width: 35%;
  display: inline-block;
}