.elementGroupDiv {
  /* width: 590px; */
  height: 570px;
}

.k-window {
  position: fixed !important;
}

.incChek {
  position: absolute;
  margin-left: 270px;
  margin-top: 2px
}

.incChek input[type='checkbox'] {
  margin-top: 5px;
  float: left;
}

.selectionDiv {
  float: left;
}

/* Ipad device  */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* .elementGroupDiv{
    width: 700px;
    height: 620px;
  } */
}