<kendo-window [top]="20" [height]="auto" title="{{title}}" *ngIf="propertySecurityWindow" (close)="closePropSecWindow()"
  [width]="900">

  <div class="row">
    <div class="col-md-6 text-left">
      <button type="button" (click)="openNewPropSecPopup()" class="btn btn-sm themeButton">New</button>
      <button type="button" (click)="closePropSecWindow()" class="btn btn-sm themeButton ml-1">Close</button>
    </div>

    <div class="col-md-6 searchBox text-right">
      <input type="text" placeholder="Search" class="form-control" (input)="onFilter($event.target.value)">
    </div>
  </div>




  <div class="row mt-2">
    <div class="col-md-12">
      <kendo-grid id="propertySecGroup" #grid="kendoGrid" [data]="gridView" [pageSize]="pageSize" [rowHeight]="36"
        (pageChange)="pageChange($event)" scrollable="virtual" [loading]="loading" filterable="menu" [resizable]="true"
        [sortable]="{
        allowUnsort: true,
        mode: 'single'
        }" [skip]="state.skip" [sort]="state.sort" [selectable]="selectableSettings" [filter]="state.filter"
        (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
        [navigable]="false" [virtualColumns]="false" [kendoGridSelectBy]="mySelectionKey" [selectedKeys]="mySelection"
        [height]="gridHeight">

        <kendo-grid-column title=" " width="35" [filterable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
              <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="deleteSecPropGrp(dataItem)" href="javascript:void(0)">Delete</a>
              </div>
            </li>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="hierarchyTypeCode" title="Hierarchy Type" width="120" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="assetId" title="Assid" width="120" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="assetAddress" title="Address" width="160" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="accessArea" title="Area" width="100" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="accessLevel" title="Access" width="100" [filterable]="false">
        </kendo-grid-column>


      </kendo-grid>
    </div>

  </div>

  <div class="psWindowBlur"></div>

  <app-new-property-security *ngIf="newPropsecurity" [newPropsecurity]="newPropsecurity" [selectedGroup]="selectedGroup" (closeNewPropertysecutiyEvent)="closeNewPropertysecutiyEvent($event)" (refreshPropertySecurity)="refreshPropertySecurity($event)"></app-new-property-security>
  
</kendo-window>











<!-- window for add new property starts -->
<!-- <kendo-dialog title="Add New Property Security '{{selectedGroup.groupName}}'" *ngIf="dialogNewPropSec"
  (close)="closeNewPropSecPopup()">
  <div class="card-body createPropSecDiv">

    <form [formGroup]="newPropForm" (ngSubmit)="onSubmit()" class="mt-0">
      <div class="form-group row">
        <label class="col-form-label col-form-label-sm col-sm-2 text-sm-left">Hierarchy</label>
        <div class="col-sm-12 col-md-8  hiearchyTree">
          <ul id="myUL">

            <ng-template #recursiveList let-printHiearchy>
              <li *ngFor="let item of printHiearchy">
                <span><span style="color:red;">({{ item?.assetName }})</span> {{ item?.assetId }} - {{
                  item?.address }}</span>
                <ul *ngIf="item.childLayers.length > 0">
                  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.childLayers }">
                  </ng-container>
                </ul>
              </li>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: printHiearchy }"></ng-container>

          </ul>
        
        </div>
        <div class="col-md-2 col-sm-12 hiearchyBtn">
          <button type="button" (click)="openHiearchyWindow()" class="btn btn-sm">...</button>
          <button type="button" (click)="clearPropSec()" class="btn btn-sm">Clear</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-form-label-sm col-md-2 text-sm-left">Hiearchy Type:</label>
        <div class="col-md-3">
          <input type="text" formControlName="hiearchyType" readonly class="form-control form-control-sm"
            placeholder="">
        </div>
        <div class="col-md-7">
          <input type="text" formControlName="hiearchyType1" readonly class="form-control form-control-sm"
            placeholder="">
        </div>

      </div>

      <div class="form-group row">
        <label class="col-form-label col-form-label-sm col-md-2 text-sm-left">Asset ID:</label>
        <div class="col-md-3">
          <input type="text" formControlName="assetId" readonly class="form-control form-control-sm" placeholder="">
        </div>
        <div class="col-md-7">
          <input type="text" formControlName="assetId1" readonly class="form-control form-control-sm" placeholder="">
        </div>

      </div>


      <div class="form-group row">
        <label class="col-form-label col-form-label-sm col-md-2 text-sm-left">Portal:</label>
        <div class="col-md-4">

          <select name="portal" formControlName="portal" (change)="checkAccess()" class="form-control form-control-sm"
            [(ngModel)]="selectedPortal">
            <option *ngFor="let portal of portals" [ngValue]="portal">{{portal}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row" *ngIf="showAccess">
        <label class="col-form-label col-form-label-sm col-md-2 text-sm-left">Access:</label>
        <div class="col-md-4">

          <select name="access" [(ngModel)]="access" formControlName="access" class="form-control form-control-sm">
            <option selected value="R">Read</option>
            <option value="E">Edit</option>
            <option value="A">Authorise</option>
          </select>
        </div>
      </div>

      <div class="pull-right buttonDiv">
        <button type="button" (click)="closeNewPropSecPopup()" class="btn btn-sm">Cancel</button>
        <button type="submit" [disabled]="!newPropForm.valid" class="btn btn-sm themeButton">Ok</button>

      </div>
    </form>
    <div class="portalwBlur"></div>
  </div>
</kendo-dialog> -->
<!-- window for add new property ends -->



<!-- window for add new hiearchy starts -->
<!-- <kendo-window [height]="640" [width]="700" title="Select Hierarchy..." *ngIf="hiearchyWindow"
  (close)="closeHiearchyWindow()">
  <div class="row hiearchyDiv">
    <div class="col-md-12">
      <div class="form-group">
        <select class="form-control" id="sel1" (change)="getHiearchyTree()" [(ngModel)]="selectedHiearchyType">
          <option *ngFor="let hiearchyTypeList of hiearchyTypeLists" [ngValue]="hiearchyTypeList.hierarchyTypeCode">
            {{hiearchyTypeList.hierarchyTypeName}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <ul class="tree" *ngIf="hierarchyLevels">
        <ng-template #recursiveList let-hierarchyLevels>
          <li *ngFor="let item of hierarchyLevels" class="{{item?.assetId}}">
          
            <ng-container *ngIf="item.childLayers.length > 0; then someContent else otherContent"></ng-container>
            <ng-template #someContent>
              <input type="checkbox" id="{{item?.assetId}}" />
              <label
                [className]="selectedhierarchyLevel != undefined ? ( selectedhierarchyLevel.assetId == item.assetId ? 'tree_label selected' : 'tree_label') : 'tree_label'"
                (click)="selectHiearchy($event,item)" for="{{item?.assetId}}"><span style="color:red;">({{
                  item?.assetName }})</span>
                {{ item?.assetId }} - {{ item?.address }}</label>
            </ng-template>
            <ng-template #otherContent>
              <label (click)="selectHiearchy($event,item)"> <span
                  [className]="selectedhierarchyLevel != undefined ? ( selectedhierarchyLevel.assetId == item.assetId ? 'tree_label selected' : 'tree_label') : 'tree_label'"><span
                    style="color:red;">({{ item?.assetName }})</span> {{ item?.assetId }} - {{ item?.address
                  }}</span></label>
            </ng-template>




            <ul *ngIf="item.childLayers.length > 0">
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.childLayers }"></ng-container>
            </ul>
          </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: hierarchyLevels }"></ng-container>
      </ul>

      <div class="pull-right footerButton footerSec">
        <button (click)="closeHiearchyWindow()" class="btn btn-sm">Cancel</button>
        <button class="btn btn-sm btn-default themeButton" (click)="setHiearchyValues()">Ok</button>

      </div>


    </div>

  </div>

</kendo-window> -->