<kendo-window [top]="20" [height]="auto" title="{{title}}" *ngIf="propertySecurityWindow" (close)="closePropSecWindow()"
  [width]="900">

  <div class="row">
    <div class="col-md-6 text-left">
      <button type="button" (click)="openNewPropSecPopup()" class="btn btn-sm themeButton">New</button>
      <button type="button" (click)="closePropSecWindow()" class="btn btn-sm themeButton ml-1">Close</button>
    </div>

    <div class="col-md-6 searchBox text-right">
      <input type="text" placeholder="Search" class="form-control" (input)="onFilter($event.target.value)">
    </div>
  </div>




  <div class="row mt-2">
    <div class="col-md-12">
      <kendo-grid id="propertySecGroup" #grid="kendoGrid" [data]="gridView" [pageSize]="pageSize" [rowHeight]="36"
        (pageChange)="pageChange($event)" scrollable="virtual" [loading]="loading" filterable="menu" [resizable]="true"
        [sortable]="{
        allowUnsort: true,
        mode: 'single'
        }" [skip]="state.skip" [sort]="state.sort" [selectable]="selectableSettings" [filter]="state.filter"
        (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
        [navigable]="false" [virtualColumns]="false" [kendoGridSelectBy]="mySelectionKey" [selectedKeys]="mySelection"
        [height]="gridHeight">

        <kendo-grid-column title=" " width="35" [filterable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
              <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="deleteSecPropGrp(dataItem)" href="javascript:void(0)">Delete</a>
              </div>
            </li>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="hierarchyTypeCode" title="Hierarchy Type" width="120" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="assetId" title="Assid" width="120" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="assetAddress" title="Address" width="160" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="accessArea" title="Area" width="100" [filterable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="accessLevel" title="Access" width="100" [filterable]="false">
        </kendo-grid-column>


      </kendo-grid>
    </div>

  </div>

  <div class="psWindowBlur"></div>

  <app-new-property-security *ngIf="newPropsecurity" [newPropsecurity]="newPropsecurity" [selectedGroup]="selectedGroup" (closeNewPropertysecutiyEvent)="closeNewPropertysecutiyEvent($event)" (refreshPropertySecurity)="refreshPropertySecurity($event)"></app-new-property-security>
  
</kendo-window>

