.k-window {
  position: fixed !important;
}

.k-grid tbody td {
  white-space: nowrap;
  line-height: 20px;
  padding: 8px 12px;
}

.searchBox input{
  width: 36%;
  display: inline-block;
}

.dropdown.list-unstyled {
  position: absolute !important;
}

