<kendo-window title="{{title}}" *ngIf="packageMappingWindow" (close)="closePackageMappingWindow()" [top]="20"
    [minWidth]="700" [width]="1050" [height]="auto" [minHeight]="350">

    <div class="row">
        <div class="col-md-12 mt-2">
            <kendo-grid [data]="gridView" [loading]="gridLoading" [height]="600" [selectable]="{
                    mode: 'multiple'
                  }" filterable="menu" [resizable]="true" [sortable]="{
                    allowUnsort: true,
                    mode: 'multiple'
                    }" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
                (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
                (cellClick)="cellClickHandler($event)" [navigable]="false" [kendoGridSelectBy]="mySelectionKey"
                [selectedKeys]="mySelection">

                <kendo-grid-column field="wphcode" title="Code" width="130">
                </kendo-grid-column>
                <kendo-grid-column field="wphname" title="Name" width="250">
                </kendo-grid-column>
                <kendo-grid-column field="atadescription" title="Description" width="280">
                </kendo-grid-column>
                <kendo-grid-column field="stageCheckDesc" title="Stage Checklist" width="320">
                </kendo-grid-column>


            </kendo-grid>

        </div>


    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <select class="selectTemplate" [(ngModel)]="templateid">
                <option value="0"></option>
                <option *ngFor="let template of templates" [value]="template.wochecksurcde">{{template.stageCheckDesc}}
                </option>
            </select>

            <button class="btn btn-sm themeButton ml-3" (click)="apply(1)">Apply Selected</button>
            <button class="btn btn-sm themeButton ml-2" (click)="confirmAppyAll()">Apply All</button>
        </div>

        <div class="col-md-6 text-right">
            <button (click)="closePackageMappingWindow()" class="btn btn-sm themeButton">Close</button>
        </div>
    </div>


</kendo-window>