.k-window {
    position: fixed !important;
}

.k-grid tbody td {
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 12px;
}

.headingDiv {
    background-color: #dbdbdb;
    padding: 3px;
}

.heading {
    font-weight: 600;
}

.blue {
    color: blue;
}

.actionDiv {
    display: inline;
}

.actionDiv .themeButton, .actionDiv .reportBtnArea{
    display: inline-block;
    margin-left: 2px;
}