<kendo-window title="{{title}}" *ngIf="openManageMilestone" (close)="closeManageMilestones()" [top]="20"
    [minWidth]="800" [width]="1100" [height]="auto" [minHeight]="350">

    <div class="row">
        <div class="col-md-2">
            <label for="" class="col-form-label">Works Order:
                ({{worksOrderData?.wosequence}}) </label>
        </div>
        <div class="col-md-8">
            <input [readonly]="true" type="text" class="form-control" placeholder="" value="{{ woName}}">
        </div>

        <div class="col-md-2 text-right">
            <div class="dropdown mr-1 reportBtnArea mt-2" id="nesting-dropdown-demo"
                *ngIf="openMilestoneFor == 'checklist'">
                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">Report</button>
                <div class="dropdown-menu" x-placement="bottom-start"
                    style="position: absolute; will-change: top, left; top: 38px; left: 0px;">

                    <a *ngIf="woMenuAccess('Milestone Programme Log')" class="dropdown-item" href="javascript:void(0)"
                        (click)="mileStoneReport(546, 'Programme Log')">Programme Log</a>
                    <a *ngIf="woMenuAccess('Milestone Report')" class="dropdown-item" href="javascript:void(0)"
                        (click)="mileStoneReport(544, 'Milestone Report')">Milestone Report</a>
                    <a *ngIf="woMenuAccess('Milestone Note Report')" class="dropdown-item" href="javascript:void(0)"
                        (click)="mileStoneReport(545, 'Note Report')">Note Report</a>

                </div>
            </div>
        </div>

    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <kendo-grid #grid [data]="gridView" [height]="500" [selectable]="selectableSettings" filterable="menu"
                [resizable]="true" [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" [skip]="state.skip" [loading]="loading" [pageSize]="pageSize" [rowHeight]="36"
                (pageChange)="pageChange($event)" scrollable="virtual" [sort]="state.sort" [filter]="state.filter"
                (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
                (cellClick)="cellClickHandler($event)" [navigable]="false">


                <kendo-grid-column *ngIf="!predecessors" title=" " width="37" [filterable]="false" [sortable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>

                            <div class="dropdown-menu">
                                <a *ngIf="woMenuAccess('Milestone Edit')" class="dropdown-item"
                                    href="javascript:void(0)" (click)="openMilestonesEdit(dataItem)">Edit
                                </a>

                                <a *ngIf="woMenuAccess('Milestone Documents') && openMilestoneFor == 'checklist'"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="openDocumentWindow(dataItem)">Document(s)</a>

                                <a *ngIf="woMenuAccess('Milestone Notes') && openMilestoneFor == 'checklist'"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="openMilestoneNotesMethod(dataItem)">Notes</a>

                            </div>
                        </li>

                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-column field="dependenciesIndicator" title="" width="40" [filterable]="false"
                    [sortable]="false" *ngIf="openMilestoneFor == 'checklist'">
                    <ng-template kendoGridHeaderTemplate>
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <i (click)="openPredecessorsMethod(dataItem)" class="fa fa-list"
                            *ngIf="!predecessors && (dataItem.dependenciesIndicator == 'I' || dataItem.dependenciesIndicator == 'C')"
                            aria-hidden="true"></i>
                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-column field="itemIsCompleted" title="" width="40" [filterable]="false" [sortable]="false"
                    *ngIf="openMilestoneFor == 'checklist'">
                    <ng-template kendoGridHeaderTemplate>
                        <img style="height: 14px;" src="assets/img/icons/tick.png" />
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <img style="height: 14px;" *ngIf="dataItem.itemIsCompleted != 'N'"
                            src="assets/img/icons/tick.png" />
                    </ng-template>

                </kendo-grid-column>

                <kendo-grid-column field="milestoneFileCount" title="" width="40" [filterable]="false"
                    [sortable]="false" *ngIf="openMilestoneFor == 'checklist'">
                    <ng-template kendoGridHeaderTemplate>
                        <img style="height: 14px;" src="assets/img/icons/attach.png" />
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div style="width:100%; text-align: center;">
                            <img style="height:16px;" *ngIf="dataItem.milestoneFileCount != 0"
                                src="assets/img/icons/attach.png" />
                        </div>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="milestoneNoteCount" title="" width="40" [filterable]="false"
                    [sortable]="false" *ngIf="openMilestoneFor == 'checklist'">
                    <ng-template kendoGridHeaderTemplate>
                        <i class="blue fa fa-exclamation-circle" aria-hidden="true"></i>
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <i *ngIf="dataItem.milestoneNoteCount != 0" class="blue fa fa-exclamation-circle"
                            aria-hidden="true"></i>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="wostagename" title="Stage" width="130" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column field="wocheckname" title="Milestone" width="130" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column field="wocheckspeciaL1" title="Checklist Type" width="130" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column field="wocheckresp" title="Responsibility" width="130" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column field="woresponsibleusername" title="Responsible User" width="130"
                    [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column field="wostatus" title="Status" width="130" [filterable]="false"
                    *ngIf="openMilestoneFor == 'checklist'">
                </kendo-grid-column>

                <kendo-grid-column field="wocheckspeciaL2" title="Attachment Req'd" width="130" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-gridView>
                        <span *ngIf="gridView.wocheckspeciaL2==='Y'">Yes</span>
                        <span *ngIf="gridView.wocheckspeciaL2==='N'">No</span>
                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-column field="woactualstartdate" title="Start Date" width="130"
                    *ngIf="openMilestoneFor == 'checklist'">
                    <ng-template kendoGridCellTemplate let-gridView>
                        <span>
                            {{ gridView.woactualstartdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="wotargetcompletiondate" title="Target Date" width="130"
                    *ngIf="openMilestoneFor == 'checklist'">
                    <ng-template kendoGridCellTemplate let-gridView>
                        <span>
                            {{ gridView.wotargetcompletiondate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="woactualenddate" title="Completion Date" width="130"
                    *ngIf="openMilestoneFor == 'checklist'">
                    <ng-template kendoGridCellTemplate let-gridView>
                        <span>
                            {{ gridView.woactualenddate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="woplanstartdate" title="Plan Start Date" width="130"
                    *ngIf="openMilestoneFor == 'checklist'">
                    <ng-template kendoGridCellTemplate let-gridView>
                        <span>
                            {{ gridView.woplanstartdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="woplanenddate" title="Plan End Date" width="130"
                    *ngIf="openMilestoneFor == 'checklist'">
                    <ng-template kendoGridCellTemplate let-gridView>
                        <span>
                            {{ gridView.woplanenddate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="womilestonecomment" title="Comment(s)" width="130"
                    *ngIf="openMilestoneFor == 'checklist'">
                </kendo-grid-column>

                <kendo-grid-column field="womileupdateuser" title="Updated By" width="130">
                </kendo-grid-column>

                <kendo-grid-column field="womileupdatedatetime" title="Updated Date" width="130">
                    <ng-template kendoGridCellTemplate let-gridView>
                        <span>
                            {{ gridView.womileupdatedatetime | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>


            </kendo-grid>

        </div>

        <div class="col-md-12 text-right mt-2">
            <button (click)="closeManageMilestones()" class="btn btn-sm themeButton ml-1">Close</button>
        </div>
    </div>

    <div class="milestoneOverlay"></div>
    <div class="milestonePredecessorsOverlay"></div>

    <app-manage-milestones-edit *ngIf="openMilestoneEdit" [openMilestoneEdit]="openMilestoneEdit"
        [singleMilestone]="singleMilestone" [openMilestoneFor]="openMilestoneFor"
        (closeMilestoneEditEvent)="closeMilestoneEdit($event)">
    </app-manage-milestones-edit>

    <app-manage-milestones *ngIf="openPredecessors" [worksOrderData]="worksOrderData"
        [selectedMilestoneInp]="singleMilestone" [openManageMilestone]="openPredecessors"
        [predecessors]="openPredecessors" (closeManageMilestoneEvent)="closePredecessors($event)">
    </app-manage-milestones>

    <app-milestones-notes *ngIf="openMilestoneNotes" [openMilestoneNotes]="openMilestoneNotes"
        [selectedMilestoneInp]="singleMilestone" (closeMilestoneEvent)="closeMilestoneNotes($event)">
    </app-milestones-notes>

    <app-milestones-document-list *ngIf="documentWindow" [documentWindow]="documentWindow"
        [selectedMilestoneInp]="singleMilestone" (closeDocument)="closeDocument($event)"></app-milestones-document-list>

</kendo-window>