<kendo-window title="{{title}}" *ngIf="newPropsecurity" (close)="closeNewPropertysecurity()" [top]="20" [minWidth]="600"
    [width]="700" [height]="auto" [minHeight]="270">

    <form [formGroup]="newPropForm" (ngSubmit)="onSubmit()" class="mt-0">
        <div class="form-group row">
            <label class="col-form-label col-form-label-sm col-sm-2 text-sm-left">Hierarchy</label>
            <div class="col-sm-12 col-md-8  hiearchyTree">
                <ul id="myUL">
                    <ng-template #recursiveList let-printHiearchy>
                        <li *ngFor="let item of printHiearchy">
                            <span><span style="color:red;">({{ item?.assetName }})</span> {{ item?.assetId }} - {{
                                item?.address }}</span>
                            <ul *ngIf="item.childLayers.length > 0">
                                <ng-container
                                    *ngTemplateOutlet="recursiveList; context:{ $implicit: item.childLayers }">
                                </ng-container>
                            </ul>
                        </li>
                    </ng-template>
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: printHiearchy }">
                    </ng-container>

                </ul>


            </div>
            <div class="col-md-2 col-sm-12 hiearchyBtn">
                <button type="button" (click)="openHiearchyWindow()" class="btn btn-sm">...</button>
                <button type="button" (click)="clearPropSec()" class="btn btn-sm">Clear</button>
            </div>
        </div>


        
        <div class="form-group row">
            <label class="col-form-label col-form-label-sm col-md-2 text-sm-left">Hiearchy Type:</label>
            <div class="col-md-10">
                <input type="text" formControlName="hiearchyType" readonly class="form-control form-control-sm"
                    placeholder="">
            </div>
           
        </div>

        <div class="form-group row">
            <label class="col-form-label col-form-label-sm col-md-2 text-sm-left">Asset ID:</label>
            <div class="col-md-10">
                <input type="text" formControlName="assetId" readonly class="form-control form-control-sm"
                    placeholder="">
            </div>
         
        </div>


        <div class="form-group row">
            <label class="col-form-label col-form-label-sm col-md-4 text-sm-left">Asbestos Lite Property Security:</label>
            <div class="col-md-8">
                <label class="switcher">
                    <input type="checkbox" class="switcher-input" formControlName="portal">
                    <span class="switcher-indicator">
                        <span class="switcher-yes"><span class="ion ion-md-checkmark"></span></span>
                        <span class="switcher-no"><span class="ion ion-md-close"></span></span>
                    </span>
                </label>

            </div>
        </div>

        <div class="form-group row" *ngIf="showAccess">
            <label class="col-form-label col-form-label-sm col-md-2 text-sm-left">Access:</label>
            <div class="col-md-4">

                <select formControlName="access"
                    class="form-control form-control-sm">
                    <option selected value="R">Read</option>
                    <option value="E">Edit</option>
                    <option value="A">Authorise</option>
                </select>
            </div>
        </div>

        <div class="pull-right buttonDiv">
            <button type="button" (click)="closeNewPropertysecurity()" class="btn btn-sm">Cancel</button>
            <button type="submit" [disabled]="!newPropForm.valid" class="btn btn-sm themeButton">Ok</button>

        </div>
    </form>




    <div class="newSecurityBg"></div>

    <kendo-window [height]="640" [top]="25" [width]="700" title="Select Hierarchy..." *ngIf="hiearchyWindow"
        (close)="closeHiearchyWindow()">
        <div class="row hiearchyDiv">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control" id="sel1" (change)="getHiearchyTree()"
                        [(ngModel)]="selectedHiearchyType">
                        <option *ngFor="let hiearchyTypeList of hiearchyTypeLists"
                            [ngValue]="hiearchyTypeList.hierarchyTypeCode">
                            {{hiearchyTypeList.hierarchyTypeName}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-12">
                <ul class="tree" *ngIf="hierarchyLevels">
                    <ng-template #recursiveList let-hierarchyLevels>
                        <li *ngFor="let item of hierarchyLevels" class="{{item?.assetId}}">
                            <ng-container *ngIf="item.childLayers.length > 0; then someContent else otherContent">
                            </ng-container>
                            <ng-template #someContent>
                                <input type="checkbox" id="{{item?.assetId}}" />
                                <label
                                    [className]="selectedhierarchyLevel != undefined ? ( selectedhierarchyLevel.assetId == item.assetId ? 'tree_label selected' : 'tree_label') : 'tree_label'"
                                    (click)="selectHiearchy($event,item)" for="{{item?.assetId}}"><span
                                        style="color:red;">({{
                                        item?.assetName }})</span>
                                    {{ item?.assetId }} - {{ item?.address }}</label>
                            </ng-template>
                            <ng-template #otherContent>
                                <label (click)="selectHiearchy($event,item)"> <span
                                        [className]="selectedhierarchyLevel != undefined ? ( selectedhierarchyLevel.assetId == item.assetId ? 'tree_label selected' : 'tree_label') : 'tree_label'"><span
                                            style="color:red;">({{ item?.assetName }})</span> {{ item?.assetId }} - {{
                                        item?.address
                                        }}</span></label>
                            </ng-template>


                            <ul *ngIf="item.childLayers.length > 0">
                                <ng-container
                                    *ngTemplateOutlet="recursiveList; context:{ $implicit: item.childLayers }">
                                </ng-container>
                            </ul>
                        </li>
                    </ng-template>
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: hierarchyLevels }">
                    </ng-container>
                </ul>

                <div class="pull-right footerButton footerSec">
                    <button (click)="closeHiearchyWindow()" class="btn btn-sm">Cancel</button>
                    <button class="btn btn-sm btn-default themeButton" (click)="setHiearchyValues()">Ok</button>
                </div>


            </div>

        </div>

    </kendo-window>
</kendo-window>