.k-window {
    position: fixed !important;
}

.k-grid tbody td {
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 12px;
}


.variationAssetDetail .k-grid tr.notNew {
    background-color: rgba(230, 0, 126, 0.1) !important
}

.variationDetailHead label{
    margin-top: 5px;
}