<kendo-window title="{{title}}" *ngIf="openVariationWorkList" (close)="closeWorkList()" [top]="20" [minWidth]="700"
    [width]="980" [height]="auto" [minHeight]="350">


    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-sm themeButton mr-1" (click)="openFeesMethod()">
                Fees
            </button>

            <button *ngIf="openedFor != 'details'" type="button" class="btn btn-sm themeButton"
                (click)="openAdditionalWorkItem()">
                New
            </button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 mt-2 varWorkListGrid">
            <kendo-grid #grid [data]="gridView" [height]="600" [selectable]="selectableSettings" filterable="menu"
                [resizable]="true" [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" [skip]="state.skip" [loading]="loading" [pageSize]="pageSize" [rowHeight]="36"
                (pageChange)="pageChange($event)" scrollable="virtual" [sort]="state.sort" [filter]="state.filter"
                (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
                (cellClick)="cellClickHandler($event)" [navigable]="false" [rowClass]="rowCallback">

                <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false"
                    *ngIf="openedFor != 'details'">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;"
                            (click)="setSeletedRow(dataItem)"
                            *ngIf="dataItem.woadstatus != 'Accepted' || (dataItem.woadstatus == 'Accepted' && dataItem.woisequence == 0)">
                            <i (click)="setSeletedRow(dataItem)" data-toggle="dropdown" aria-expanded="false"
                                class="fas fa-bars"></i>

                            <div class="dropdown-menu">
                                <a [ngClass]="{'disabled' : disableGridRowMenu('Change Cost/Qty',dataItem) }"
                                    *ngIf="woMenuAccess('Change Cost/Qty')" class="dropdown-item"
                                    href="javascript:void(0)"
                                    (click)="validateForProcess(dataItem, 'ChangeCostQty')">Change Cost/Qty</a>

                                <a *ngIf="woMenuAccess('Remove Work (Var)')"
                                    [ngClass]="{'disabled' : disableGridRowMenu('Remove Work',dataItem)}"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="validateForProcess(dataItem, 'RemoveWork')">Remove Work</a>

                                <a *ngIf="woMenuAccess('Remove Item Variation')"
                                    [ngClass]="{'disabled' : disableGridRowMenu('Remove Item Variation',dataItem)}"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="validateForProcess(dataItem, 'RemoveVariation')">Remove Item Variation</a>

                                <a *ngIf="woMenuAccess('Recharge (Var)') && dataItem.woadrechargeyn == 'N' || dataItem.variationAction == 'Remove Work Item'"
                                    [ngClass]="{'disabled' : disableGridRowMenu('Recharge',dataItem) }"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="validateForProcess(dataItem, 'Recharge')">Recharge</a>

                                <a *ngIf="woMenuAccess('Recharge (Var)') && dataItem.woadrechargeyn == 'Y' &&  dataItem.variationAction != 'Remove Work Item'"
                                    [ngClass]="{'disabled' : disableGridRowMenu('Recharge',dataItem) }"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="validateForProcess(dataItem, 'ClearRecharge')">Clear
                                    Recharge</a>

                                <a *ngIf="woMenuAccess('Refusal (Var)') && dataItem.woadrefusaL_YN == 'N'"
                                    [ngClass]="{'disabled' : disableGridRowMenu('Refusal',dataItem)}"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="validateForProcess(dataItem, 'Refusal')">Set To
                                    Refusal</a>

                                <a *ngIf="woMenuAccess('Refusal (Var)') && dataItem.woadrefusaL_YN == 'Y' && dataItem.variationAction != 'Remove Work Item'"
                                    [ngClass]="{'disabled' : disableGridRowMenu('Refusal',dataItem)}"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="validateForProcess(dataItem, 'ClearRefusal')">Clear
                                    Refusal</a>

                                <a *ngIf="woMenuAccess('Replace Service Package')"
                                    [ngClass]="{'disabled' : disableGridRowMenu('Replace Service Package',dataItem)}"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="validateForProcess(dataItem, 'ReplacePackage')">Replace Service
                                    Package</a>
                            </div>
                        </li>

                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column *ngIf="openedFor != 'details'" field="woisequence" title="Sequence" width="130">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{dataItem.woisequence != 0 ? dataItem.woisequence : ''}}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="variationAction" title="Action" width="130">
                </kendo-grid-column>

                <kendo-grid-column field="wlataid" title="Attr Id" width="100">
                </kendo-grid-column>

                <kendo-grid-column title="Checklist" field="wocheckname" width="130">
                </kendo-grid-column>

                <kendo-grid-column *ngIf="openedFor != 'details'" title="Recharge" field="woadrechargeyn" width="120"
                    [style]="{'text-align': 'center'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            <img *ngIf="dataItem.woadrechargeyn == 'Y'" style="height: 14px;"
                                src="assets/img/icons/tick.png" />

                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column *ngIf="openedFor != 'details'" field="refusaL_REASON" title="Refusal" width="130">
                </kendo-grid-column>

                <kendo-grid-column title="Description" field="wphname" width="280">
                </kendo-grid-column>

                <kendo-grid-column title="Qty" field="asaquantity" width="100">
                </kendo-grid-column>

                <kendo-grid-column title="UOM" field="asauom" width="100">
                </kendo-grid-column>

                <kendo-grid-column title="Status" field="woadstatus" width="120">
                </kendo-grid-column>

                <kendo-grid-column title="Package Code" field="wlcomppackage" width="120">

                </kendo-grid-column>

                <kendo-grid-column title="Package Name" field="wphname" width="120">
                </kendo-grid-column>

                <kendo-grid-column title="Comment" field="woadcomment" width="120">
                </kendo-grid-column>

                <kendo-grid-column title="Forecast" field="woadforecast" width="120" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woadforecast | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Committed" field="woadcommitted" width="120"
                    [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woadcommitted | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Actual" field="woadactual" width="120" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woadactual | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>

                </kendo-grid-column>

                <kendo-grid-column title="Approved" field="woadapproved" width="120" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woadapproved | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Pending" field="woadpending" width="120" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woadpending | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Created By" field="mPgoA" width="120">
                </kendo-grid-column>

                <kendo-grid-column title="Created" field="mPgqA" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.mPgqA | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Updated By" field="mPgrA" width="120">
                </kendo-grid-column>

                <kendo-grid-column title="Updated" field="mPgtA" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.mPgtA | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>


            </kendo-grid>

        </div>

        <div class="col-md-12 text-right mt-2">
            <button (click)="closeWorkList()" class="btn btn-sm themeButton ml-1">Close</button>
        </div>
    </div>


    <div class="variationWorkListOverlay"></div>

    <app-variation-fees *ngIf="openFees" [openFees]="openFees" [openedFrom]="openedFrom" [openedFor]="openedFor"
        [selectedVariationInp]="selectedVariationInp"
        [selectedSingleVariationAssetInp]="selectedSingleVariationAssetInp" (closeFeesEvent)="closeOpenFees($event)">
    </app-variation-fees>

    <app-variation-additional-work-item *ngIf="openadditionalWork" [openedFrom]="openedFrom" [openedFor]="openedFor"
        [openadditionalWork]="openadditionalWork" [selectedVariationInp]="selectedVariationInp"
        [selectedSingleVariationAssetInp]="selectedSingleVariationAssetInp"
        (closeAdditionalWorkEvent)="closeAdditionalWorkItem($event)">
    </app-variation-additional-work-item>


    <app-variation-pkz-enter-qty *ngIf="EditWorkPackageQtyCostWindow" [pkzQtyWindow]="EditWorkPackageQtyCostWindow"
        [singleVariationInp]="selectedVariationInp" [selectedSingleVariationAssetInp]="selectedSingleVariationAssetInp"
        [assetDetailInp]="selectedSingleVarWorkList" [openedFrom]="openedFrom" [parentComp]="'worklist'"
        (closePkzQtyEvent)="closeEditWorkPackageQtyCostWindow($event)" [mode]="pkzQtyMode"
        [selectedPkzs]="selectedSingleServicePkz" (closeServicePkz)="closeServicePkzWindow($event)">
    </app-variation-pkz-enter-qty>



    <kendo-window title="{{reasonWindowtitle}}" [top]="25" *ngIf="SetToRefusalWindow"
        (close)="closeSetToRefusalWindow()" [minWidth]="250" [width]="650">

        <div class="row">
            <div class="form-group col-md-12" *ngIf="reasonWindowFor == 'refusal'">
                <label class="form-label">Refusal Reason</label>
                <select class="custom-select form-control" [(ngModel)]="reason">
                    <option value=""></option>
                    <option *ngFor="let ref of refusalCodeList" value="{{ref.woadrefusal}}">{{ref.worcrefusaldesc}}
                    </option>

                </select>
            </div>

            <div class="form-group col-md-12" *ngIf="reasonWindowFor == 'deletework'">
                <textarea [(ngModel)]="reason" class="form-control" rows="5"></textarea>
            </div>


        </div>

        <div class="buttonDiv pull-right mb-4">
            <button type="button" (click)="setReason()" class="btn btn-sm themeButton mr-1">Apply</button>
            <button type="button" (click)="closeSetToRefusalWindow()"
                class="btn btn-sm themeButton mr-1">Cancel</button>

        </div>

    </kendo-window>


    <kendo-window class="servicePkzGrid" title="Select Replacement Service Package" *ngIf="servicePkzOpen"
        (close)="closeServicePkzWindow()" [top]="20" [minWidth]="700" [width]="800" [height]="auto" [minHeight]="350">
        <div class="row">
            <div class="col-md-12">
                <kendo-grid [data]="servicePkzGrid" [height]="410" [selectable]="selectableSettings" filterable="menu"
                    [resizable]="true" [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" [skip]="servicePkzstate.skip" [loading]="loading" [pageSize]="pageSize" [rowHeight]="36"
                    (pageChange)="pageChangeService($event)" scrollable="virtual" [sort]="servicePkzstate.sort"
                    [filter]="servicePkzstate.filter" (sortChange)="sortChangeService($event)"
                    (filterChange)="filterChangeService($event)" (cellClick)="cellClickHandlerService($event)"
                    [navigable]="false">
                    <kendo-grid-column field="wphcode" title="Package Code" width="120">
                    </kendo-grid-column>
                    <kendo-grid-column field="wphname" title="Package Name" width="120">
                    </kendo-grid-column>
                    <kendo-grid-column field="atadescription" title="Attribute Description" width="120">
                    </kendo-grid-column>
                    <kendo-grid-column field="asaquantity" title="Quantity" width="120">
                    </kendo-grid-column>
                    <kendo-grid-column field="uom" title="UOM" width="120">
                    </kendo-grid-column>
                    <kendo-grid-column field="defaultcost" title="Default Cost" width="120"
                        [style]="{'text-align': 'right'}">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span>
                                {{ dataItem.defaultcost | currency:'GBP':'symbol' }}
                            </span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="cost" title="Cost" width="120" [style]="{'text-align': 'right'}">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span>
                                {{ dataItem.cost | currency:'GBP':'symbol' }}
                            </span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="exclusionreason" title="Exclusion Reason" width="120">
                    </kendo-grid-column>

                </kendo-grid>

            </div>

            <div class="col-md-12 mt-2 text-right">
                <button type="button" (click)="replaceService()" class="btn btn-sm themeButton mr-1">Select</button>
                <button type="button" (click)="closeServicePkzWindow()" class="btn btn-sm themeButton">Cancel</button>
            </div>
        </div>

        <div class="variationWorkListOverlaypkz"></div>
    </kendo-window>



</kendo-window>
