.k-window {
    position: fixed !important;
}

.k-grid tbody td {
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 12px;
}

.associationHeaderArea label {
    margin-top: 5px;
}

:host .headerBtnArea {
    display: inline;
}

:host .headerBtnArea .reportBtnArea, :host .headerBtnArea .actionBtnArea {
    display: inline-block;
}