<kendo-window title="{{title}}" [top]="10" [minWidth]="700" [width]="1050" [minHeight]="350"
  (close)="closeWoAssociationsManageWindow()">

  <div class="row associationHeaderArea">
    <div class="col-md-12 headerRow12">

      <div class="row">
        <div class="col-md-2">
          <label for="" class="">Parent Works Order: </label>
        </div>
        <div class="col-md-8">
          <input [readonly]="true" type="text" class="form-control form-control-sm" placeholder=""
            value="{{ worksOrderData.woname }} ({{ worksOrderData.wosequence }})">
        </div>

        <div class="col-md-2 pl-0 text-right headerBtnArea">
          <div class="dropdown mr-1 reportBtnArea" id="nesting-dropdown-demo">
            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false">Report</button>
            <div class="dropdown-menu" x-placement="bottom-start"
              style="position: absolute; will-change: top, left; top: 38px; left: 0px;">

              <a class="dropdown-item" href="javascript:void(0)"
                (click)="WOCreateXportOutputReport(587, 'Associations Works Order Level')">Works Order Level</a>
              <a class="dropdown-item" href="javascript:void(0)"
                (click)="WOCreateXportOutputReport(588, 'Associations Asset Level')">Asset Level</a>

            </div>
          </div>

          <div class="actionBtnArea" *ngIf="mySelection.length >= 1">
            <div class="dropdown" id="nesting-dropdown-demo">
              <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                aria-expanded="false">Actions</button>
              <div class="dropdown-menu" x-placement="bottom-start"
                style="position: absolute; will-change: top, left; top: 38px; left: 0px;">
                <a (click)="addAssociations()" class="dropdown-item" href="javascript:void(0)">Add
                </a>
                <a (click)="updateAssociations()" class="dropdown-item" href="javascript:void(0)">Update</a>
                <a (click)="deleteAssociations()" class="dropdown-item" href="javascript:void(0)">Delete</a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>

  </div>



  <div class="row mt-2">
    <div class="col-md-12">
      <kendo-grid #grid [data]="gridView" [height]="570" [selectable]="selectableSettings" filterable="menu"
        [resizable]="true" [sortable]="{
            allowUnsort: true,
            mode: 'multiple'
            }" [skip]="state.skip" [loading]="loading" [pageSize]="pageSize" [rowHeight]="36"
        (pageChange)="pageChange($event)" scrollable="virtual" [sort]="state.sort" [filter]="state.filter"
        (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
        [navigable]="false" kendoGridSelectBy="wosequence" [selectedKeys]="mySelection">

        <kendo-grid-column title=" " width="35" [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
              <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0)" (click)="addAssociations(dataItem)">Add</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="updateAssociations(dataItem)">Update</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="deleteAssociations(dataItem)">Delete</a>
              </div>

            </li>

          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="wosequence" title="Work Order" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="woname" title="Name" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="woassociationreason" title="Association Reason" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="createuser" title="Created By" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="createdatetime" title="Created Date" [width]="140" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.createdatetime | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="updateuser" title="Updated By" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="updatedatetime" title="Updated Date" [width]="140" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.updatedatetime | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>

      </kendo-grid>

    </div>

    <div class="col-md-12 text-right mt-2">
      <button (click)="closeWoAssociationsManageWindow()" class="btn btn-sm themeButton ml-1">Close</button>
    </div>

  </div>


  <div class="woAssociationoverlay"></div>

  <kendo-window title="{{ HeaderTitle }}" *ngIf="ReasonAssociationWindow" (close)="closeAddUpdateAssociationWindow()"
    [top]="35" [minWidth]="400" [width]="450" [height]="auto" [minHeight]="200">

    <div class="row">
      <div class="col-md-12">
        <textarea [(ngModel)]="reason" class="form-control" rows="5"></textarea>
      </div>

      <div class="col-md-12 mt-4 text-right">
        <button *ngIf="AddAssociationWindow" type="button" (click)="AddAssociationSubmit()"
          class="btn btn-sm themeButton">Add</button>
        <button *ngIf="UpdateAssociationWindow" type="button" (click)="UpdateAssociationSubmit()"
          class="btn btn-sm themeButton">Update</button>
        <button type="button" (click)="closeAddUpdateAssociationWindow()"
          class="btn btn-sm themeButton ml-1">Close</button>
      </div>

    </div>

  </kendo-window>

</kendo-window>