<kendo-window title="{{title}}" *ngIf="openVariationListAll" (close)="closeVariationListAll()" [top]="20"
    [minWidth]="700" [width]="980" [height]="auto" [minHeight]="350">
    <div class="row">
        <div class="col-md-12 actionBtnDiv text-right">
            <button type="button" class="btn btn-sm themeButton mr-1 headin_section" (click)="slideToggle()">
                <i class="fa" [ngClass]="(filterToggle) ? 'fa-minus':'fa-plus'"></i>
            </button>

            <div class="dropdown mr-1" id="nesting-dropdown-demo">
                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">New</button>

                <div class="dropdown-menu" x-placement="bottom-start"
                    style="position: absolute; will-change: top, left; top: 38px; left: 0px;">
                    <a *ngIf="woMenuAccess('Create Blank Variation')" class="dropdown-item" href="javascript:void(0)"
                        (click)="newBlankVariation()">
                        Variation</a>
                   
                    <a [ngClass]="{'disabled' : disableBulkVaritionBtn() || !selectedSingleInstructionVariation }"
                        *ngIf="woMenuAccess('Edit Bulk Variation')" class="dropdown-item" href="javascript:void(0)"
                        (click)="editbulkVariation()">
                        Edit Bulk Variation</a>
                </div>
            </div>


        </div>

        <div class="col-md-12 mt-2">
            <div class="cont">

                <div id="wrapper">
                    <div class="worksorder-variationall-header" style="display: none;">
                        <div class="row">
                            <div class="col-md-2">Works Order: </div>
                            <div class="col-md-10">
                                <input type="text"
                                    value="{{singleWorksOrder?.woname}} ({{singleWorksOrder?.wosequence}})"
                                    class="form-control form-control-sm" [readonly]="true">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 mt-2">
            <kendo-grid #grid [data]="gridView" [height]="600" [selectable]="selectableSettings" filterable="menu"
                [resizable]="true" [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" [skip]="state.skip" [loading]="loading" [pageSize]="pageSize" [rowHeight]="36"
                (pageChange)="pageChange($event)" scrollable="virtual" [sort]="state.sort" [filter]="state.filter"
                (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
                (cellClick)="cellClickHandler($event)" [navigable]="false">


                <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>

                            <div class="dropdown-menu">
                                <a *ngIf="woMenuAccess('Show Variation Assets')"
                                    [ngClass]="{'disabled' : disableVariationBtns('Assets', dataItem)}"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="openVariationlist(dataItem)">Assets</a>

                                <!-- <a [ngClass]="{'disabled' : disableVariationBtns('Details', dataItem)}"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="openVariationDetailMethod(dataItem)">Details</a> -->

                                <div class="dropdown-toggle">
                                    <div class="dropdown-item">Send</div>
                                    <div class="dropdown-menu">
                                        <a *ngIf="woMenuAccess('Send Variation To Customer')"
                                            [ngClass]="{'disabled' : disableVariationBtns('Customer', dataItem)}"
                                            class="dropdown-item" href="javascript:void(0)"
                                            (click)="sendVariation('Customer', dataItem)">Customer</a>
                                        <a [ngClass]="{'disabled' : disableVariationBtns('Contractor', dataItem)}"
                                            *ngIf="woMenuAccess('Send Variation To Contractor')" class="dropdown-item"
                                            href="javascript:void(0)"
                                            (click)="sendVariation('Contractor', dataItem)">Contractor</a>

                                    </div>
                                </div>

                                <a *ngIf="woMenuAccess('Issue Variation')"
                                    [ngClass]="{'disabled' : disableVariationBtns('Issue', dataItem)}"
                                    class="dropdown-item" href="javascript:void(0)"
                                    (click)="issueVariation(dataItem)">Issue</a>

                                <a [ngClass]="{'disabled' : disableVariationBtns('Delete', dataItem)}"
                                    *ngIf="woMenuAccess('Delete Variation')" class="dropdown-item"
                                    href="javascript:void(0)" (click)="deleteVariationConfirm(dataItem)">Delete</a>

                            </div>
                        </li>

                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="woisequence" title="No." width="80" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column field="woirequesttype" title="Request Type" width="130" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column title="Status" field="woiissuestatus" width="140">
                </kendo-grid-column>

                <kendo-grid-column title="Request User Type" field="woiissueusertype" width="130">
                </kendo-grid-column>

                <kendo-grid-column title="Created By" field="woirequestuser" width="140" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column title="Created Date" field="woirequestdate" width="140">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woirequestdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Issued By" field="woiissueuser" width="140" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column title="Issued Date" field="woiissuedate" width="140">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woiissuedate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-column title="Request Reason" field="woiissuereason" width="250">
                </kendo-grid-column>

                <kendo-grid-column title="Fee" field="woifeecost" width="150" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woifeecost | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Work" field="woiworkcost" width="150" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woiworkcost | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Accepted by" field="woiacceptuser" width="140" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column title="Accepted on" field="woiacceptdate" width="140">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woiacceptdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>


            </kendo-grid>

        </div>

        <div class="col-md-12 text-right mt-2">
            <button (click)="closeVariationListAll()" class="btn btn-sm themeButton ml-1">Close</button>
        </div>
    </div>


    <div class="variationListAllOverlay"></div>


    <app-variation-detail *ngIf="openVariationDetail" [openVariationDetail]="openVariationDetail"
        [openedFrom]="openedFrom" [openedFor]="openedFor" [singleVariation]="selectedSingleInstructionVariation"
        (closeVariationDetailEvent)="closeEditBulkVariation($event)">
    </app-variation-detail>


    <app-variation-asset *ngIf="openVariationAsset" [openVariationAsset]="openVariationAsset" [openedFrom]="openedFrom"
        [selectedVariationInp]="selectedSingleInstructionVariation" [selectedWOInp]="singleWorksOrder"
        (closeVariationAssetEvent)="closeAssetVariation($event)" (refreshParentComponent)="refreshComponent($event)">
    </app-variation-asset>

    <app-blank-variation *ngIf="opneBlankVariation" [opneBlankVariation]="opneBlankVariation" [openedFrom]="openedFrom"
        [singleWorksOrder]="singleWorksOrder" [selectedSingleVariationInp]="selectedSingleInstructionVariation"
        (closeBlankVariation)="closeBlankVariation($event)"></app-blank-variation>

</kendo-window>