
.changePassword{
    text-decoration: none;
    color: #e7e7ed;
}

.changePassword:hover{
    text-decoration: none;
    color: #7f7c80;
}

/**/

.changepasswordForm{
    text-align: left;
    margin-top: 72px;
}

.changepasswordForm input{
    text-align: left;
}

.logo{
    height: 70px;
    margin: 0 auto;
}

.chpasbtn{
    width: 100%;
    background-color: #e4287e;
    margin-top: 10px;
}

.changepasswordForm label {
    color: #e7e7ed;
    font-size: 15px;
}

.leftDiv{
    background-color: #070627;
}

.loginLink{
    text-decoration: none;
    color: #e7e7ed;
}

.loginLink:hover{
    text-decoration: none;
    color: #7f7c80;
}

