<kendo-window title="{{title}}" *ngIf="openWOPaymentScheduleWindow" (close)="closePaymentScheduleWin()" [top]="10"
  [minWidth]="700" [width]="1050" [height]="auto" [minHeight]="300">

  <div class="row">
    <div class="col-md-12">
      <div class="row align-items-center">
        <div class="col-md-auto">
          <label class="col-form-label">Works Order: </label>
        </div>
        <div class="col-md">
          <input [readonly]="true" type="text" class="form-control"
            value="{{ worksOrderData?.woname }} (Works Order No : {{ worksOrderData?.wosequence}})">
        </div>
      </div>
    </div>

    <div class="col-md-12 headerActionDiv mt-2">
      <div class="dropdown ml-1 reportBtnArea" id="nesting-dropdown-demo">
        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Schedule
          Report</button>
        <div class="dropdown-menu" x-placement="bottom-start"
          style="position: absolute; will-change: top, left; top: 38px; left: 0px;">
          <a class="dropdown-item" href="javascript:void(0)"
            (click)="WOCreateXportOutputReport(581, 'Contractor Work Report')">Work Report</a>
          <a class="dropdown-item" href="javascript:void(0)"
            (click)="WOCreateXportOutputReport(522, 'Schedule Report(Order)')">Schedule Report(Order)</a>

          <a class="dropdown-item" href="javascript:void(0)"
            (click)="WOCreateXportOutputReport(523, 'Schedule Report(Order)')">Schedule Report(Programme)</a>
        </div>
      </div>


      <button type="button" class="btn btn-sm themeButton" (click)="openWOPMPayments()">Payments</button>
      <button type="button" class="btn btn-sm themeButton" (click)="openWOEditPaymentSchedule()">Edit Schedule</button>
      <button type="button" class="btn btn-sm themeButton"
        (click)="WorksRefreshPaymentSchedule()">Refresh</button>
      <button type="button" class="btn btn-sm themeButton" (click)="openWOAddPaymentSchedule()">Add</button>
      <button type="button" class="btn btn-sm themeButton" (click)="openWOCreatePaymentSchedule()">Create</button>


    </div>

  </div>


  <div class="row mt-2">
    <div class="col-md-12">
      <kendo-grid #grid [data]="gridView" [height]="600" [selectable]="selectableSettings" filterable="menu"
        [resizable]="true" [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" [skip]="state.skip" [loading]="gridLoading" [pageSize]="pageSize" [rowHeight]="36"
        (pageChange)="pageChange($event)" scrollable="virtual" [sort]="state.sort" [filter]="state.filter"
        (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
        [navigable]="false">

        <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;" (click)="setSelectedRow(dataItem)">
              <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"
                (click)="setSelectedRow(dataItem)"></i>
              <div class="dropdown-menu">
                <!-- <a (click)="WorksRefreshPaymentSchedule(dataItem)" class="dropdown-item"
                  href="javascript:void(0)">Refresh Schedule</a> -->

                <a (click)="rquestPayment(dataItem)" class="dropdown-item" href="javascript:void(0)">Request Payment</a>

                <a [ngClass]="{'disabled' : disableEnterValuationBtn(dataItem) }"
                  (click)="openValuationWindowMehhod(dataItem)" class="dropdown-item" href="javascript:void(0)">Enter
                  Valuation</a>

                <!-- <a [ngClass]="{'disabled' : worksOrderData.wocontracttype != 'VALUATION'}" (click)="enterValuation(dataItem)" class="dropdown-item" href="javascript:void(0)">Enter
                  Valuation</a> -->
                <a (click)="WorksResetPendingScheduleCall(dataItem)" class="dropdown-item"
                  href="javascript:void(0)">Reset Pending</a>

                <div class="dropdown-toggle">
                  <div class="dropdown-item">Reports</div>
                  <div class="dropdown-menu contractorReportMenu">
                    <a class="dropdown-item" href="javascript:void(0)"
                      (click)="WOCreateXportOutputReport(525, 'Valuation Report')">Valuation Report</a>
                    <a (click)="GetWebWorksOrderPaymentScheduleDetailsClick(dataItem)" class="dropdown-item"
                      href="javascript:void(0)">Display Payment Schedule Assets</a>
                    <a class="dropdown-item" href="javascript:void(0)"
                      (click)="PaymentReconcillationClick(dataItem, 529, 'Payment Reconcillation')">Payment
                      Reconcillation</a>
                  </div>
                </div>


              </div>
            </li>

          </ng-template>
        </kendo-grid-column>



        <kendo-grid-column field="woname" title="Work Order" [width]="130" [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woname }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsstartdate" title="Period Start Date" [width]="140" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsstartdate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsenddate" title="Period End Date" [width]="140" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsenddate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpspaymentdate" title="Payment Date" [width]="110" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpspaymentdate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpstargetcount" title="Target # Assets" [width]="140" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpstargetcount }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpstargetworkvalue" title="Target Work / Fee Payment" [width]="140"
          [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpstargetworkvalue | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsplannedcount" title="Planned # Assets" [width]="130" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsplannedcount }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsplannedworkvalue" title="Planned Work / Fee Payment" [width]="140"
          [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsplannedworkvalue | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsactualcount" title="Actual # Assets" [width]="120" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsactualcount }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsactualworkvalue" title="Actual Work / Fee Payment" [width]="140"
          [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsactualworkvalue | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsvaluation" title="Valuation" [width]="90" [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsvaluation | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsfixedpaymentvalue" title="Stage Payment" [width]="120" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsfixedpaymentvalue | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpspaymentstatus" title="Payment Status" [width]="130" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpspaymentstatus }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsretentionpct" title="Retention %" [width]="110" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsretentionpct }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsretentionvalue" title="Retention Value" [width]="120" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsretentionvalue | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsestimatedretentionvalue" title="Estimated Retention Value" [width]="140"
          [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsestimatedretentionvalue | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsreleasedretentionvalue" title="Release Retention Value" [width]="140"
          [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsreleasedretentionvalue | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpscontractcostvalue" title="Contract Cost" [width]="120" [filterable]="false"
          [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpscontractcostvalue | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpsestimatedpaymentvalue" title="Actual/Estimated Payment Cost" [width]="140"
          [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpsestimatedpaymentvalue | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>


      </kendo-grid>
    </div>

    <div class="col-md-12 text-right mt-2">
      <button type="button" class="btn btn-sm themeButton" (click)="closePaymentScheduleWin()">Close</button>
    </div>
  </div>


  <kendo-window title="Display Payment Schedule Assets" *ngIf="DisplayPaymentAssetsWindow"
    (close)="closGetWebWorksOrderPaymentScheduleDetailsWindow()" [minWidth]="auto" [height]="auto" [minHeight]="auto">
    <div class="row headerArea">
      <div class="col-md-12 headerRow12">
        <div class="row">
          <div class="col-md-2">
            <label for="">Work Order: </label>
          </div>
          <div class="col-md-6">
            <input [readonly]="true" type="text" class="form-control" placeholder=""
              value="{{ worksOrderData.woname }}(Work Order No: {{ worksOrderData.wosequence }}) ">
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">

        <kendo-grid [kendoGridGroupBinding]="DisplayPaymentAssetsData" [data]="DisplayPaymentAssetsView" [selectable]="{
                        mode: 'single'
                      }" filterable="menu" [resizable]="true" [sortable]="{
                        allowUnsort: true,
                        mode: 'multiple'
                        }" [skip]="display_payment_asset_state.skip" [sort]="display_payment_asset_state.sort"
          [filter]="display_payment_asset_state.filter" (sortChange)="display_payment_asset__sortChange($event)"
          (filterChange)="display_payment_asset_filterChange($event)" [navigable]="false">



          <kendo-grid-column field="phase" title="Phase" width="100">
          </kendo-grid-column>

          <kendo-grid-column field="asset_ID" title="Asset ID" width="100">
          </kendo-grid-column>

          <kendo-grid-column field="asset" title="Asset" width="100">
          </kendo-grid-column>

          <kendo-grid-column field="asset_Status" title="Asset Status" width="100">
          </kendo-grid-column>

          <kendo-grid-column field="target" title="Target" width="100">
          </kendo-grid-column>

          <kendo-grid-column field="actual" title="Actual" width="100">
          </kendo-grid-column>

          <kendo-grid-column field="planned" title="Planned" width="100">
          </kendo-grid-column>


          <kendo-grid-column field="payment_Date" title="Payment Date" [width]="140" [filterable]="false"
            [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span>
                {{ dataItem.payment_Date | dateFormat : 'DD-MMM-YYYY' }}
              </span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="schedule_Start_Date" title="Shedule Start Date" [width]="140" [filterable]="false"
            [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span>
                {{ dataItem.schedule_Start_Date | dateFormat : 'DD-MMM-YYYY' }}
              </span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="schedule_End_Date" title="Shedule End Date" [width]="140" [filterable]="false"
            [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span>
                {{ dataItem.schedule_End_Date | dateFormat : 'DD-MMM-YYYY' }}
              </span>
            </ng-template>
          </kendo-grid-column>



          <kendo-grid-column field="asset_Committed_Value" title="Actual Committed Value" width="100">
          </kendo-grid-column>

          <kendo-grid-column field="asset_Committed_Fee" title="Asset Committed Fee" width="100">
          </kendo-grid-column>


          <kendo-grid-column field="asset_Target_Completion_Date" title="Asset target Completion Date" [width]="140"
            [filterable]="false" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span>
                {{ dataItem.asset_Target_Completion_Date | dateFormat : 'DD-MMM-YYYY' }}
              </span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="asset_Practical_Completion_Date" title="Asset Practical Completion Date"
            [width]="140" [filterable]="false" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span>
                {{ dataItem.asset_Practical_Completion_Date | dateFormat : 'DD-MMM-YYYY' }}
              </span>
            </ng-template>
          </kendo-grid-column>



          <kendo-grid-column field="asset_Plan_Start_Date" title="Asset Planned Start Date" [width]="140"
            [filterable]="false" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span>
                {{ dataItem.asset_Plan_Start_Date | dateFormat : 'DD-MMM-YYYY' }}
              </span>
            </ng-template>
          </kendo-grid-column>



          <kendo-grid-column field="asset_Plan_End_Date" title="Asset Planned End Date" [width]="140"
            [filterable]="false" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span>
                {{ dataItem.asset_Plan_End_Date | dateFormat : 'DD-MMM-YYYY' }}
              </span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="woavvaluationstatus" title="Asset Payment Value" width="100">
          </kendo-grid-column>






        </kendo-grid>

      </div>
    </div>


  </kendo-window>
  <div class="wopmpaymentoverlay"></div>


  <app-wo-program-management-edit-payment-schedule *ngIf="openWOEditPaymentScheduleWindow"
    [worksOrderData]="worksOrderData" [openWOEditPaymentScheduleWindow]="openWOEditPaymentScheduleWindow"
    (closeEditPaymentScheduleWindowEvent)="closeEditPaymentScheduleWindow($event)">
  </app-wo-program-management-edit-payment-schedule>


  <app-valuations *ngIf="openValuationWindow" [openValuationWindow]="openValuationWindow"
    [worksOrderData]="worksOrderData" [paymentScheduleInp]="selectedItem"
    (closeValuationWindow)="closeValuationWindow($event)"></app-valuations>

  <app-wo-program-management-add-payment-schedule *ngIf="openWOAddPaymentScheduleWindow"
    [worksOrderData]="worksOrderData" [openWOAddPaymentScheduleWindow]="openWOAddPaymentScheduleWindow"
    (closeAddPaymentScheduleWindowEvent)="closeAddPaymentScheduleWindow($event)">
  </app-wo-program-management-add-payment-schedule>

  <app-wo-program-management-create-payment-schedule *ngIf="openWOCreatePaymentScheduleWindow"
    [worksOrderData]="worksOrderData" [openWOCreatePaymentScheduleWindow]="openWOCreatePaymentScheduleWindow"
    (closeCreatePaymentScheduleWindowEvent)="closeCreatePaymentScheduleWindow($event)">
  </app-wo-program-management-create-payment-schedule>

  <app-wo-pm-payments *ngIf="WOPaymentsWindow" [worksOrderData]="worksOrderData" [WOPaymentsWindow]="WOPaymentsWindow"
    (woPmPaymentsEvent)="closeWOPMPaymentsWindow($event)">
  </app-wo-pm-payments>

</kendo-window>