.k-window {
    position: fixed!important;
}

.k-grid tbody td {
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 12px;
}

.headerActionDiv {
    text-align: right;
    display: inline;
}

.headerActionDiv .reportBtnArea, .headerActionDiv .themeButton {
    display: inline-block;
    margin-right: 2px;
}

.paymentScheduleGrid .paid {
    background-color: rgba(230, 0, 126, 0.2) !important;
}

.paymentScheduleGrid .unpaid {
    background-color: white !important;
}

.paymentScheduleGrid .other {
    background-color: rgba(230, 0, 126, 0.1) !important;
}

app-wo-program-management-payment-schedule .paymentScheduleGridRow {
    height: calc(100% - 85px);
}

app-wo-program-management-payment-schedule .paymentScheduleGridRow .paymentScheduleGrid {
    height: calc(100% - 25px);
}

app-wo-program-management-payment-schedule .paymentScheduleGridRow .paymentScheduleGrid #paymentScheduleGrid {
    height: 100%;
}