.headingDiv {
    background-color: #dbdbdb;
    padding: 3px;
}
.heading{
    font-weight: 600;
}

.k-window{
    position: fixed !important;
    padding: 0;
}

/* app-completion-list .k-window-content, app-completion-list .k-prompt-container {
    overflow: inherit !important;
} */