<kendo-window title="{{title}}" *ngIf="openReportParameter" (close)="closeReportParameter()" [top]="20" [minWidth]="700"
    [width]="840" [height]="auto" [minHeight]="350">

    <div class="row">
        <div class="col-md-12">
            <div class="reportParamsHeading"> <span>{{ reportParamHeading }}</span> </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-md-12">

            <kendo-grid [data]="gridView" [height]="400" filterable="menu" [resizable]="true" [sortable]="{
            allowUnsort: allowUnsort,
            mode: multiple ? 'multiple' : 'single'
            }" [skip]="state.skip" [groupable]="false" [sort]="state.sort" [selectable]="{
              mode: 'multiple'
            }" [filter]="state.filter" (dataStateChange)="onStateChange($event)" (sortChange)="sortChange($event)"
                (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)" [navigable]="true">

                <kendo-grid-column field="extfield" title="Name" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="paramvalue" title="Value" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="eventTypeParamSqlValue" title="Select" width="230" [filterable]="false"
                    [sortable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="valueDiv" *ngIf="reporterPortalPermission.indexOf('Parameters') != -1">
                            <button class="btn btn-sm parmaBtn" (click)="openReportParameterList(dataItem)"
                                type="button">Select Value...</button>
                        </div>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>


        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-sm themeButton mr-2" (click)="saveParameters()"
                [disabled]="!parameterData">Save
                Parameters</button>
            <button type="button" class="btn btn-sm themeButton mr-2" (click)="restoreAndClearParams('clear')"
                [disabled]="!parameterData">Clear
                Parameters</button>
            <button type="button" class="btn btn-sm themeButton mr-2" (click)="restoreAndClearParams('restore')"
                [disabled]="!parameterData">Restore
                Parameters</button>
            <button *ngIf="reporterPortalPermission.indexOf('Run Report') != -1" type="button"
                class="btn btn-sm themeButton mr-1" (click)="runReport()" [disabled]="!parameterData">Run Report</button>
            <button type="button" class="btn btn-sm themeButton" (click)="closeReportParameter()">Cancel</button>

        </div>

    </div>

    <div class="reportParamList"></div>
    <app-report-parameter-list *ngIf="openReportParamlist" [openReportParamlist]="openReportParamlist"
        [selectedReportParam]="selectedReportParam" [selectedReport]="selectedReport"
        (closeReportParamListWindow)="closeReportParamListWindow($event)"
        (changeSelectedParam)="changeSelectedParam($event)"></app-report-parameter-list>

</kendo-window>