.filterArea label {
    margin-bottom: 0px !important;
    margin-top: 5px !important;
}

.radioFilterDiv {
    /* text-align: right; */
    padding: 0px !important;
}

label.radio-inline {
    padding: 0px 8px;
}

.searchBox {
    height: 27px;
    font-size: .894rem;
    line-height: 1.54;
    color: #4E5155;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(24, 28, 33, 0.1);
    border-radius: .25rem;
    width: 100% !important;
    padding: 5px;
}

.radioDiv .radio-inline input[type=radio] {
    margin-right: 3px;
}

.radioDiv {
    padding-right: 6px;
}

.dropdown.list-unstyled {
    position: absolute !important;
}

.red {
    color: red !important;
}

.green {
    color: #2eb02e !important;
}

.blue {
    color: blue;
}

.barClas {
    color: black !important;
}

.fa-check-circle, .fa-exclamation-circle {
    font-size: 17px;
    margin-top: 3px;
}

.actionGrid .k-clear-button-visible {
    display: none !important;
}

.attachmentIcon {
    margin-top: 0px !important;
}