<div class="container-fluid flex-grow-1 container-p-y">

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h4 class="font-weight-bold py-3 mb-1">
                Management
            </h4>


        </div>

        <div class="col-md-9 text-right">
            <div class="radioDiv">
                <label class="radio-inline">
                    <input type="radio" (click)="checkActiveInactive($event)" value="S" name="gridStatus">All
                </label>
                <label class="radio-inline">
                    <input type="radio" (click)="checkActiveInactive($event)" checked value="A" name="gridStatus">Active
                </label>
                <label class="radio-inline">
                    <input type="radio" (click)="checkActiveInactive($event)" value="I" name="gridStatus">Inactive
                </label>
            </div>


            <div class="actionDiv">
                <button type="button" class="btn btn-sm themeButton mr-1" (click)="export()">Export</button>
                <div class="dropdown mr-1" id="nesting-dropdown-demo"
                    *ngIf="worksOrderAccess.indexOf('New Programme') != -1 || worksOrderAccess.indexOf('New Works Order') != -1">
                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">New</button>
                    <div class="dropdown-menu" x-placement="bottom-start"
                        style="position: absolute; will-change: top, left; top: 38px; left: 0px;">
                        <a *ngIf="worksOrderAccess.indexOf('New Programme') != -1" class="dropdown-item"
                            (click)="openNewManagementWindow()" href="javascript:void(0)">New
                            Programme</a>
                        <a class="dropdown-item" *ngIf="worksOrderAccess.indexOf('New Works Order') != -1"
                            href="javascript:void(0)" (click)="openWorksOrderForm('new')">New Works Order</a>

                    </div>
                </div>
                <button id="showFilePanel" (click)="lockUnlockColumn()" class="btn btn-sm themeButton">
                    <i *ngIf="!columnLocked" class="fa fa-lock" aria-hidden="true"></i>
                    <i *ngIf="columnLocked" class="fa fa-unlock" aria-hidden="true"></i>
                </button>
            </div>

        </div>

    </div>

    <div class="row mt-2">

        <div class="col-md-12">
            <kendo-treelist [kendoTreeListFlatBinding]="gridData" idField="id" parentIdField="parentId"
                scrollable="virtual" [rowHeight]="36" kendoTreeListExpandable [sortable]="true" [sort]="sort"
                filterable="menu" [filter]="filter" (filterChange)="onFilterChange($event)" [pageSize]="gridPageSize"
                [navigable]="false" kendoTreeListSelectable [selectable]="settings" [(selectedItems)]="selected"
                [height]="720" [virtualColumns]="true" [loading]="loading" [resizable]="true"
                (cellClick)="cellClickHandler($event)" [rowClass]="rowCallback">

                <kendo-treelist-column field="wosequence" title="" [width]="33" [sortable]="false" [resizable]="false"
                    [filterable]="false" [locked]="columnLocked">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <li *ngIf="dataItem.treelevel == 1" class="nav-item dropdown list-unstyled"
                            style="margin-top: -7px;">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"
                                (click)="setSeletedRow(dataItem)"></i>
                            <div class="dropdown-menu" *ngIf="woMenuAccess('Programmes Menu'); else elsePRBlock">
                                <a *ngIf="worksOrderAccess.indexOf('Edit Programme') != -1" class="dropdown-item"
                                    (click)="openNewManagementWindow('edit')" href="javascript:void(0)">Edit</a>
                                <a *ngIf="worksOrderAccess.indexOf('Delete Programme') != -1" class="dropdown-item"
                                    (click)="openConfirmationDialog(dataItem)" href="javascript:void(0)">Delete</a>
                                <a *ngIf="worksOrderAccess.indexOf('New Works Order') != -1" class="dropdown-item"
                                    href="javascript:void(0)" (click)="openWorksOrderForm('new')">New Works Order</a>

                            </div>

                            <ng-template #elsePRBlock>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)">No Menu Access</a>
                                </div>
                            </ng-template>
                        </li>

                        <li *ngIf="dataItem.treelevel == 2" class="nav-item dropdown list-unstyled level2Menu"
                            style="margin-top: -7px;" (click)="setSeletedWORow(dataItem)">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>
                            <div class="dropdown-menu" *ngIf="woMenuAccess('Works Orders Menu'); else elseWOBlock">
                                <a class="dropdown-item" *ngIf="woMenuAccess('Edit Works Order')"
                                    href="javascript:void(0)" (click)="openWorksOrderForm('edit', dataItem)">Edit</a>
                                <a class="dropdown-item" *ngIf="woMenuAccess('Delete Works Order')"
                                    href="javascript:void(0)" (click)="deleteWorksOrder(dataItem)">Delete</a>
                                <a class="dropdown-item" href="javascript:void(0)"
                                    (click)="redirectToWorksOrder(dataItem)"
                                    *ngIf="woMenuAccess('Works Order Detail')">Works Order Detail</a>
                                <a class="dropdown-item" href="javascript:void(0)"
                                    (click)="openPackageMappingWindow(dataItem)"
                                    *ngIf="woMenuAccess('Package Mapping')">Package Mapping</a>

                            </div>

                            <ng-template #elseWOBlock>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)">No Menu Access</a>
                                </div>
                            </ng-template>

                        </li>
                    </ng-template>
                </kendo-treelist-column>

                <kendo-treelist-column [expandable]="true" [minResizableWidth]="200" field="name" title="Name"
                    [width]="280" [locked]="columnLocked">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span *ngIf="dataItem.treelevel == 2">
                            {{ dataItem.name }} ({{dataItem.wosequence}})
                        </span>
                        <span *ngIf="dataItem.treelevel != 2">
                            {{ dataItem.name }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>

                <kendo-treelist-column field="wprstatus" title="Status" [width]="110">
                </kendo-treelist-column>
                <kendo-treelist-column field="budget" title="Budget" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.budget | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="forecast" title="Forcast" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.forecast | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="committed" title="Commited" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.committed | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wprcurrentcontractsum" title="Issued" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wprcurrentcontractsum | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wpracceptedvalue" title="Accepted" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wpracceptedvalue | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="actual" title="Actual" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.actual | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="approved" title="Approved" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.approved | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="pending" title="Pending" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.pending | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="payments" title="Payments" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.payments | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="targetcompletiondate" title="Target Date" [width]="150"
                    format="{0:dd-MM-yyyy}">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>

                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.targetcompletiondate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wprcontractorissuedate" title="Issued Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wprcontractorissuedate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wprcontractoracceptancedate" title="Acceptance Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wprcontractoracceptancedate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wprplanstartdate" title="Plan Start Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wprplanstartdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wprplanenddate" title="Plan End Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wprplanenddate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wpractualstartdate" title="Actual Start Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wpractualstartdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wpractualenddate" title="Actual End Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wpractualenddate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="new" title="New" [width]="80">
                </kendo-treelist-column>
                <kendo-treelist-column field="issued" title="Issued" [width]="100">
                </kendo-treelist-column>
                <kendo-treelist-column field="wip" title="WIP" [width]="100">
                </kendo-treelist-column>
                <kendo-treelist-column field="handover" title="Handover" [width]="80">
                </kendo-treelist-column>
                <kendo-treelist-column field="pc" title="PC" [width]="80">
                </kendo-treelist-column>
                <kendo-treelist-column field="fc" title="FC" [width]="80">
                </kendo-treelist-column>
                <kendo-treelist-column field="fc" title="Comment" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>

                        </span>
                    </ng-template>
                </kendo-treelist-column>

            </kendo-treelist>
        </div>
    </div>


</div>

<div class="newManagementOverlay"></div>
<app-worksorders-newmanagement *ngIf="openNewManagement" [openNewManagement]="openNewManagement"
    [formMode]="managementformMode" [selectedProgramme]="selectedProgramme"
    (closeNewManagementEvent)="closeNewManagementEvent($event)" (refreshManagementGrid)="refreshManagementGrid($event)">
</app-worksorders-newmanagement>

<app-worksorders-package-mapping *ngIf="packageMappingWindow" [packageMappingWindow]="packageMappingWindow"
    (closePackageMappingEvent)="cloasePackageMappingWindow($event)" [worksOrderSingleData]="worksOrderSingleData">
</app-worksorders-package-mapping>

<app-workorder-form [woFormType]="woFormType" [woFormWindow]="woFormWindow"
    [selectedWorkOrderAddEdit]="selctedWorksOrder" *ngIf="woFormWindow" (closeWoFormWin)="closeWoFormWin($event)">
</app-workorder-form>

<kendo-dialog title="DELETE WORKS ORDERS" *ngIf="deleteWorksOrderReasonWindow" (close)="closeWorksorderReasonWindow()"
    [minWidth]="250" [width]="450">

    <div class="row">

        <div class="form-group col-md-12">
            <label class="form-label">Enter Reason For Deleting</label>
            <textarea type="text" class="form-control" placeholder="" [(ngModel)]="reasonToDeleteWO"></textarea>

            <div class="invalid-feedback">
                <div></div>
            </div>
        </div>

        <div class="col-md-12 text-right">
            <button (click)="finalDelete()" type="button" class="btn btn-sm themeButton mr-1">Delete</button>
        </div>
    </div>
</kendo-dialog>