<div class="container-fluid flex-grow-1 container-p-y">

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h4 class="font-weight-bold py-3 mb-1">
                Management
            </h4>


        </div>

        <div class="col-md-9 text-right">
            <div class="radioDiv">
                <label class="radio-inline">
                    <input type="radio" (click)="checkActiveInactive($event)" value="S" name="gridStatus">All
                </label>
                <label class="radio-inline">
                    <input type="radio" (click)="checkActiveInactive($event)" checked value="A" name="gridStatus">Active
                </label>
                <label class="radio-inline">
                    <input type="radio" (click)="checkActiveInactive($event)" value="I" name="gridStatus">Inactive
                </label>
            </div>



            <div class="actionDiv">


                <div class="dropdown mr-1" id="nesting-dropdown-demo"
                    *ngIf="woMenuBtnSecurityAccess('New Programme') || woMenuBtnSecurityAccess('New Works Order')">
                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">New</button>
                    <div class="dropdown-menu" x-placement="bottom-start"
                        style="position: absolute; will-change: top, left; top: 38px; left: 0px;">
                        <a *ngIf="woMenuBtnSecurityAccess('New Programme')" class="dropdown-item"
                            (click)="openNewManagementWindow()" href="javascript:void(0)">New
                            Programme</a>
                        <a class="dropdown-item" *ngIf="woMenuBtnSecurityAccess('New Works Order')"
                            href="javascript:void(0)" (click)="openWorksOrderForm('new')">New Works Order</a>

                    </div>
                </div>

                <button type="button" class="btn btn-sm themeButton mr-1" (click)="export()">Export</button>

                <div class="dropdown mr-1 reportBtnArea mt-2" id="nesting-dropdown-demo">
                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">Report</button>
                    <div class="dropdown-menu" x-placement="bottom-start"
                        style="position: absolute; will-change: top, left; top: 38px; left: 0px;">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="programmeReport(0)">All
                            Programme</a>

                    </div>
                </div>



                <button id="showFilePanel" (click)="lockUnlockColumn()" class="btn btn-sm themeButton">
                    <i *ngIf="!columnLocked" class="fa fa-lock" aria-hidden="true"></i>
                    <i *ngIf="columnLocked" class="fa fa-unlock" aria-hidden="true"></i>
                </button>
            </div>

        </div>

    </div>

    <div class="row mt-2">

        <div class="col-md-12" kendoTooltip position="right" showOn="none" [tooltipTemplate]="template"
            filter=".k-grid td" tooltipClass="tooltip-class">
            <kendo-treelist [kendoTreeListFlatBinding]="gridData" idField="id" parentIdField="parentId"
                scrollable="virtual" [rowHeight]="36" kendoTreeListExpandable [sortable]="true" [sort]="sort"
                filterable="menu" [filter]="filter" (filterChange)="onFilterChange($event)" [pageSize]="gridPageSize"
                [navigable]="false" kendoTreeListSelectable [selectable]="settings" [(selectedItems)]="selected"
                [height]="720" [virtualColumns]="true" [loading]="loading" [resizable]="true"
                (cellClick)="cellClickHandler($event)" [rowClass]="rowCallback">

                <kendo-treelist-column field="wosequence" title="" [width]="37" [sortable]="false" [resizable]="false"
                    [filterable]="false" [locked]="columnLocked">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <i aria-expanded="false" *ngIf="dataItem.treelevel == 1 || dataItem.treelevel == 2"
                            class="fas fa-bars" (click)="openMenu($event, dataItem)"></i>
                    </ng-template>

                </kendo-treelist-column>

                <kendo-treelist-column [expandable]="true" [minResizableWidth]="200" field="name" title="Name"
                    [width]="280" [locked]="columnLocked">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span *ngIf="dataItem.treelevel == 2">
                            {{ dataItem.name }} ({{dataItem.wosequence}})
                        </span>
                        <span *ngIf="dataItem.treelevel != 2">
                            {{ dataItem.name }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>

                <kendo-treelist-column field="wprstatus" title="Status" [width]="110">
                </kendo-treelist-column>
                <kendo-treelist-column field="budget" title="Budget" [width]="150" [style]="{'text-align': 'right'}"
                    [filterable]=false>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.budget | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="forecast" title="Forecast" [width]="150" [filterable]=false
                    [style]="{'text-align': 'right'}">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.forecast | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="committed" title="Commited" [width]="150" [filterable]=false
                    [style]="{'text-align': 'right'}">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.committed | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wprcurrentcontractsum" title="Issued" [width]="150" [filterable]=false
                    [style]="{'text-align': 'right'}">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wprcurrentcontractsum | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wpracceptedvalue" title="Accepted" [width]="150" [filterable]=false
                    [style]="{'text-align': 'right'}">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wpracceptedvalue | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="actual" title="Actual" [width]="150" [style]="{'text-align': 'right'}"
                    [filterable]=false>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.actual | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="approved" title="Approved" [width]="150" [filterable]=false
                    [style]="{'text-align': 'right'}">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.approved | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="pending" title="Pending" [width]="150" [style]="{'text-align': 'right'}"
                    [filterable]=false>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.pending | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="payments" title="Payments" [width]="150" [filterable]=false
                    [style]="{'text-align': 'right'}">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.payments | currency:"GBP":"symbol" }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="targetcompletiondate" title="Target Date" [width]="150"
                    format="{0:dd-MM-yyyy}">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>

                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.targetcompletiondate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wprcontractorissuedate" title="Issued Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wprcontractorissuedate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wprcontractoracceptancedate" title="Acceptance Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wprcontractoracceptancedate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wprplanstartdate" title="Plan Start Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wprplanstartdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wprplanenddate" title="Plan End Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wprplanenddate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wpractualstartdate" title="Actual Start Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wpractualstartdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="wpractualenddate" title="Actual End Date" [width]="150">
                    <ng-template kendoTreeListFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-treelist-filter [field]="column.field" [filter]="filter"
                            [filterService]="filterService">
                        </date-range-treelist-filter>
                    </ng-template>
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wpractualenddate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-treelist-column>
                <kendo-treelist-column field="new" title="New" [width]="80" [filterable]=false>
                </kendo-treelist-column>
                <kendo-treelist-column field="issued" title="Issued" [width]="100" [filterable]=false>
                </kendo-treelist-column>
                <kendo-treelist-column field="wip" title="WIP" [width]="100" [filterable]=false>
                </kendo-treelist-column>
                <kendo-treelist-column field="handover" title="Handover" [width]="80" [filterable]=false>
                </kendo-treelist-column>
                <kendo-treelist-column field="pc" title="PC" [width]="80" [filterable]=false>
                </kendo-treelist-column>
                <kendo-treelist-column field="fc" title="FC" [width]="80" [filterable]=false>
                </kendo-treelist-column>
                <!--            <kendo-treelist-column field="fc" title="Comment" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>
                        <span>

                        </span>
                    </ng-template>
                </kendo-treelist-column>-->

            </kendo-treelist>
        </div>
    </div>

    <ng-template #template let-anchor>
        <div class="list-unstyled menuDiv" *ngIf="menuData">
            <div *ngIf="menuData.treelevel == 1" #elm class="dropdown-menu" style="display: block; margin-left: -1px;"
                [ngStyle]="{'margin-top':getTopMargin()}">

                <a *ngIf="UserMenuAccess('Edit Programme')" class="dropdown-item"
                    (click)="openNewManagementWindow('edit')" href="javascript:void(0)">Edit</a>
                <a *ngIf="UserMenuAccess('Delete Programme')" class="dropdown-item"
                    (click)="openConfirmationDialog(menuData)" href="javascript:void(0)">Delete</a>
                <a *ngIf="UserMenuAccess('New Works Order') && menuData.wpractinact != 'I'" class="dropdown-item"
                    href="javascript:void(0)" (click)="openWorksOrderForm('new', menuData)">New Works Order</a>
                <a *ngIf="UserMenuAccess('View Programme Log')" class="dropdown-item" href="javascript:void(0)"
                    (click)="openProgrammeLog('programme',menuData)">View Programme Log</a>

                <a class="dropdown-item" href="javascript:void(0)" (click)="programmeReport(1, menuData)">Programme
                    Report</a>

            </div>

            <div *ngIf="menuData.treelevel == 2" #elms class="dropdown-menu" style="display: block; margin-left: -1px;"
                [ngStyle]="{'margin-top':getTopMargin()}">
                <a class="dropdown-item" *ngIf="UserMenuAccess('Edit Works Order')" href="javascript:void(0)"
                    (click)="openWorksOrderForm('edit', menuData)">Edit</a>
                <a class="dropdown-item" *ngIf="UserMenuAccess('Delete Works Order')" href="javascript:void(0)"
                    (click)="deleteWorksOrder(menuData)">Delete</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="redirectToWorksOrder(menuData)"
                    *ngIf="UserMenuAccess('Works Order Detail')">Works Order Detail</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openPackageMappingWindow(menuData)"
                    *ngIf="UserMenuAccess('Package Mapping')">Package Mapping</a>
                <a *ngIf="UserMenuAccess('Instructions Tab')"
                    (click)="redirectToWoProgramManagmentInstructions(menuData)" class="dropdown-item"
                    href="javascript:void(0)">
                    Instructions</a>
                <a *ngIf="UserMenuAccess('Completions Tab')" class="dropdown-item"
                    (click)="openCompletionList(menuData)" href="javascript:void(0)">Completions</a>
                <a *ngIf="UserMenuAccess('Defects Tab')" class="dropdown-item" href="javascript:void(0)"
                    (click)="openDefectsMethod(menuData)">Defects</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openProgrammeLog('workorder',menuData)">View
                    Programme Log</a>
                <a *ngIf="UserMenuAccess('Manage Associations')" class="dropdown-item" href="javascript:void(0)"
                    (click)="openWoAssociationsManage(menuData)">Associations</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openRolesTab(menuData)"
                    *ngIf="UserMenuAccess('Roles Tab')">Roles</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openSORTab(menuData )"
                    *ngIf="UserMenuAccess('SOR Tab')">SOR</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openCostsTab(menuData)"
                    *ngIf="UserMenuAccess('Contract Costs Tab')">Contract Costs</a>

                <div class="dropdown-toggle">
                    <div class="dropdown-item">Milestones</div>
                    <div class="dropdown-menu milestoneMenu">
                        <a *ngIf="UserMenuAccess('Milestones')" class="dropdown-item" href="javascript:void(0)"
                            (click)="openManageMilestonePopup(menuData, 'checklist')">Milestones</a>
                        <a *ngIf="UserMenuAccess('Manage Milestones')" class="dropdown-item" href="javascript:void(0)"
                            (click)="openManageMilestonePopup(menuData, 'manage')">Manage Milestones</a>
                    </div>
                </div>

                <a *ngIf="UserMenuAccess('Payment Schedule Tab')" class="dropdown-item" href="javascript:void(0)"
                    (click)="openWOPMPaymentSchedule(menuData)">Payment
                    Schedule</a>

            </div>
        </div>
    </ng-template>

</div>

<div class="newManagementOverlay"></div>
<app-worksorders-newmanagement *ngIf="openNewManagement" [openNewManagement]="openNewManagement"
    [formMode]="managementformMode" [selectedProgramme]="selectedProgramme"
    (closeNewManagementEvent)="closeNewManagementEvent($event)" (refreshManagementGrid)="refreshManagementGrid($event)">
</app-worksorders-newmanagement>

<app-worksorders-package-mapping *ngIf="packageMappingWindow" [packageMappingWindow]="packageMappingWindow"
    (closePackageMappingEvent)="cloasePackageMappingWindow($event)" [worksOrderSingleData]="worksOrderSingleData">
</app-worksorders-package-mapping>

<app-workorder-form [woFormType]="woFormType" [woFormWindow]="woFormWindow" [worksOrderAccess]="worksOrderUsrAccess"
    [selectedWorkOrderAddEdit]="selctedWorksOrder" [selectedProgramme]="selectedProgramme" *ngIf="woFormWindow"
    (closeWoFormWin)="closeWoFormWin($event)">
</app-workorder-form>

<app-wo-program-management-instructions *ngIf="woProgramManagmentInstructionsWindow"
    [woProgramManagmentInstructionsWindow]="woProgramManagmentInstructionsWindow" [worksOrderData]="selctedWorksOrder"
    [selectedWorksOrder]="selctedWorksOrder"
    (WoProgramManagmentInstructionsWinEvent)="closeWoProgramManagmentInstructionsWin($event)">
</app-wo-program-management-instructions>

<app-completion-list *ngIf="completionList" [worksOrderData]="selctedWorksOrder" [completionWin]="completionList"
    (closeCompletionWin)="closeCompletionList($event)"></app-completion-list>

<app-programme-log *ngIf="ProgrammeLogWindow" [ProgrammeLogWindow]="ProgrammeLogWindow"
    [singleWorkOrderInp]="selectedWorksOrder" [selectedProgrammeInp]="selectedProgramme" [openedFrom]="programmeLogFor"
    (ProgrammeLogWindowEvent)="closeProgrammeLogWindow($event)">
</app-programme-log>

<app-wo-association-manage *ngIf="WoAssociationsManageWindow" [WoAssociationsManageWindow]="WoAssociationsManageWindow"
    [worksOrderData]="selectedWorksOrder"
    (WoAssociationsManageWindowEvent)="closeWoAssociationsManageWindowMain($event)">
</app-wo-association-manage>


<kendo-dialog title="DELETE WORKS ORDERS" *ngIf="deleteWorksOrderReasonWindow" (close)="closeWorksorderReasonWindow()"
    [minWidth]="250" [width]="450">

    <div class="row">

        <div class="form-group col-md-12">
            <label class="form-label">Enter Reason For Deleting</label>
            <textarea type="text" class="form-control" placeholder="" [(ngModel)]="reasonToDeleteWO"></textarea>

            <div class="invalid-feedback">
                <div></div>
            </div>
        </div>

        <div class="col-md-12 text-right">
            <button (click)="finalDelete()" type="button" class="btn btn-sm themeButton mr-1">Delete</button>
        </div>
    </div>
</kendo-dialog>

<app-management-roles *ngIf="managementRolesTab" [managementRolesTab]="managementRolesTab"
    (closeManagementRolesTab)="closeManagementRolesTab($event)" [selectedWorksOrder]="worksOrderSingleData">
</app-management-roles>

<app-management-costs *ngIf="managementCostsTab" [managementCostsTab]="managementCostsTab"
    (closeManagementCostsTab)="closeManagementCostsTab($event)" [selectedWorksOrder]="worksOrderSingleData">
</app-management-costs>

<app-management-sor *ngIf="managementSORTab" [managementSORTab]="managementSORTab"
    (closeManagementSORTab)="closeManagementSORTab($event)" [selectedWorksOrder]="worksOrderSingleData">
</app-management-sor>

<app-manage-milestones *ngIf="openManageMilestone" [worksOrderData]="selectedWorksOrder"
    [openManageMilestone]="openManageMilestone" [openMilestoneFor]="openMilestoneFor"
    (closeManageMilestoneEvent)="closeManageMilestone($event)">
</app-manage-milestones>

<app-wo-program-management-payment-schedule *ngIf="openWOPaymentScheduleWindow" [worksOrderData]="selectedWorksOrder"
    [openWOPaymentScheduleWindow]="openWOPaymentScheduleWindow"
    (closePaymentScheduleWindowEvent)="closePaymentScheduleWindow($event)">
</app-wo-program-management-payment-schedule>

<app-asset-defects-list *ngIf="openDefectsList" [openDefectsList]="openDefectsList"
    [singleWorkOrderInp]="selectedWorksOrder" [openedFrom]="'workorder'"
    (closeDefectsListEvent)="closeDefectList($event)">
</app-asset-defects-list>