.radioDiv, .actionDiv, .actionDiv #nesting-dropdown-demo {
    display: inline-block;
}

.radioDiv {
    margin-right: 15px;
}

.radioDiv .radio-inline input[type=radio], .radioDiv .radio-inline {
    margin-right: 4px;
}

.k-treelist tbody td {
    white-space: nowrap !important;
    line-height: 20px;
    padding: 8px 12px;
}

.dropdown.list-unstyled {
    position: absolute !important;
}

.level1 {
    background-color: rgba(230, 0, 126, 0.2) !important;
}

.level2 {
    background-color: rgba(230, 0, 126, 0.1) !important;
}

.level3 {
    background-color: white !important;
}

.k-grid .k-grid-content-locked .k-state-hover td, .k-grid .k-grid-content-locked tr:hover td {
    background-color: transparent !important;
}

.k-grid .k-grid-content-locked .k-state-selected td, .k-grid .k-grid-content-locked .k-state-selected:hover td {
    background-color: #d4cdcd!important;
}

/* .k-grid .k-grid-content-locked .k-state-selected td:hover {
    
} */

.tooltip-class .k-callout {
    background-color: transparent !important;
    color: white !important;
}

.k-tooltip{
    background-color: white !important;
}