<div class="container-fluid flex-grow-1 container-p-y">

  <div class="row">
    <div class="col-md-2 col-sm-3">
      <h4 class="font-weight-bold py-3 mb-1">
        Works Orders
      </h4>
    </div>

    <div class="col-md-10 text-right headerActionBtnArea">
      <button *ngIf="worksOrderAccess.indexOf('New Works Order') != -1" (click)="openUserPopup('new')"
        class="btn btn-sm themeButton ">New</button>
      <button (click)="export()" class="btn btn-sm themeButton ml-1"> Export</button>
      <div class="dropdown ml-1 reportBtnArea" id="nesting-dropdown-demo">
        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
          aria-expanded="false">Report</button>
        <div class="dropdown-menu" x-placement="bottom-start"
          style="position: absolute; will-change: top, left; top: 38px; left: 0px;">
          <a class="dropdown-item" href="javascript:void(0)" (click)="viewWOReportingProgSummaryTree(3)">All
            Orders</a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="viewWOReportingProgSummaryTree(4)">All
            Orders (Including Phase)</a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="viewWOReportingAsset(0)">All Orders (including
            Assets)</a>
        </div>
      </div>
      <button id="showFilePanel" (click)="lockUnlockColumn()" class="btn btn-sm themeButton ml-1">
        <i *ngIf="!columnLocked" class="fa fa-lock" aria-hidden="true"></i>
        <i *ngIf="columnLocked" class="fa fa-unlock" aria-hidden="true"></i>
      </button>
    </div>

  </div>

  <div class="row mt-1">
    <div class="col-md-12 workorderListFilter">
      <div class="filterArea">
        <div class="filterdiv1 filterdiv">
          <label for="woNumber" class="filterLbl">Number:</label>
          <input (keydown)="keyDownFunction($event)" type="text" id="woNumber" [(ngModel)]="filterObject.Wosequence">
        </div>
        <div class="filterdiv2 filterdiv">
          <label for="woName" class="filterLbl">Name:</label>
          <input (keydown)="keyDownFunction($event)" type="text" id="woName" [(ngModel)]="filterObject.WoName">
        </div>
        <div class="filterdiv3 filterdiv">
          <label for="extRef" class="filterLbl">Ext Ref:</label>
          <input (keydown)="keyDownFunction($event)" type="text" id="extRef" [(ngModel)]="filterObject.Woextref">
        </div>
        <div class="filterdiv4 filterdiv">
          <label for="address" class="filterLbl">Address:</label>
          <input (keydown)="keyDownFunction($event)" type="text" id="address" autocomplete="off"
            [(ngModel)]="filterObject.Address">
        </div>
        <div class="filterdiv5 filterdiv">
          <label for="woStatus" class="">Status:</label>
          <div class="radioDiv">
            <label class="radio-inline">
              <input type="radio" value="" name="gridStatus" [(ngModel)]="filterObject.ActiveInactive">All
            </label>
            <label class="radio-inline">
              <input type="radio" value="A" name="gridStatus" [(ngModel)]="filterObject.ActiveInactive">Active
            </label>
            <label class="radio-inline">
              <input type="radio" value="I" name="gridStatus" [(ngModel)]="filterObject.ActiveInactive">Inactive
            </label>
          </div>
        </div>
        <div class="filterdiv6 filterdiv">
          <button class="btn btn-sm themeButton mr-1" (click)="filterGrid($event)">Search</button>
          <button class="btn btn-sm themeButton" (click)="resetFilter()">Clear</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-2">

    <div class="col-md-12 worksorderGrid" (mouseover)="getMouseroverEve($event)" kendoTooltip position="right"
      showOn="none" [tooltipTemplate]="template" filter=".k-grid td" tooltipClass="tooltip-class">

      <kendo-grid #grid="kendoGrid" [data]="gridView" [pageSize]="pageSize" [rowHeight]="36"
        (pageChange)="pageChange($event)" scrollable="virtual" [height]="680" [loading]="loading" filterable="menu"
        [resizable]="true" [sortable]="{
          allowUnsort: true,
          mode: 'single'
          }" [skip]="state.skip" [sort]="state.sort" [selectable]="selectableSettings" [filter]="state.filter"
        (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
        [navigable]="false" [virtualColumns]="true" [rowClass]="rowCallback" [kendoGridSelectBy]="mySelectionKey"
        [selectedKeys]="mySelection">


        <kendo-grid-column title=" " width="37" [filterable]="false" [locked]="columnLocked">
          <ng-template kendoGridCellTemplate let-dataItem>
            <i aria-expanded="false" class="fas fa-bars" (click)="openMenu($event, dataItem)"></i>

          </ng-template>

        </kendo-grid-column>

        <!-- <kendo-grid-column field="worksOrderAssetChecklistFileCount" title="" width="40" [filterable]="false"
          [locked]="columnLocked">
          <ng-template kendoGridHeaderTemplate>
            <img style="height: 14px;" src="assets/img/icons/attach.png" />
          </ng-template>

          <ng-template kendoGridCellTemplate let-dataItem>
            <div style="width:100%; text-align: center;">
              <img style="height:16px;" *ngIf="dataItem.worksOrderFileCount > 0" src="assets/img/icons/attach.png" />
            </div>
          </ng-template>
        </kendo-grid-column> -->

        <kendo-grid-column field="wosequence" title="Work Order" width="130" [locked]="columnLocked">
        </kendo-grid-column>
        <kendo-grid-column field="woname" title="Name" width="300" [minResizableWidth]="200" [locked]="columnLocked">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woname }}
            </span>
            <div style="margin-left:2px;" class="iconDiv">
              <img style="margin-top: -1px;" title="Red" *ngIf="dataItem.ragStatus == 'R'" class="table-icon-wr"
                src="assets/img/icons/RedDot.png" />
              <img style="margin-top: -1px;" title="Amber" *ngIf="dataItem.ragStatus == 'A'" class="table-icon-wr"
                src="assets/img/icons/AmberDot.png" />
              <img style="margin-top: -1px;" title="Green" *ngIf="dataItem.ragStatus == 'G'" class="table-icon-wr"
                src="assets/img/icons/GreenDot.png" />
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wostatus" title="Status" width="160">
        </kendo-grid-column>
        <kendo-grid-column field="contractorName" title="Contractor" width="160">
        </kendo-grid-column>

        <kendo-grid-column field="wobudget" title="Budget" width="120" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wobudget | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="woforecast" title="Forecast" width="120" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woforecastplusfee | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wocommitted" title="Committed" width="120" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wocommittedplusfee | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wocurrentcontractsum" title="Issued" width="120" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wocurrentcontractsum | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woacceptedvalue" title="Accepted" width="120" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woacceptedvalue | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="woactual" title="Actual" width="120" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woactualplusfee | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woapproved" title="Approved" width="120" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woapprovedplusfee | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="wopending" title="Pending" width="120" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wopendingplusfee | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="wopayment" title="Payments" width="120" [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wopayment | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="wocontractorissuedate" title="Issue Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woplanstartdate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wotargetcompletiondate" title="Target Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wotargetcompletiondate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wocontractoracceptancedate" title="Acceptance Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wocontractoracceptancedate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="woplanstartdate" title="Plan Start Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woplanstartdate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woplanenddate" title="Plan End Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woplanenddate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woactualstartdate" title="Actual Start Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woactualstartdate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="woactualenddate" title="Actual End Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woactualenddate | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woextref" title="External Ref" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="mPgoA" title="Created By" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="mPgpA" title="Created Date" width="150" filter="date" format="{0:dd-MM-yyyy}">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
            </date-range-filter>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.mPgpA | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="mPgrA" title="Amended By" width="120">
        </kendo-grid-column>

        <kendo-grid-column field="mPgsA" title="Amended Date" width="150" filter="date" format="{0:dd-MM-yyyy}">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
            </date-range-filter>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.mPgsA | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>

      </kendo-grid>

    </div>
  </div>


  <ng-template #template let-anchor>
    <div class="list-unstyled menuDiv" *ngIf="menuData">
      <div #elm class="dropdown-menu" style="display: block; margin-left: -1px;"
        [ngStyle]="{'margin-top':getTopMargin()}">
        <a *ngIf="woMenuAccess('Edit Works Order')" class="dropdown-item" href="javascript:void(0)"
          (click)="redirectToWorksOrderEdit(menuData)">Edit</a>
        <a *ngIf="woMenuAccess('Delete Works Order')" class="dropdown-item" href="javascript:void(0)"
          (click)="deleteThis(menuData)">Delete</a>
        <a *ngIf="woMenuAccess('Works Order Detail')" class="dropdown-item" href="javascript:void(0)"
          (click)="redirectToWorksOrder(menuData)"> Works Order Details</a>

        <a *ngIf="woMenuAccess('Variations Tab')" class="dropdown-item" href="javascript:void(0)"
          (click)="openVariationList(menuData)">Variations</a>
        <a (click)="redirectToWoProgramManagmentInstructions(menuData)" class="dropdown-item" href="javascript:void(0)">
          Instructions</a>

        <a *ngIf="worksOrderAccess.indexOf('Completions Tab') != -1" class="dropdown-item"
          (click)="openCompletionList(menuData)" href="javascript:void(0)">Completions</a>

        <a *ngIf="worksOrderAccess.indexOf('View Programme Log') != -1" class="dropdown-item" href="javascript:void(0)"
          (click)="openProgrammeLog(menuData)">View Programme Log</a>

        <a *ngIf="woMenuAccess('Manage Associations')" class="dropdown-item" href="javascript:void(0)"
          (click)="openWoAssociationsManage(menuData)">Associations</a>

        <a *ngIf="woMenuAccess('Defects Tab')" class="dropdown-item" href="javascript:void(0)"
          (click)="openDefectsMethod(menuData)">Defects</a>

        <a *ngIf="woMenuAccess('Works Order Documents')" [ngClass]="{'disabled': menuData.worksOrderFileCount == 0}"
          class="dropdown-item" (click)="openDocumentMethod(menuData)" href="javascript:void(0)">Documents</a>

        <div class="dropdown-toggle" *ngIf="woMenuAccess('Contractor Reports')">
          <div class="dropdown-item">Contractor Reports</div>
          <div class="dropdown-menu contractorReportMenu">
            <a *ngIf="woMenuAccess('Asset Report (contractor)')" class="dropdown-item" href="javascript:void(0)"
              (click)="WOCreateXportOutputReport(580, 'Contractor Asset Report')">Asset Report</a>
            <a *ngIf="woMenuAccess('Work Report (contractor)')" class="dropdown-item" href="javascript:void(0)"
              (click)="WOCreateXportOutputReport(581, 'Contractor Work Report')">Work Report</a>
          </div>
        </div>


        <div class="dropdown-toggle" *ngIf="woMenuAccess('Report Programme Summary') || woMenuAccess('Report Asset') " >
          <div class="dropdown-item">Works Order Report</div>
          <div class="dropdown-menu woReport">
            <a class="dropdown-item" href="javascript:void(0)"
              (click)="viewWOReportingProgSummaryTree(2, selectedWorksOrder)">Works Order</a>

            <a class="dropdown-item" href="javascript:void(0)"
              (click)="viewWOReportingAsset(2, selectedWorksOrder)">Works Order inc. Assets</a>

            <a *ngIf="woMenuAccess('Asset Report (customer)')" class="dropdown-item" href="javascript:void(0)"
              (click)="WOCreateXportOutputReport(505, 'WO Selected Asset Report')">Asset Report</a>
            <a *ngIf="woMenuAccess('Work Report (customer)')" class="dropdown-item" href="javascript:void(0)"
              (click)="WOCreateXportOutputReport(506, 'WO Selected Work Report')">Work Report</a>


          </div>
        </div>


        <div class="dropdown-toggle">
          <div [ngClass]="{'disabled' : disableMilestoneBtn(menuData) }" class="dropdown-item">
            Milestones</div>
          <div class="dropdown-menu milestoneMenu">
            <a [ngClass]="{'disabled' : menuData.wottemplatetype != 'Works Order Milestone'}"
              *ngIf="woMenuAccess('Milestones')" class="dropdown-item" href="javascript:void(0)"
              (click)="openManageMilestonePopup(menuData, 'checklist')">Milestones</a>
            <a *ngIf="woMenuAccess('Manage Milestones')" class="dropdown-item" href="javascript:void(0)"
              (click)="openManageMilestonePopup(menuData, 'manage')">Manage Milestones</a>
          </div>
        </div>

        <a *ngIf="woMenuAccess('Payment Schedule Tab')" class="dropdown-item" href="javascript:void(0)"
          (click)="openWOPMPaymentSchedule(menuData)">Payment
          Schedule</a>

        <a *ngIf="woMenuAccess('Manage WO Checklist')" class="dropdown-item" href="javascript:void(0)"
          (click)="openChecklist(menuData)">Checklist</a>

        <div class="dropdown-toggle" *ngIf="woMenuAccess('Work List Menu')">
          <div class="dropdown-item">View Work List</div>
          <div class="dropdown-menu addAssetMenu">
            <a class="dropdown-item" href="javascript:void(0)"
              (click)="ShowWorkList('Contractor',menuData)">for Contractor</a>
            <a class="dropdown-item" href="javascript:void(0)"
              (click)="ShowWorkList('Contract',menuData)">for Contract</a>
              <a class="dropdown-item" href="javascript:void(0)"
              (click)="ShowWorkList('WorksOrder',menuData)">for Works Order</a>
          </div>
        </div>

      </div>

    </div>

  </ng-template>


</div>


<kendo-dialog title="Delete Works Order" *ngIf="woFormDeleteWindow" (close)="closewoFormDeleteWindow()" [minWidth]="250"
  [width]="450">

  <p *ngIf="errorDeleteMsg" class="deleteError">{{ errorDeleteMsg }}</p>
  <p *ngIf="successDeleteMsg" class="successDeleteMsg">{{ successDeleteMsg }}</p>

  <div *ngIf="deleteReasonMsgInput" class="">

    <div class="form-group col-md-12">
      <label class="form-label">Enter Reason For Deleting</label>
      <textarea type="text" class="form-control" placeholder="" name="reason_for_delete"
        #reason_for_deleteInput></textarea>

      <div class="invalid-feedback">
        <div></div>
      </div>
    </div>


    <div class="buttonDiv pull-right mb-4">

      <button (click)="finalDeleteSubmit(reason_for_deleteInput.value)" type="button"
        class="btn btn-sm themeButton mr-1">Delete</button>

    </div>

  </div>

</kendo-dialog>



<div class="worksOrderOverlay"></div>

<app-workorder-form [woFormType]="woFormType" [woFormWindow]="woFormWindow" [worksOrderAccess]="worksOrderAccess"
  [selectedWorkOrderAddEdit]="selectedWorkOrderAddEdit" *ngIf="woFormWindow" (closeWoFormWin)="closeWoFormWin($event)">
</app-workorder-form>

<app-completion-list *ngIf="completionList" [worksOrderData]="selectedWorksOrder" [completionWin]="completionList"
  (closeCompletionWin)="closeCompletionList($event)"></app-completion-list>

<app-variation-list-all *ngIf="openVariationListAll" [openVariationListAll]="openVariationListAll"
  [openedFrom]="'worksorder'" [singleWorksOrder]="selectedWorksOrder"
  (closeVariationAllListEvent)="closeVariationAll($event)"></app-variation-list-all>

<app-wo-program-management-instructions *ngIf="woProgramManagmentInstructionsWindow"
  [woProgramManagmentInstructionsWindow]="woProgramManagmentInstructionsWindow" [worksOrderData]="selectedWorksOrder"
  [selectedWorksOrder]="selectedWorksOrder"
  (WoProgramManagmentInstructionsWinEvent)="closeWoProgramManagmentInstructionsWin($event)">
</app-wo-program-management-instructions>

<app-wo-document-list *ngIf="documentWindow" [documentWindow]="documentWindow"
  (closeDocument)="closeDocumentWindow($event)" [selectedWorksOrder]="selectedWorksOrder"></app-wo-document-list>

<app-programme-log *ngIf="ProgrammeLogWindow" [ProgrammeLogWindow]="ProgrammeLogWindow"
  [singleWorkOrderInp]="selectedWorksOrder" [openedFrom]="'workorder'"
  (ProgrammeLogWindowEvent)="closeProgrammeLogWindow($event)">
</app-programme-log>

<app-wo-association-manage *ngIf="WoAssociationsManageWindow" [WoAssociationsManageWindow]="WoAssociationsManageWindow"
  [worksOrderData]="selectedWorksOrder" (WoAssociationsManageWindowEvent)="closeWoAssociationsManageWindowMain($event)">
</app-wo-association-manage>

<app-manage-milestones *ngIf="openManageMilestone" [worksOrderData]="selectedWorksOrder"
  [openManageMilestone]="openManageMilestone" [openMilestoneFor]="openMilestoneFor"
  (closeManageMilestoneEvent)="closeManageMilestone($event)">
</app-manage-milestones>

<app-asset-defects-list *ngIf="openDefectsList" [openDefectsList]="openDefectsList"
  [singleWorkOrderInp]="selectedWorksOrder" [openedFrom]="'workorder'"
  (closeDefectsListEvent)="closeDefectList($event)">
</app-asset-defects-list>

<app-wo-program-management-payment-schedule *ngIf="openWOPaymentScheduleWindow" [worksOrderData]="selectedWorksOrder"
  [openWOPaymentScheduleWindow]="openWOPaymentScheduleWindow"
  (closePaymentScheduleWindowEvent)="closePaymentScheduleWindow($event)">
</app-wo-program-management-payment-schedule>


<app-worksorders-checklist *ngIf="showChecklist" [selectedWorksOrder]="selectedWorksOrder"
  [showChecklistWindow]="showChecklist" (closeChecklistWindow)="closeChecklistWindow($event)">
</app-worksorders-checklist>
