.k-grid tbody td {
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 12px;
}

.worksorderGrid .k-grid tr {
    background-color: white
}

.k-grid tr.notNew {
    background-color: rgba(230, 0, 126, 0.1) !important
}

.worksorderGrid .gridRow:hover:not(.notNew), .worksorderGrid .gridRow:hover td {
    background-color: transparent !important;
    ;
}

.worksorderGrid .k-state-selected.gridRow:hover {
    background-color: #d4cdcd!important;
}

.dropdown.list-unstyled {
    position: absolute !important;
}

/* .k-grid-content tr td {
    overflow: visible !important;
} */

/* .drpMenu{
    top: -122px !important;
} */

.worksOrderFilter .text-dark:hover {
    color: black !important;
}

.workorderListFilter .filterArea {
    width: 100%;
    display: block;
}

.workorderListFilter .filterArea input[type=text] {
    font-size: .894rem;
    line-height: 1.54;
    color: #4E5155;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(24, 28, 33, 0.1);
    border-radius: .25rem;
}

.workorderListFilter .filterArea .filterdiv, .radioDiv, .actionDiv, .actionDiv #nesting-dropdown-demo {
    display: inline-block;
}

.workorderListFilter .filterArea .filterdiv1 .filterLbl {
    width: 34%;
    margin-right: 10px;
}

.workorderListFilter .filterArea .filterdiv1 input[type=text] {
    width: 52%;
}

.workorderListFilter .filterArea .filterdiv2 .filterLbl {
    width: 19%;
    margin-right: 12px;
}

.workorderListFilter .filterArea .filterdiv2 input[type=text] {
    width: 65%;
}

.workorderListFilter .filterArea .filterdiv3 .filterLbl {
    width: 36%;
    margin-right: 10px;
}

.workorderListFilter .filterArea .filterdiv3 input[type=text] {
    width: 50%;
}

.workorderListFilter .filterArea .filterdiv4 .filterLbl {
    width: 24%;
    margin-right: 10px;
}

.workorderListFilter .filterArea .filterdiv4 input[type=text] {
    width: 68%;
}

.workorderListFilter .filterArea .filterdiv:not(:first-child) {
    margin-left: 6px;
}

.filterdiv2, .filterdiv4 {
    width: 17%;
}

.filterdiv5 {
    width: 25%;
}

.filterdiv1 {
    width: 13%;
}

.filterdiv3 {
    width: 11%;
}

.filterdiv6 {
    width: 11%;
}

.workorderListFilter .filterArea .radioDiv {
    margin-left: 21px;
}

.radioDiv .radio-inline input[type=radio], .radioDiv .radio-inline {
    margin-right: 11px;
}

.deleteError {
    margin: 30px;
    text-align: center;
    color: red;
    font-size: 17px;
}

.successDeleteMsg {
    margin: 30px;
    text-align: center;
    color: green;
    font-size: 17px;
}

.dropdown-menu.show {
    margin-bottom: 10px;
}

.dropdown-menu.woReport {
    top: -117px !important;
}

.dropdown-menu.contractorReportMenu{
    top: -45px !important;
}

.disabled .dropdown-item {
    color: #d1d2d3;
    background-color: transparent;
    pointer-events: none;
}

.dropdown-menu.milestoneMenu {
    top: -43px !important;
}

.headerActionBtnArea {
    display: inline !important;
}

.headerActionBtnArea .themeButton, .headerActionBtnArea .reportBtnArea {
    display: inline-block !important;
}


.tooltip-class .k-callout {
    background-color: transparent !important;
    color: white !important;
}

/** media query **/

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .workorderListFilter .filterArea .filterdiv {
        width: 40%;
    }
    .workorderListFilter .filterArea .filterdiv {
        margin-left: 0px;
    }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .workorderListFilter .filterArea .filterdiv {
        width: 100%;
    }
    .workorderListFilter .filterArea .filterdiv .filterLbl {
        width: 25%;
        text-align: left;
    }
    .workorderListFilter .filterArea .filterdiv input[type=text] {
        width: 70%;
    }
    .workorderListFilter .filterArea .filterdiv {
        margin-left: 0px !important;
    }
}

@media (max-width: 1224px) {
    .filterdiv {
        width: 40% !important;
        margin-left: 0px !important;
    }
    .filterdiv .filterLbl {
        width: 38% !important;
    }
    .filterdiv input[type=text] {
        width: 58% !important;
    }
}