<div class="container-fluid flex-grow-1 container-p-y">

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <h4 class="font-weight-bold py-3 mb-1">
                Works Orders
            </h4>
        </div>

        <div class="col-md-10 text-right">

          <button (click)="openUserPopup('new')"  class="btn btn-sm themeButton "><i
                  class="fa fa-plus"></i> New Works Order
          </button>

            <a  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-sm themeButton ml-1"><i
                    class="fa fa-search"></i>
            </a>
        </div>

    </div>
<!--
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Filter
      </a>
    -->
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="row form-inline align-items-center">

          <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="mr-2">WO Number:</label>
        <input type="text" class="form-control" id="inputPassword2" placeholder="">
        </div>


        <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="mr-2">Wo Name:</label>
        <input type="text" class="form-control" id="inputPassword2" placeholder="">
        </div>

        <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="mr-2">Ext Ref:</label>
        <input type="text" class="form-control" id="inputPassword2" placeholder="">
        </div>
        <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="mr-2">Address:</label>
        <input type="text" class="form-control" id="inputPassword2" placeholder="">
        </div>

  <div class="form-group mx-sm-3 mb-2">
  <label for="inputPassword2" class="mr-2">Works Order Status:</label>

        <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline1">All</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
<label class="custom-control-label" for="customRadioInline1">Active</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
<label class="custom-control-label" for="customRadioInline1">Inactive</label>
</div>
  </div>

          <div class="col-sm-12 col-md-1 goBtnDiv">
            <button (click)="filterCustum()" class="btn btn-secondary" >Search</button>
          </div>
          <div class="col-sm-12 col-md-1 goBtnDiv">
            <button class="btn btn-secondary"  >Reset Filter</button>
          </div>

        </div>



      </div>
    </div>




    <div class="row mt-2">

    

        <div class="col-md-12" kendoTooltip position="right" showOn="none"
            filter=".k-grid td" (mouseover)="showTooltip($event)" tooltipClass="tooltip-class">
            <kendo-grid (groupChange)="groupChange($event)" [group]="state.group" [groupable]="true" [kendoGridGroupBinding]="userEventList" [pageSize]="80"  scrollable="virtual" [rowHeight]="36"
                [height]="720" [loading]="loading" filterable="menu" [resizable]="true" [sortable]="{
    allowUnsort: allowUnsort,
    mode: multiple ? 'multiple' : 'single'
    }" [skip]="state.skip" [sort]="state.sort" [selectable]="selectableSettings" kendoGridSelectBy="eventSequence"
                [selectedKeys]="mySelection" (selectedKeysChange)="onSelectedKeysChange($event)" [filter]="state.filter"
                (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
                (cellClick)="cellClickHandler($event)" [navigable]="true" [rowClass]="rowCallback">


                <kendo-grid-column title=" " width="60" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <li [ngClass]="{'disabled' : selectedEvent.length > 1}" class="nav-item dropdown list-unstyled"
                            style="margin-top: -7px;">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"
                                (click)="setSeletedRow(dataItem)"></i>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0)"
                                    (click)="openTaskDetails(dataItem, 'single')">Works Order
                                    Details</a>
                                <a class="dropdown-item" href="javascript:void(0)"
                                (click)="openTaskData(dataItem,'single')">Defects
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)"
                                (click)="openTaskData(dataItem,'single')">Contract Costs
                                </a>

                                <a class="dropdown-item" href="javascript:void(0)"
                              (click)="openTaskData(dataItem,'single')">Variations
                              </a>


                              <a class="dropdown-item" href="javascript:void(0)"
                              (click)="openTaskData(dataItem,'single')">Documents
                              </a>


                              <a class="dropdown-item" href="javascript:void(0)"
                              (click)="openTaskData(dataItem,'single')">Payment Schedule
                              </a>
                              <a class="dropdown-item" href="javascript:void(0)"
                              (click)="openTaskData(dataItem,'single')">Works Order Reports
                              </a>
                              <a class="dropdown-item" href="javascript:void(0)"
                              (click)="openTaskData(dataItem,'single')">Contractor Reports
                              </a>


                            </div>
                        </li>

                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-column field="woname" title="Work Order" width="160">
                </kendo-grid-column>
                <kendo-grid-column field="wobudget" title="Budget" width="120" >
                  €
                </kendo-grid-column>
                <kendo-grid-column field="woforecast" title="Forecast" width="120">
                  €
                </kendo-grid-column>
                <kendo-grid-column field="wocommitted" title="Committed" width="120">
                  €
                </kendo-grid-column>
                <kendo-grid-column field="woacceptedvalue" title="Accepted" width="120">
                  €
                </kendo-grid-column>
                <kendo-grid-column field="woactual" title="Actual" width="120">
                  €
                </kendo-grid-column>

                <kendo-grid-column field="woapproved" title="Approved" width="120">
                  €
                </kendo-grid-column>


                <kendo-grid-column field="wopending" title="Pending" width="120">
                  €
                </kendo-grid-column>


                <kendo-grid-column field="wopayment" title="Payments" width="120">
                  €
                </kendo-grid-column>

                <kendo-grid-column field="woplanstartdate" title="Start Date" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="woplanenddate" title="End Date" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="wotargetcompletiondate" title="Target Date" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="eventRowCount" title="New Count" width="120">
                  Navi
                </kendo-grid-column>
                <kendo-grid-column field="eventRowCount" title="Issued Count" width="120">
                    Navi
                </kendo-grid-column>


                <kendo-grid-column field="woactualstartdate" title="Created" width="190" filter="date"
                    format="{0:dd-MM-yyyy}">
                    <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                        let-filterService="filterService">
                        <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
                        </date-range-filter>
                    </ng-template>

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.eventCreatedDate | dateFormat : 'DD-MMM-YYYY HH:mm:ss' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>




            </kendo-grid>

        </div>
    </div>

    <app-workorder-form [userFormType]="userFormType" [userFormWindow]="userFormWindow" [selectedUser]="selectedUser"
      *ngIf="userFormWindow" (closeUserFormWin)="closeUserFormWin($event)">
    </app-workorder-form>

</div>






<!-- Search bar -->


<div class="taskOvrlay"></div>
