<div class="container-fluid flex-grow-1 container-p-y">

  <div class="row">
    <div class="col-md-2 col-sm-3">
      <h4 class="font-weight-bold py-3 mb-1">
        Works Orders
      </h4>
    </div>

    <div class="col-md-10 text-right">
      <button *ngIf="worksOrderAccess.indexOf('New Works Order') != -1" (click)="openUserPopup('new')"
        class="btn btn-sm themeButton "><i class="fa fa-plus"></i>
        New Works Order
      </button>

    </div>

  </div>

  <div class="row mt-1">
    <div class="col-md-12">
      <div class="filterArea">
        <div class="filterdiv1 filterdiv">
          <label for="woNumber" class="filterLbl">Number:</label>
          <input (keydown)="keyDownFunction($event)" type="text" id="woNumber" [(ngModel)]="filterObject.Wosequence">
        </div>
        <div class="filterdiv2 filterdiv">
          <label for="woName" class="filterLbl">Name:</label>
          <input (keydown)="keyDownFunction($event)" type="text" id="woName" [(ngModel)]="filterObject.WoName">
        </div>
        <div class="filterdiv3 filterdiv">
          <label for="extRef" class="filterLbl">Ext Ref:</label>
          <input (keydown)="keyDownFunction($event)" type="text" id="extRef" [(ngModel)]="filterObject.Woextref">
        </div>
        <div class="filterdiv4 filterdiv">
          <label for="address" class="filterLbl">Address:</label>
          <input (keydown)="keyDownFunction($event)" type="text" id="address" autocomplete="off"
            [(ngModel)]="filterObject.Address">
        </div>
        <div class="filterdiv5 filterdiv">
          <label for="woStatus" class="">Status:</label>
          <div class="radioDiv">
            <label class="radio-inline">
              <input type="radio" value="S" name="gridStatus" [(ngModel)]="filterObject.ActiveInactive">All
            </label>
            <label class="radio-inline">
              <input type="radio" value="A" name="gridStatus" [(ngModel)]="filterObject.ActiveInactive">Active
            </label>
            <label class="radio-inline">
              <input type="radio" value="I" name="gridStatus" [(ngModel)]="filterObject.ActiveInactive">Inactive
            </label>
          </div>
        </div>
        <div class="filterdiv6 filterdiv">
          <button class="btn btn-sm themeButton mr-1" (click)="filterGrid($event)">Search</button>
          <button class="btn btn-sm themeButton" (click)="resetFilter()">Clear</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-2">

    <div class="col-md-12 worksorderGrid">
      <kendo-grid [data]="gridView" [pageSize]="pageSize" [rowHeight]="36" (pageChange)="pageChange($event)"
        scrollable="virtual" [height]="680" [loading]="loading" filterable="menu" [resizable]="true" [sortable]="{
    allowUnsort: true, mode: 'single'}" [skip]="state.skip" [sort]="state.state" [selectable]="selectableSettings"
        [filter]="state.filter" (cellClick)="cellClickHandler($event)" [navigable]="false" [virtualColumns]="true"
        [rowClass]="rowCallback" [kendoGridSelectBy]="mySelectionKey" [selectedKeys]="mySelection">


        <kendo-grid-column title=" " width="35" [filterable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;" (click)="setSeletedRow(dataItem)">
              <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>
              <div class="dropdown-menu selectedMenuBar{{dataItem.wosequence}}">

                <a *ngIf="worksOrderAccess.indexOf('Edit Works Order') != -1" class="dropdown-item"
                  href="javascript:void(0)" (click)="redirectToWorksOrderEdit(dataItem)">Edit</a>
                <a *ngIf="worksOrderAccess.indexOf('Delete Works Order') != -1" class="dropdown-item"
                  href="javascript:void(0)" (click)="deleteThis(dataItem)">Delete</a>
                <a *ngIf="worksOrderAccess.indexOf('Works Order Detail') != -1" class="dropdown-item"
                  href="javascript:void(0)" (click)="redirectToWorksOrder(dataItem)"> Works Order Details</a>
                <!-- <a class="dropdown-item" href="javascript:void(0)">Defects </a>
                <a class="dropdown-item" href="javascript:void(0)">Contract Costs</a>
                <a class="dropdown-item" href="javascript:void(0)">Variations</a>
                <a class="dropdown-item" href="javascript:void(0)">Documents</a>
                <a class="dropdown-item" href="javascript:void(0)">Payment Schedule </a>
                <a class="dropdown-item" href="javascript:void(0)">Works Order Reports</a>
                <a class="dropdown-item" href="javascript:void(0)">Contractor Reports </a>  -->
              </div>
            </li>

          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="wosequence" title="Work Order" width="140">
        </kendo-grid-column>
        <kendo-grid-column field="woname" title="Name" width="160">
        </kendo-grid-column>
        <kendo-grid-column field="wostatus" title="Status" width="160">
        </kendo-grid-column>
        <kendo-grid-column field="contractorName" title="Contractor" width="160">
        </kendo-grid-column>

        <kendo-grid-column field="wobudget" title="Budget" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wobudget | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="woforecast" title="Forecast" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woforecast | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wocommitted" title="Committed" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wocommitted | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wocommitted" title="Issued" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              No Value
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woacceptedvalue" title="Accepted" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woacceptedvalue | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="woactual" title="Actual" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woactual | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woapproved" title="Approved" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woapproved | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="wopending" title="Pending" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wopending | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="wopayment" title="Payments" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wopayment | currency:"GBP":"symbol" }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="wocontractorissuedate" title="Issue Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woplanstartdate | dateFormat : 'DD-MMM-YYYY HH:mm:ss' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wotargetcompletiondate" title="Target Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wotargetcompletiondate | dateFormat : 'DD-MMM-YYYY HH:mm:ss' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wocontractoracceptancedate" title="Acceptance Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wocontractoracceptancedate | dateFormat : 'DD-MMM-YYYY HH:mm:ss' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="woplanstartdate" title="Plan Start Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woplanstartdate | dateFormat : 'DD-MMM-YYYY HH:mm:ss' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woplanenddate" title="Plan End Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woplanenddate | dateFormat : 'DD-MMM-YYYY HH:mm:ss' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woactualstartdate" title="Actual Start Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woactualstartdate | dateFormat : 'DD-MMM-YYYY HH:mm:ss' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="woactualenddate" title="Actual End Date" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.woactualenddate | dateFormat : 'DD-MMM-YYYY HH:mm:ss' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woextref" title="External Ref" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="mPgoA" title="Created By" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="mPgpA" title="Created Date" width="150" filter="date" format="{0:dd-MM-yyyy}">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
            </date-range-filter>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.mPgpA | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="mPgrA" title="Amended By" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="mPgsA" title="Amended Date" width="150" filter="date" format="{0:dd-MM-yyyy}">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
            </date-range-filter>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.mPgsA | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>

      </kendo-grid>

    </div>
  </div>


</div>


<kendo-dialog title="DELETE WORKS ORDERS" *ngIf="woFormDeleteWindow" (close)="closewoFormDeleteWindow()"
  [minWidth]="250" [width]="450">



  <p *ngIf="errorDeleteMsg" class="deleteError">{{ errorDeleteMsg }}</p>
  <p *ngIf="successDeleteMsg" class="successDeleteMsg">{{ successDeleteMsg }}</p>


  <div *ngIf="deleteReasonMsgInput" class="">

    <div class="form-group col-md-12">
      <label class="form-label">Enter Reason For Deleting</label>
      <textarea type="text" class="form-control" placeholder="" name="reason_for_delete"
        #reason_for_deleteInput></textarea>

      <div class="invalid-feedback">
        <div></div>
      </div>
    </div>




    <div class="buttonDiv pull-right mb-4">

      <button (click)="finalDeleteSubmit(reason_for_deleteInput.value)" type="button"
        class="btn btn-sm themeButton mr-1">Delete</button>



    </div>



  </div>







</kendo-dialog>





<div class="worksOrderOverlay"></div>
<app-workorder-form [woFormType]="woFormType" [woFormWindow]="woFormWindow"
  [selectedWorkOrderAddEdit]="selectedWorkOrderAddEdit" *ngIf="woFormWindow" (closeWoFormWin)="closeWoFormWin($event)">
</app-workorder-form>