.k-grid tbody td {
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 12px;
}

.dropdown.list-unstyled {
    position: absolute !important;
}

.worksOrderFilter .text-dark:hover {
    color: black !important;
}

.filterArea {
    width: 100%;
    display: block;
}

.filterArea input[type=text] {
    font-size: .894rem;
    line-height: 1.54;
    color: #4E5155;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(24, 28, 33, 0.1);
    border-radius: .25rem;
}

.filterArea .filterdiv, .radioDiv, .actionDiv, .actionDiv #nesting-dropdown-demo {
    display: inline-block;
}

.filterArea .filterdiv1 .filterLbl {
    width: 55%;
}

.filterArea .filterdiv1 input[type=text] {
    width: 45%;
}

.filterArea .filterdiv2 .filterLbl {
    width: 32%;
}

.filterArea .filterdiv2 input[type=text] {
    width: 65%;
}

.filterArea .filterdiv3 .filterLbl {
    width: 36%;
}

.filterArea .filterdiv3 input[type=text] {
    width: 50%;
}


.filterArea .filterdiv4 .filterLbl {
    width: 30%;
}

.filterArea .filterdiv4 input[type=text] {
    width: 68%;
}

.filterArea .filterdiv:not(:first-child) {
    margin-left: 6px;
}

.filterdiv2, .filterdiv4 {
    width: 19%;
}

.filterdiv5 {
    width: 21%;
}

.filterdiv1{
    width: 13%;
}

.filterdiv3 {
    width: 11%;
}

.filterdiv6 {
    width: 14%;
}

.filterArea .radioDiv {
    margin-left: 5px;
}

.radioDiv .radio-inline input[type=radio], .radioDiv .radio-inline {
    margin-right: 5px;
}

/** media query **/

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .filterArea .filterdiv {
        width: 40%;
    }

    .filterArea .filterdiv{
        margin-left: 0px;
    }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .filterArea .filterdiv {
        width: 100%;
    }
    .filterArea .filterdiv .filterLbl {
        width: 25%;
        text-align: left;
    }
    .filterArea .filterdiv input[type=text] {
        width: 70%;
    }

    .filterArea .filterdiv{
        margin-left: 0px !important;
    }
}