<kendo-window title="{{title}}" *ngIf="isCreateNewGrp" (close)="closeDefGroupForm()" [top]="80" [minWidth]="400"
  [width]="700" [height]="auto" [minHeight]="300">

  <div class="row defDetailDiv">
    <div class="detailHeadingDiv">
      <span class="">Definition: {{selectedDefinition?.hascode}} ({{selectedDefinition?.hasversion}})
        {{selectedDefinition?.hasname}}</span>
    </div>
  </div>


  <form class="difinitionGroupForm mt-3" [formGroup]="definitionGrpForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <label class="col-form-label">Group</label>
          </div>
          <div class="col-md-8">
            <input maxlength="200" #firstInp type="text" formControlName="group" [ngClass]="{ 'is-invalid': submitted && formErrors.group }"
              class="form-control">
            <div *ngIf="submitted && formErrors.group" class="invalid-feedback">
              <div *ngIf="formErrors.group">{{ formErrors.group }}</div>
            </div>
          </div>
          <div class="col-md-1">
            <i title="Name of Health and Safety Group" class="fas fa-info-circle d-block"></i>
          </div>
        </div>

      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <label class="col-form-label">Repeatable Group?</label>
          </div>

          <div class="col-md-1">
            <input formControlName="isRepeatable" type="checkbox" class="form-control repblCheck">
          </div>

          <div class="col-md-1">
            <i title="Is this Group of questions repeated for each room/location?"
              class="fas fa-info-circle d-block"></i>
          </div>

        </div>

      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <label class="col-form-label">Status</label>
          </div>

          <div class="col-md-3">
            <select formControlName="status" class="form-control">
              <option value="A">Active</option>
              <option value="I">Inactive</option>
            </select>
          </div>

          <div class="col-md-1">
            <i title="Active or Inactive indicates whether the Health and Safety Group is in use."
              class="fas fa-info-circle d-block"></i>
          </div>
        </div>
      </div>
    </div>





    <div class="changedBy" *ngIf='defGrpFormMode == "change"'>
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <label class="col-form-label">Created By</label>
            </div>
            <div class="col-md-4">
              <input [readonly]="isReadOnly" type="text" class="form-control" formControlName="createdBy"
                [ngClass]="{ 'is-invalid': submitted && formErrors.createdBy }">
            </div>

            <div class="col-md-2">
              <label class="col-form-label">Modified By</label>
            </div>
            <div class="col-md-4">
              <input [readonly]="isReadOnly" type="text" class="form-control" formControlName="modifiedBy"
                [ngClass]="{ 'is-invalid': submitted && formErrors.modifiedBy }">
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <label class="col-form-label">Created Date</label>
            </div>
            <div class="col-md-4">
              <input [readonly]="isReadOnly" type="text" class="form-control" formControlName="createdDate"
                [ngClass]="{ 'is-invalid': submitted && formErrors.createdDate }">
            </div>

            <div class="col-md-2">
              <label class="col-form-label">Modified Date</label>
            </div>
            <div class="col-md-4">
              <input [readonly]="isReadOnly" type="text" class="form-control" formControlName="modifiedDate"
                [ngClass]="{ 'is-invalid': submitted && formErrors.modifiedDate }">
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="row mt-3">
      <div class="col-md-12 text-right actionAreaBtn">
        <button type="button" class="btn btn-sm themeButton" *ngIf="!disableActins && defGrpFormMode =='new' && hnsPermission.indexOf('Create Another Group') != -1" (click)="onSubmit('create')">Create Another</button>
        <button type="submit" [disabled]="disableActins" class="btn btn-sm themeButton">OK</button>
        <button type="button" class="btn btn-sm themeButton" (click)="closeDefGroupForm()">Cancel</button>

      </div>
    </div>

  </form>


</kendo-window>

