<kendo-window title="{{title}}" *ngIf="openProbabilityList" (close)="closeProbabilityListMethod()" [top]="5" [minWidth]="400"
  [width]="780" [height]="auto" [minHeight]="300">

  <div class="row detailDiv">
    <div class="detailHeadingDiv">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <span>Definition:</span>
            </div>
            <div class="col-md-10">
              <span class="boldSpan">{{selectedDefinition.hascode }} ({{selectedDefinition.hasversion}})
                {{selectedDefinition.hasname}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      
        <kendo-grid [data]="gridView" [height]="410" [selectable]="{
          mode: 'single'
        }" [filterable]="false" [resizable]="true" [sortable]="false" [skip]="state.skip" [sort]="state.sort"
          [filter]="state.filter" (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
          (cellClick)="cellClickHandler($event)" [navigable]="true">

          <kendo-grid-column field="hasprobabilitycode" title="Probability Code" width="110">
          </kendo-grid-column>
          <kendo-grid-column field="hasprobabilitydesc" title="Probability Description" width="160">
          </kendo-grid-column>
          <kendo-grid-column field="hasprobabilityscore" title="Probability Score" width="140">
          </kendo-grid-column>
          
        </kendo-grid>
   
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-8 actionAreaBtnleft">
      <button type="button" [disabled]="disableAddBtn" class="btn btn-sm themeButton"
        (click)="addProbability('add')" *ngIf="hnsPermission.indexOf('Add Probability List') != -1">Add</button>
      <button type="button" [disabled]="disableBtn" class="btn btn-sm themeButton" (click)="addProbability('view')"
        *ngIf="selectedDefinition.hasinuse == 'Y'">View</button>
      <button type="button" [disabled]="disableBtn" class="btn btn-sm themeButton" (click)="addProbability('edit')"
        *ngIf="selectedDefinition.hasinuse == 'N' && hnsPermission.indexOf('Edit Probability List') != -1">Edit</button>
      <button type="button" *ngIf="hnsPermission.indexOf('Delete Probability List') != -1" [disabled]="disableBtn" class="btn btn-sm themeButton"
        (click)="openConfirmationDialog()">Delete</button>
      <button type="button" *ngIf="hnsPermission.indexOf('Move Up') != -1" [disabled]="disableBtn" class="btn btn-sm themeButton" (click)="move('up')"><i
          class='fas fa-long-arrow-alt-up'></i> Move up</button>
      <button type="button" *ngIf="hnsPermission.indexOf('Move Down') != -1" [disabled]="disableBtn" class="btn btn-sm themeButton" (click)="move('down')"><i
          class='fas fa-long-arrow-alt-down'> </i> Move Down</button>
    </div>
    <div class="col-md-4 actionAreaBtnright">
      <button type="button" class="btn btn-sm themeButton" (click)="closeProbabilityListMethod()">Cancel</button>
    </div>
  </div>

  <div class="probabilityOverlay"></div>

  <app-hns-add-probability *ngIf="opneAddProbability" [opneAddProbability]="opneAddProbability" [formMode]="formMode"
    [selectedDefinition]="selectedDefinition" [probabilityData]="listData" [selectedProbability]="selectedData"
    (closeAddProbability)="closeAddprobabilityMethod($event)" (successFullSubmit)="successFullSubmit($event)">
  </app-hns-add-probability>

</kendo-window>