.k-window{
    position: fixed!important;
}

.k-grid tbody td {
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 12px;
}

/* .wopmeditpaymentoverlay.ovrlay {
    z-index: 10007;
}

.k-grid .k-grid-edit-row td:not(.k-hierarchy-cell), .k-grid .k-command-cell, .k-grid .k-edit-cell {
    padding: 8px 12px!important;
}

.k-grid tbody td.grayColumn, .grayColumn  {
    background-color: #efefef!important;
} */


