.buttonDiv button{ margin-left: 8px; }
.newBtn{background-color: #e4287e; border-color: #e4287e; color: #fff;}
.userFrm{width: 805px;}
.k-window {
    position: fixed !important;
}


.workOrderDateFilter {
  height: 10px;
  font-size: 14px;
  line-height: 1.54;
  color: #4E5155;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(24, 28, 33, 0.1);
  border-radius: .25rem;
  padding-left: 6px;
}

.invalid-feedback{
  display: block !important;
}

@media screen and (max-width: 769px) {
    .userFrm{width: 100%;}
}
