<kendo-window title="{{windowTitle}}" [top]="20"
 height="600"  size="auto"  [(width)]="windowWidth" [minWidth]="120" *ngIf="woFormWindow"
  (close)="closewoFormWindow()">
  <div class="flex-grow-1 userFrm" >

    <form  [formGroup]="woForm" (ngSubmit)="onSubmit()" autocomplete="off">



      <div  *ngIf="addStage == 1"  class="form-row">

            <div class="form-group col-md-12">
              <label class="form-label">Asset Template</label>
              <select class="custom-select" formControlName="wottemplatetype"
                [ngClass]="{ 'is-invalid': submitted && formErrors.wottemplatetype }">
                <option value=""></option>
              <option *ngFor="let assetTmp of assetTemplateListData"  [ngValue]="assetTmp">{{assetTmp.wotname}}</option>

              </select>

              <div *ngIf="submitted && formErrors.wottemplatetype" class="invalid-feedback">
                <div *ngIf="formErrors.wottemplatetype">{{ formErrors.wottemplatetype }}</div>
              </div>
            </div>


            <div class="form-group col-md-12">
              <label class="form-label">Programme</label>
              <select class="custom-select" formControlName="woprogram"
                [ngClass]="{ 'is-invalid': submitted && formErrors.woprogram }">
                <option value=""></option>
                <option *ngFor="let program of workOrderProgrammeListData"  [ngValue]="program">{{program.wprname}}</option>

              </select>

              <div *ngIf="submitted && formErrors.woprogram" class="invalid-feedback">
                <div *ngIf="formErrors.woprogram">{{ formErrors.woprogram }}</div>
              </div>

            </div>

            <div class="form-group col-md-12">
              <label class="form-label">Contract</label>
              <select class="custom-select" formControlName="contractName"
                [ngClass]="{ 'is-invalid': submitted && formErrors.contractName }">
                <option value=""></option>
                <option *ngFor="let contractnme of WorkOrderContractListData"  [ngValue]="contractnme">{{contractnme.conname}}</option>

              </select>

              <div *ngIf="submitted && formErrors.contractName" class="invalid-feedback">
                <div *ngIf="formErrors.contractName">{{ formErrors.contractName }}</div>
              </div>

            </div>

            <div class="form-group col-md-12">
              <label class="form-label">Works Order/Phase Template</label>
              <select class="custom-select" formControlName="wophasetemplate"
                [ngClass]="{ 'is-invalid': submitted && formErrors.wophasetemplate }">
                <option value=""></option>
                <option *ngFor="let wophasetmp of GetPhaseTemplateListData"  [ngValue]="wophasetmp">{{wophasetmp}}</option>

              </select>

              <div *ngIf="submitted && formErrors.wophasetemplate" class="invalid-feedback">
                <div *ngIf="formErrors.wophasetemplate">{{ formErrors.wophasetemplate }}</div>
              </div>

            </div>


            <div class="form-group col-md-12">
              <label class="form-label">Work Order Type</label>
              <select class="custom-select" formControlName="woType"
                [ngClass]="{ 'is-invalid': submitted && formErrors.woType }">
                <option value=""></option>
              <option *ngFor="let woType of getWorkOrderTypeData"  [ngValue]="woType">{{woType}}</option>

              </select>

              <div *ngIf="submitted && formErrors.woType" class="invalid-feedback">
                <div *ngIf="formErrors.woType">{{ formErrors.woType }}</div>
              </div>

            </div>







    </div>


  <div  *ngIf="addStage == 2" class="">


    <div  class="form-row">

      <div class="form-group col-md-6">
        <label class="form-label">Works Order No</label>

        <input  [readonly]="true" type="text" class="form-control" value="{{ work_order_no }}">




      </div>


      <div class="form-group col-md-6">
        <label class="form-label">Work Order Type</label>

        <input  [readonly]="true" formControlName="woTypevalue"    type="text" class="form-control" >

      </div>


</div>
  <div  class="form-row">


    <div class="form-group col-md-6">
      <label class="form-label">External Reference</label>

      <input [readonly]="true" type="text" class="form-control" value="{{ work_order_no }}">




    </div>


</div>

<div  class="form-row">
    <div class="form-group col-md-12">
      <label class="form-label">Name</label>
      <input [readonly]="readInput" oninput="this.value = this.value.toUpperCase()" type="text" class="form-control"
        placeholder="" formControlName="woname" [ngClass]="{ 'is-invalid': submitted && formErrors.woname }">

      <div *ngIf="submitted && formErrors.woname" class="invalid-feedback">
        <div *ngIf="formErrors.woname">{{ formErrors.woname }}</div>
      </div>
    </div>

    <div class="form-group col-md-12">
      <label class="form-label">Desc</label>
      <input [readonly]="readInput"  type="text" class="form-control"
        placeholder="" formControlName="wodesc" [ngClass]="{ 'is-invalid': submitted && formErrors.wodesc }">

      <div *ngIf="submitted && formErrors.wodesc" class="invalid-feedback">
        <div *ngIf="formErrors.wodesc">{{ formErrors.wodesc }}</div>
      </div>
    </div>

</div>

<div  class="form-row">

  <div class="form-group col-md-6">
    <label class="form-label">Template</label>

    <input type="text" formControlName="wotname"  class="form-control" >




  </div>

  <div class="form-group col-md-6">
    <label class="form-label">Contractor</label>

    <input   formControlName="conname"  type="text" class="form-control">




  </div>

  <div class="form-group col-md-6">
    <label class="form-label">Contract Code</label>

    <input formControlName="cttcode"  type="text" class="form-control" >




  </div>

  <div class="form-group col-md-6">
    <label class="form-label">Contract Name</label>

    <input type="text" formControlName="cttname"  class="form-control">




  </div>


  <div class="form-group col-md-6">
    <label class="form-label">Status</label>
    <select class="custom-select" formControlName="wostatus"
      [ngClass]="{ 'is-invalid': submitted && formErrors.wostatus }">
      <option value=""></option>
    <option   value="New">New</option>
    <option   value="In Progress">In Progress</option>
    <option   value="Closed">Closed</option>

    </select>

    <div *ngIf="submitted && formErrors.wostatus" class="invalid-feedback">
      <div *ngIf="formErrors.wostatus">{{ formErrors.wostatus }}</div>
    </div>

  </div>

  <div class="form-group col-md-6">
    <label class="form-label">Active/Inactive</label>
    <select class="custom-select" formControlName="woactinact"
      [ngClass]="{ 'is-invalid': submitted && formErrors.woactinact }">
      <option value=""></option>
    <option   value="A">Active</option>
    <option   value="I">Inactive</option>

    </select>

    <div *ngIf="submitted && formErrors.woactinact" class="invalid-feedback">
      <div *ngIf="formErrors.woactinact">{{ formErrors.woactinact }}</div>
    </div>

  </div>

  <div class="form-group col-md-6">
    <label class="form-label">Target Completion Date</label>


    <div class="form-group">
    <div class="input-group">

             <input type="text" class="form-control" formControlName="wotargetcompletiondate"
                 [ngClass]="{ 'is-invalid': submitted && formErrors.wotargetcompletiondate }" autocomplete="off"
                 (click)="openCalendar(td)" [minDate]="minDate" ngbDatepicker
                 #td="ngbDatepicker" [placement]="'top'">
    </div>

    <div *ngIf="submitted && formErrors.wotargetcompletiondate" class="invalid-feedback">
      <div *ngIf="formErrors.wotargetcompletiondate">{{ formErrors.wotargetcompletiondate }}</div>
    </div>

  </div>




  </div>



  <div class="form-group col-md-6">
    <label class="form-label">Budget</label>



    <input [readonly]="readInput"  type="text" class="form-control"
      placeholder="" (keypress)="numberOnly($event)" formControlName="wobudget" [ngClass]="{ 'is-invalid': submitted && formErrors.wobudget }">


    <div *ngIf="submitted && formErrors.wobudget" class="invalid-feedback">
      <div *ngIf="formErrors.wobudget">{{ formErrors.wobudget }}</div>
    </div>

  </div>


  <div class="form-group col-md-6">
    <label class="form-label">Purchase Order No</label>
    <input [readonly]="readInput"  type="text" class="form-control"
      placeholder="" formControlName="purchase_order_no" [ngClass]="{ 'is-invalid': submitted && formErrors.purchase_order_no }">

    <div *ngIf="submitted && formErrors.purchase_order_no" class="invalid-feedback">
      <div *ngIf="formErrors.purchase_order_no">{{ formErrors.purchase_order_no }}</div>
    </div>
  </div>



  <div class="form-group col-md-6">
    <label class="form-label">Budget Code</label>
    <input [readonly]="readInput"  type="text" class="form-control"
      placeholder="" formControlName="wobudgetcode" [ngClass]="{ 'is-invalid': submitted && formErrors.wobudgetcode }">

    <div *ngIf="submitted && formErrors.wobudgetcode" class="invalid-feedback">
      <div *ngIf="formErrors.wobudgetcode">{{ formErrors.wobudgetcode }}</div>
    </div>
  </div>

  <div class="form-group col-md-6">
    <label class="form-label">Plan Year Code</label>
    <input [readonly]="readInput"  type="text" class="form-control"
      placeholder="" formControlName="plan_year" [ngClass]="{ 'is-invalid': submitted && formErrors.plan_year }">

    <div *ngIf="submitted && formErrors.plan_year" class="invalid-feedback">
      <div *ngIf="formErrors.plan_year">{{ formErrors.plan_year }}</div>
    </div>
  </div>

  <div class="form-group col-md-6">
    <label class="form-label">Planned Start Date</label>


    <div class="form-group">
    <div class="input-group">


             <input type="text" class="form-control" formControlName="woplanstartdate"
                 [ngClass]="{ 'is-invalid': submitted && formErrors.woplanstartdate }" autocomplete="off"
                 (click)="openCalendar(tds)" [minDate]="minDate" ngbDatepicker
                 #tds="ngbDatepicker" [placement]="'top'">


    </div>

    <div *ngIf="submitted && formErrors.woplanstartdate" class="invalid-feedback">
      <div *ngIf="formErrors.woplanstartdate">{{ formErrors.woplanstartdate }}</div>
    </div>

  </div>
  </div>



  <div class="form-group col-md-6">
    <label class="form-label">Planned End Date</label>


    <div class="form-group">
    <div class="input-group">

             <input type="text" class="form-control" formControlName="woplanenddate"
                 [ngClass]="{ 'is-invalid': submitted && formErrors.woplanenddate }" autocomplete="off"
                 (click)="openCalendar(tde)" [minDate]="minDate" ngbDatepicker
                 #tde="ngbDatepicker" [placement]="'top'">

    </div>

    <div *ngIf="submitted && formErrors.woplanenddate" class="invalid-feedback">
      <div *ngIf="formErrors.woplanenddate">{{ formErrors.woplanenddate }}</div>
    </div>

  </div>
  </div>





















</div>

<div  class="form-row">

<div class="form-group col-md-12">
  <label class="form-label">Instructions</label>
  <input [readonly]="readInput"  type="text" class="form-control"
    placeholder="" formControlName="woinstructions" [ngClass]="{ 'is-invalid': submitted && formErrors.woinstructions }">

  <div *ngIf="submitted && formErrors.woinstructions" class="invalid-feedback">
    <div *ngIf="formErrors.woinstructions">{{ formErrors.woinstructions }}</div>
  </div>
</div>
</div>

<div  class="form-row">




    <div class="form-group col-md-6">
      <label class="form-label">Overhead %</label>



      <input [readonly]="readInput"  type="text" class="form-control"
        placeholder="" (keypress)="numberOnly($event)" formControlName="wooverheadpct" [ngClass]="{ 'is-invalid': submitted && formErrors.wooverheadpct }">


      <div *ngIf="submitted && formErrors.wooverheadpct" class="invalid-feedback">
        <div *ngIf="formErrors.wooverheadpct">{{ formErrors.wooverheadpct }}</div>
      </div>

    </div>



      <div class="form-group col-md-6">
          <label class="form-label">Prelim %</label>



        <input [readonly]="readInput"  type="text" class="form-control"
          placeholder="" (keypress)="numberOnly($event)" formControlName="woprelimpct" [ngClass]="{ 'is-invalid': submitted && formErrors.woprelimpct }">


        <div *ngIf="submitted && formErrors.woprelimpct" class="invalid-feedback">
          <div *ngIf="formErrors.woprelimpct">{{ formErrors.woprelimpct }}</div>
        </div>

      </div>



        <div class="form-group col-md-6">
          <label class="form-label">Profit %</label>



          <input [readonly]="readInput"  type="text" class="form-control"
            placeholder="" (keypress)="numberOnly($event)" formControlName="woprofitpct" [ngClass]="{ 'is-invalid': submitted && formErrors.woprofitpct }">


          <div *ngIf="submitted && formErrors.woprofitpct" class="invalid-feedback">
            <div *ngIf="formErrors.woprofitpct">{{ formErrors.woprofitpct }}</div>
          </div>

        </div>


          <div class="form-group col-md-6">
            <label class="form-label">Other Cast %</label>



            <input [readonly]="readInput"  type="text" class="form-control"
              placeholder="" (keypress)="numberOnly($event)" formControlName="woothercostpct" [ngClass]="{ 'is-invalid': submitted && formErrors.woothercostpct }">


            <div *ngIf="submitted && formErrors.woothercostpct" class="invalid-feedback">
              <div *ngIf="formErrors.woothercostpct">{{ formErrors.woothercostpct }}</div>
            </div>

          </div>


          <div class="form-group col-md-6">
            <label class="form-label">Contract Payment Type</label>
            <select class="custom-select" formControlName="contract_payment_type"
              [ngClass]="{ 'is-invalid': submitted && formErrors.contract_payment_type }">
              <option value=""></option>
            <option   value="COMPLETION">Payment by Completion</option>
            <option   value="STAGE">Payment by Stage</option>
            <option   value="VALUATION">Payment by Valuation</option>

            </select>

            <div *ngIf="submitted && formErrors.contract_payment_type" class="invalid-feedback">
              <div *ngIf="formErrors.contract_payment_type">{{ formErrors.contract_payment_type }}</div>
            </div>

          </div>


</div>




</div> <!--  stage 2 end div -->

      <div class="buttonDiv pull-right mb-4">

        <button type="submit" class="btn btn-sm themeButton mr-1">Submit</button>
               <button type="button" (click)="closewoFormWindow()"
                   class="btn btn-sm themeButton">Cancel</button>


      </div>

<div class="clearfix"></div>


    </form>


  </div>
</kendo-window>
