<kendo-window title="{{title}}" *ngIf="openDefectsList" (close)="closeDefectlist()" [top]="20" [minWidth]="700"
    [width]="980" [height]="auto" [minHeight]="350">
    <div class="row">
        <div class="col-md-12 actionBtnDiv text-right">
            <button type="button" class="btn btn-sm themeButton mr-1 headin_section" (click)="slideToggle()">
                <i class="fa" [ngClass]="(filterToggle) ? 'fa-minus':'fa-plus'"></i>
            </button>

            <!-- need to use this button from asset checklist page -->
            <button (click)="openDefectForm('new')" type="button" class="btn btn-sm themeButton" *ngIf="openedFrom == 'assetchecklist'">
                New Defect
            </button>
        </div>

        <div class="col-md-12 mt-2">
            <div class="cont">
                <div id="wrapper">
                    <div class="worksorder-defectlist-header" style="display: none;">
                        <div class="row">
                            <div class="col-md-2"><label class="lbl">Programme:</label> </div>
                            <div class="col-md-10">
                                <input type="text" value="{{programmeData?.wprname}}"
                                    class="form-control form-control-sm" [readonly]="true">
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-md-2"><label class="lbl">Works Order:</label> </div>
                            <div class="col-md-10">
                                <input type="text" value="{{worksOrderData?.woname}} ({{worksOrderData?.wosequence}})"
                                    class="form-control form-control-sm" [readonly]="true">
                            </div>
                        </div>


                        <div class="row mt-1" *ngIf="openedFrom == 'assetchecklist'">
                            <div class="col-md-2"><label class="lbl">Phase: </label></div>
                            <div class="col-md-10">
                                <input type="text"
                                    value="{{singleWorksOrder?.woname}} ({{singleWorksOrder?.wosequence}})"
                                    class="form-control form-control-sm" [readonly]="true">
                            </div>
                        </div>

                        <div class="row mt-1" *ngIf="openedFrom == 'assetchecklist'">
                            <div class="col-md-2"><label class="lbl">Asset:</label> </div>
                            <div class="col-md-10">
                                <input type="text"
                                    value="{{singleWorksOrder?.woname}} ({{singleWorksOrder?.wosequence}})"
                                    class="form-control form-control-sm" [readonly]="true">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 mt-2">
            <kendo-grid #grid [data]="gridView" [height]="600" [selectable]="selectableSettings" filterable="menu"
                [resizable]="true" [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" [skip]="state.skip" [loading]="gridLoading" [pageSize]="pageSize" [rowHeight]="36"
                (pageChange)="pageChange($event)" scrollable="virtual" [sort]="state.sort" [filter]="state.filter"
                (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
                (cellClick)="cellClickHandler($event)" [navigable]="false">


                <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0)"
                                    (click)="openDefectForm('edit',dataItem)">Edit
                                    Defect</a>

                                <a class="dropdown-item" href="javascript:void(0)"
                                    (click)="confirmDeleteDefect(dataItem)">Delete Defect</a>


                                <a class="dropdown-item" href="javascript:void(0)"
                                    (click)="signOff(dataItem)">Signoff</a>

                            </div>
                        </li>

                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-column title="No." field="woisequence" width="80" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column title="Status" field="woirequesttype" width="130" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column title="Work Package" field="woiissuestatus" width="140">
                </kendo-grid-column>

                <kendo-grid-column title="Identified Date" field="woiissueusertype" width="130">
                </kendo-grid-column>

                <kendo-grid-column title="Reported By" field="woirequestuser" width="140" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column title="Description" field="woirequestdate" width="140">

                </kendo-grid-column>

                <kendo-grid-column title="Score" field="woiissueuser" width="140" [filterable]="false">
                </kendo-grid-column>

                <kendo-grid-column title="Resolved Date" field="woiissuereason" width="250">
                </kendo-grid-column>

                <kendo-grid-column title="Resolved By" field="woifeecost" width="150" [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woifeecost | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Resolved description" field="woiworkcost" width="150"
                    [style]="{'text-align': 'right'}">
                    <!-- <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woiworkcost | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template> -->
                </kendo-grid-column>

                <kendo-grid-column title="Signoff Date" field="woiacceptuser" width="140" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woiacceptdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Signoff by" field="woiacceptdate" width="140">
                </kendo-grid-column>

                <kendo-grid-column title="Approximate Cost" field="woiacceptdate" width="140">
                </kendo-grid-column>


            </kendo-grid>

        </div>

        <div class="col-md-12 text-right mt-2">
            <button (click)="closeDefectlist()" class="btn btn-sm themeButton ml-1">Close</button>
        </div>
    </div>


    <div class="defectListoverlay"></div>


</kendo-window>

<app-defect-form *ngIf="openDefectform" [openDefectform]="openDefectform" [defectFormMode]="defectFormMode"
    [openedFrom]="openedFrom" (closeDefectFormEvent)="closeDefectForm($event)"></app-defect-form>