<kendo-window title="{{title}}" *ngIf="openDefectsList" (close)="closeDefectlist()" [top]="20" [minWidth]="700"
    [width]="980" [height]="auto" [minHeight]="350">
    <div class="row">
        <div class="col-md-12 actionBtnDiv text-right">
            <button type="button" class="btn btn-sm themeButton mr-1 headin_section" (click)="slideToggle()">
                <i class="fa" [ngClass]="(filterToggle) ? 'fa-minus':'fa-plus'"></i>
            </button>

            <!-- need to use this button from asset checklist page -->
            <button (click)="openDefectForm('new')" type="button" class="btn btn-sm themeButton"
                *ngIf="openedFrom == 'assetchecklist' && woMenuBtnSecurityAccess('New Defects')">
                New Defect
            </button>
        </div>

        <div class="col-md-12 mt-2">
            <div class="cont">
                <div id="wrapper">
                    <div class="worksorder-defectlist-header" style="display: none;">
                        <div class="row">
                            <div class="col-md-2"><label class="lbl">Programme:</label> </div>
                            <div class="col-md-10">
                                <input type="text" value="{{programmeData?.wprname}}"
                                    class="form-control form-control-sm" [readonly]="true">
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-md-2"><label class="lbl">Works Order:</label> </div>
                            <div class="col-md-10">
                                <input type="text" value="{{worksOrderData?.woname}} ({{worksOrderData?.wosequence}})"
                                    class="form-control form-control-sm" [readonly]="true">
                            </div>
                        </div>


                        <div class="row mt-1" *ngIf="openedFrom == 'assetchecklist'">
                            <div class="col-md-2"><label class="lbl">Phase: </label></div>
                            <div class="col-md-10">
                                <input type="text" value="{{phaseData?.wopname}}" class="form-control form-control-sm"
                                    [readonly]="true">
                            </div>
                        </div>

                        <div class="row mt-1" *ngIf="openedFrom == 'assetchecklist'">
                            <div class="col-md-2"><label class="lbl">Asset:</label> </div>
                            <div class="col-md-3">
                                <input type="text" value="{{workorderAsset?.assid}}"
                                    class="form-control form-control-sm" [readonly]="true">
                            </div>

                            <div class="col-md-7">
                                <input type="text"
                                    value="{{workorderAsset?.assid}} - {{workorderAsset?.astconcataddress}}"
                                    class="form-control form-control-sm" [readonly]="true">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 mt-2">
            <kendo-grid #grid [data]="gridView" [height]="600" [selectable]="selectableSettings" filterable="menu"
                [resizable]="true" [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" [skip]="state.skip" [loading]="gridLoading" [pageSize]="pageSize" [rowHeight]="36"
                (pageChange)="pageChange($event)" scrollable="virtual" [sort]="state.sort" [filter]="state.filter"
                (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
                (cellClick)="cellClickHandler($event)" [navigable]="false">


                <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
                            <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>

                            <div class="dropdown-menu">
                                <a *ngIf="woMenuBtnSecurityAccess('Edit Defect')" class="dropdown-item"
                                    href="javascript:void(0)" (click)="openDefectForm('edit',dataItem)">Edit
                                    Defect</a>

                                <a [ngClass]="{'disabled': dataItem.wodstatus == 'Signed Off'}" *ngIf="woMenuBtnSecurityAccess('Remove Defect')" class="dropdown-item"
                                    href="javascript:void(0)" (click)="confirm(dataItem, 'delete')">Delete Defect</a>


                                <a [ngClass]="{'disabled': dataItem.wodstatus != 'Resolved'}" class="dropdown-item"
                                    href="javascript:void(0)" (click)="confirm(dataItem, 'signOff')">Signoff</a>

                            </div>
                        </li>

                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-column title="No." field="wodsequence" width="60" *ngIf="openedFrom == 'assetchecklist'">
                </kendo-grid-column>

                <kendo-grid-column title="Phase" field="wopname" width="130" *ngIf="openedFrom == 'workdetail'">
                </kendo-grid-column>

                <kendo-grid-column title="Asset ID" field="assid" width="130" *ngIf="openedFrom == 'workdetail'">
                </kendo-grid-column>

                <kendo-grid-column title="Address" field="astconcataddress" width="170"
                    *ngIf="openedFrom == 'workdetail'">
                </kendo-grid-column>

                <kendo-grid-column title="Status" field="wodstatus" width="130">
                </kendo-grid-column>

                <kendo-grid-column title="Work Package" field="wphcode" width="150">
                </kendo-grid-column>

                <kendo-grid-column title="Identified Date" field="woddate" width="150">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.woddate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Reported By" field="wodmpusid" width="140">
                </kendo-grid-column>

                <kendo-grid-column title="Description" field="woddescription" width="160">
                </kendo-grid-column>

                <kendo-grid-column title="Score" field="wodscore" width="110">
                </kendo-grid-column>

                <kendo-grid-column title="Resolved Date" field="wodresolveddate" width="160">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wodresolveddate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Resolved By" field="wodresolvedmpusid" width="150">

                </kendo-grid-column>

                <kendo-grid-column title="Resolved description" field="wodresolveddescription" width="200">

                </kendo-grid-column>

                <kendo-grid-column title="Signoff Date" field="wodsignoffdate" width="140">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wodsignoffdate | dateFormat : 'DD-MMM-YYYY' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Signoff by" field="wodsignoffmpusid" width="140">
                </kendo-grid-column>

                <kendo-grid-column title="Approximate Cost" field="wodapproxcost" width="160"
                    [style]="{'text-align': 'right'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span>
                            {{ dataItem.wodapproxcost | currency:'GBP':'symbol' }}
                        </span>
                    </ng-template>
                </kendo-grid-column>


            </kendo-grid>

        </div>

        <div class="col-md-12 text-right mt-2">
            <button (click)="closeDefectlist()" class="btn btn-sm themeButton ml-1">Close</button>
        </div>
    </div>


    <div class="defectListoverlay"></div>


</kendo-window>

<app-defect-form *ngIf="openDefectform" [openDefectform]="openDefectform" [defectFormMode]="defectFormMode"
    [openedFrom]="openedFrom" [selectedDefectInp]="selectedSingleDefect"
    [singleWorkOrderAssetInp]="singleWorkOrderAssetInp" (closeDefectFormEvent)="closeDefectForm($event)">
</app-defect-form>