.k-window {
    position: fixed !important;
}

.noAccessForm label {
    font-size: 16px;
}

.k-window-content, .k-prompt-container {
    overflow: inherit !important;
}

/* .noaccessDate ngb-datepicker.dropdown-menu.show {
    top: -200px !important;
    left: 20px !important;
} */

ngb-datepicker.dropdown-menu.show {
    left: -125px !important;
}