.k-window {
    position: fixed !important;
}

.k-grid tbody td {
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 12px;
}

.btn_grp{
    vertical-align: middle;
    float: none;
    top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_grp button{
    margin-bottom: 6px;
}






/* .footerButton button{
    margin-left: 8px;
}

.footerSec{
    margin-top: 10px;
} */



/* 




@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
 
  .btn_grp button{
      padding: 5px;
      width: 117px;
  }

  .footer{
    position: absolute;
    bottom: 0;
    right: 0;
}
  
} */

