<kendo-window title="{{title}}" *ngIf="eventParamList" (close)="closeParameterWindow()" [top]="20" [minWidth]="700"
    [width]="840" [height]="auto" [minHeight]="350">

    <div class="row">
        <div class="col-md-12">
            <div class="eventParamsHeading"> <span>{{ eventParamHeading }}</span> </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-md-12">

            <!-- <form novalidate #myForm="ngForm"> -->
            <kendo-grid [data]="query | async" [loading]="loading" [skip]="headerFilters.currentPage"
                [pageSize]="headerFilters.pageSize" [selectable]="selectableSettings" filterable="menu"
                [resizable]="true" [sortable]="{
        allowUnsort: allowUnsort,
        mode: multiple ? 'multiple' : 'single'
        }" [sort]="state.sort" (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
                (cellClick)="cellClickHandler($event)" [filter]="state.filter" scrollable="virtual" [rowHeight]="36"
                [height]="600" (pageChange)="pageChange($event)" [navigable]="true" [selectedKeys]="mySelection"
                [selectable]="selectableSettings" [kendoGridSelectBy]="mySelectionKey"
                (selectedKeysChange)="onSelectedKeysChange($event)">

                <kendo-grid-checkbox-column width="50">
                    <ng-template kendoGridHeaderTemplate *ngIf="selectableSettings.mode == 'multiple'">
                        <input class="k-checkbox" id="selectAllCheckboxId" kendoGridSelectAllCheckbox
                            [state]="selectAllState" (selectAllChange)="onSelectAllChange($event)">
                        <label class="k-checkbox-label" for="selectAllCheckboxId"></label>
                    </ng-template>
                </kendo-grid-checkbox-column>

                <kendo-grid-column *ngFor="let col of columnName" field="{{col.key}}" title="{{col.val}}" width="170">

                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="col.key == 'selectionChar'">
                        <span class="valueSpan" *ngIf="dataItem.selectionChar == ''">{{dataItem.selectiionNum}}</span>
                        <span class="valueSpan" *ngIf="dataItem.selectionChar != ''">{{dataItem.selectionChar}}</span>

                    </ng-template>
                </kendo-grid-column>


            </kendo-grid>
            <!-- </form> -->

        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12 text-right">
            <button type="button" (click)="getSelectedData()" class="btn btn-sm themeButton mr-2">OK</button>
            <button type="button" class="btn btn-sm themeButton" (click)="closeParameterWindow()">Cancel</button>

        </div>

    </div>

</kendo-window>