<kendo-window [(width)]="windowWidth" [(top)]="windowTop" [minWidth]="250" [minHeight]="350" title="Report Preview...."
  *ngIf="openReports" (close)="closeReportingWindow()">

  <div class="row reportingDiv" *ngIf="reports">

    <div class="col-md-12 repotingHeading">
      <span>{{reportingType}}</span>
      <span class="pull-right" *ngIf="reports.columns?.length > 0">{{ reports?.rows?.length || 0 }} rows</span>
    </div>


    <div class="table-responsive mt-1" *ngIf="reports?.rows?.length > 0">
      <table class="table table-striped table-bordered reportingTable">
        <tbody>
         <tr>
            <td *ngFor="let report of reports.columns">{{report.columnName}}</td>
          </tr>
          <tr *ngFor="let row of reports.rows" (click)="toggleGroupClass($event, row)">
            <td *ngFor="let value of row.values">{{ value }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-xl-12 p-0 mt-2" *ngIf="reports.columns?.length > 0">
      <div class="cui-example-paragraph-spacing reportingPrevBtnDiv">

        <span class="reportingPrevBtn">

          <div class="btn-group" *ngIf="reporterPortalPermission.indexOf('Preview Rows') != -1  || worksOrderReports">
            <button [disabled]="reports?.rows?.length == 0" type="button"
              class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" data-trigger="hover"
              aria-expanded="false">Preview</button>
            <div class="dropdown-menu" x-placement="top-start"
              style="position: absolute; will-change: top, left; top: -175px; min-width: 7rem;">
              <a class="dropdown-item" href="javascript:void(0)" (click)="reportingPreview(100)">100</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="reportingPreview(1000)">1000</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="reportingPreview(5000)">5000</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="reportingPreview(10000)">10000</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="reportingPreview(20000)">20000</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="reportingPreview(30000)">30000</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="reportingPreview(40000)">40000</a>
            </div>
          </div>



            <button *ngIf="reporterPortalPermission.indexOf('Save Preview') != -1  || worksOrderReports" [disabled]="reports?.rows?.length == 0" type="button"
            class="btn btn-sm btn-outline-secondary" (click)="savePreview()">Save Preview</button>

          <div class="btn-group" *ngIf="reporterPortalPermission.indexOf('Email Preview') != -1  || worksOrderReports">
            <button [disabled]="reports?.rows?.length == 0" type="button"
              class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" data-trigger="hover"
              aria-expanded="false">Email Preview</button>
            <div class="dropdown-menu" x-placement="top-start"
              style="position: absolute; will-change: top, left; top: -175px; left: 0px; font-size: 13px;">
              <a class="dropdown-item" (click)="openEmailWindow()" href="javascript:void(0)">Selected Rows</a>
              <a class="dropdown-item" (click)="opneEmailAllRecords()" href="javascript:void(0)">Grid</a>

            </div>
          </div>



          <button *ngIf="reporterPortalPermission.indexOf('Run Report') != -1  || worksOrderReports" [disabled]="reports?.rows?.length == 0" type="button" class="btn btn-sm btn-outline-secondary"
            (click)="runReport()">Run Report</button>
          <button *ngIf="reporterPortalPermission.indexOf('Email Report') != -1  || worksOrderReports" [disabled]="reports?.rows?.length == 0" type="button" (click)="openEmailWithReportWindow()"
            class="btn btn-sm btn-outline-secondary">Email Report</button>
          <span class="" style="margin-left:10px;">
            <label class="custom-control custom-control-inline custom-radio">
              <input [disabled]="reports?.rows?.length == 0" (change)="onRadioBtnSelectionChange('CSV')"
                name="reportFormat" type="radio" class="custom-control-input">
              <span class="custom-control-label">Csv</span>
            </label>
            <label class="custom-control custom-control-inline custom-radio">
              <input checked [disabled]="reports?.rows?.length == 0" (change)="onRadioBtnSelectionChange('EXCEL')"
                name="reportFormat" type="radio" class="custom-control-input">
              <span class="custom-control-label">Excel</span>
            </label>
            <label class="custom-control custom-control-inline custom-checkbox">
              <input #dataCheckBox checked [disabled]="reports?.rows?.length == 0 || reportDataType" type="checkbox"
                class="custom-control-input" name="dataReport">
              <span class="custom-control-label">Data</span>
            </label>
            <label class="custom-control custom-control-inline custom-checkbox">
              <input #pivotCheckBox [disabled]="reports?.rows?.length == 0 || reportDataType" type="checkbox"
                class="custom-control-input" name="pivotReport">
              <span class="custom-control-label">Pivot</span>
            </label>
          </span>
        </span>
      </div>
    </div>

  </div>
  <div class="reportBgblur"></div>



<kendo-window [(width)]="emailWindowWidth" [(top)]="emailPreviewWindowTop" [minWidth]="250" [minHeight]="350"
    title="Send Email including data" [height]="auto" *ngIf="emailWindow" (close)="closeEmailWindow()">
  <div class="row sendEmailDiv">
    <div class="container pl-0">
      <form (ngSubmit)="emailPreview.form.valid &&  onSubmit()" #emailPreview="ngForm">
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">To</label>
          <div class="col-sm-10">

              <ng-multiselect-dropdown [placeholder]="'Select Users'" [data]="userListToMail"
                [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)" name="users" (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onItemDeSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">Subject</label>
          <div class="col-sm-10">
            <input name="subject" [(ngModel)]="emailPreviewForm.subject" #subject="ngModel" type="text"
                class="form-control" placeholder="Subject" required
                [ngClass]="{ 'is-invalid': subject.invalid && emailPreview.submitted }">
              <div *ngIf="subject.invalid && emailPreview.submitted"  class="invalid-f">
                An Email Subject is required.
              </div>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">Top Text</label>
          <div class="col-sm-10">
            <textarea name="topText" #topText="ngModel" [(ngModel)]="emailPreviewForm.topText" class="form-control"
              placeholder="Top Text"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">Data</label>
          <div class="col-sm-10 htmlData">
            <div class="dataDiv">
              <p>From: {{currentUser?.userName  }}</p>
                <p>Report: {{ reportingType }}</p>
                <p>Parameters: {{ formattedParameters}}</p>
              <p>Rows: {{emailReportsLists.rows?.length}}</p>
            </div>
            <div class="table-responsive emailPreviewTable">
              <table class="">
<!--                 <thead style="display: block;">
                  <tr>
                    <th
                      style="text-align: left; min-width: 150px!important; width: 150px!important;  border: 1px solid #ddd; padding: 4px;"
                      *ngFor="let emailReportsList of emailReportsLists.columns">
                      {{emailReportsList.columnName}}</th>
                  </tr>
                </thead> -->
                <tbody style="display: block; overflow-y: auto; overflow-x: hidden; max-height: 114px;">
                  <tr>
                    <td
                      style="text-align: left; min-width: 150px!important; width: 150px!important;  border: 1px solid #ddd; padding: 4px;"
                      *ngFor="let emailReportsList of emailReportsLists.columns">
                      {{emailReportsList.columnName}}</td>
                  </tr>


                  <tr *ngFor="let row of emailReportsLists.rows">
                    <td style="min-width: 150px!important; width: 150px!important; border: 1px solid #ddd; padding: 4px;"
                      *ngFor="let value of row.values">{{ value }}</td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">Bottom Text</label>
          <div class="col-sm-10">
            <textarea name="bottomText" #bottomText="ngModel" [(ngModel)]="emailPreviewForm.bottomText"
              class="form-control" placeholder="Bottom Text"></textarea>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-sm-10 ml-sm-auto reportingPrevBtn text-right">

            <button type="submit" (click)="closeEmailWindow()" class="btn btn-sm">Cancel</button>
              <button type="submit" class="btn btn-sm btn-default themeButton">Ok</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</kendo-window>


<kendo-window [(width)]="emailWindowWidth" [(top)]="emailReportWindowTop" [minWidth]="250" [minHeight]="410"
    title="Send Email with report" [height]="auto" *ngIf="emailWithReportWindow" (close)="closeEmailWithReportWindow()">
  <div class="row sendEmailWithReportDiv">

    <div class="container pl-0">
      <form [formGroup]="emailReportForm" (ngSubmit)="onEmailReportSubmit()">
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">To</label>
          <div class="col-sm-10 emailReport">
              <ng-multiselect-dropdown [placeholder]="'Select Users'" [data]="userListToMail"
                [(ngModel)]="selectedItems" formControlName="userlist" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)" name="users"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onItemDeSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">Subject</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Subject" formControlName="subject"
              [ngClass]="{ 'is-invalid': submitted && formErrors.subject }">

            <div *ngIf="submitted && formErrors.subject" class="invalid-feedback">
              <div *ngIf="formErrors.subject">{{ formErrors.subject }}</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">Email Text</label>
          <div class="col-sm-10">
            <textarea class="form-control" placeholder="Email Text" formControlName="emailText"
              [ngClass]="{ 'is-invalid': submitted && formErrors.emailText }"></textarea>
            <div *ngIf="submitted && formErrors.emailText" class="invalid-feedback">
              <div *ngIf="formErrors.emailText">{{ formErrors.emailText }}</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 ml-sm-auto reportingPrevBtn text-right">
            <button type="button" (click)="closeEmailWithReportWindow()" class="btn btn-sm">Cancel</button>
            <button type="submit" class="btn btn-sm btn-default themeButton">Ok</button>

          </div>
        </div>
      </form>
    </div>
  </div>

  </kendo-window>


</kendo-window>
