.form-check-label {
    margin-top: 3px !important;
    margin-left: 5px !important;
}


.incChek{
    position: absolute;
    margin-left: 270px;
    margin-top: 2px
}

.incChek input[type='checkbox']{
    margin-top: 5px;
    float: left;
}

.selectionDiv{
    float: left;
}

.searchBox input{
    width: 35%;
    display: inline-block;
}


#selectAllCheckboxId{
    display: none;
}

.form-check {
    padding-top: 7px;
}