<kendo-window title="{{title}}" *ngIf="openSetUserCategory" (close)="closeUserCategories()" [top]="20" [minWidth]="500"
    [width]="700" [height]="auto" [minHeight]="350">

    <div class="row" *ngIf="manageUsrCategory">
        <div class="col-md-12">
            <div class="windowHeading"> <span>{{ templateHeading }}</span> </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6 text-left" *ngIf="manageUsrCategory">
            <input value="false" type="checkbox" class="k-checkbox" (change)="filterReportCategory($event)">&nbsp;
            Included Only
        </div>
        <div class="text-right" [ngClass]="{'col-md-6': manageUsrCategory, 'col-md-12': !manageUsrCategory }">
            <button *ngIf="reporterPortalPermission.indexOf('Rename Category') != -1" type="button"
                class="btn btn-sm themeButton mr-1" (click)="createNewUserCategory('edit')"
                [disabled]="!selectedUserCategory">Rename</button>
            <button *ngIf="reporterPortalPermission.indexOf('New Category') != -1" type="button"
                class="btn btn-sm themeButton mr-1" (click)="createNewUserCategory()">New</button>
            <button *ngIf="reporterPortalPermission.indexOf('Delete Category') != -1" type="button"
                class="btn btn-sm themeButton" (click)="openConfirmationDialog()"
                [disabled]="!selectedUserCategory">Delete</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <kendo-grid [data]="gridView" [loading]="loading" [height]="600" filterable="menu" [resizable]="true"
                [sortable]="{
                allowUnsort: allowUnsort,
                mode: multiple ? 'multiple' : 'single'
                }" [skip]="state.skip" [sort]="state.sort" [selectable]="selectableSettings" [filter]="state.filter"
                (sortChange)="sortChange($event)" (filterChange)="filterChange($event)"
                (cellClick)="cellClickHandler($event)" [navigable]="true">

                <kendo-grid-column title=" " width="12" [filterable]="false" *ngIf="manageUsrCategory">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <input [checked]="reportsUserCategory.includes(dataItem.name)" value="{{dataItem.name}}"
                            type="checkbox" id="chkboxonly" class="k-checkbox" (change)="saveUserCategory(dataItem)">
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="name" title="Name" width="150">
                </kendo-grid-column>

            </kendo-grid>
        </div>
    </div>

    <!-- <div class="row mt-2">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-sm themeButton" (click)="closeUserCategories()">Cancel</button>
        </div>
    </div> -->

    <div class="userCatOvrlay"></div>
    <!-- <app-manage-user-category *ngIf="openManageUserCategory" [openManageUserCategory]="openManageUserCategory"
        [selectedUserCategory]="selectedUserCategory" [selectedReport]="selectedReport"
        (closeManageUserCategoryWindow)="closeManageUserCategoryWindow($event)"></app-manage-user-category> -->

    <app-create-user-category *ngIf="openCreateUserCategory" [openCreateUserCategory]="openCreateUserCategory"
        [selectedUserCategory]="selectedUserCategory" [mode]="mode"
        (closeCreateUserCategoryWindow)="closeCreateUserCategoryWindow($event)"
        (refresSetCategoryWindow)="refresSetCategoryWindow($event)"> </app-create-user-category>
</kendo-window>