.headerRow12 {
      margin-bottom: 10px;
}

.k-window {
      position: fixed !important;
}

.k-grid tbody td {
      white-space: nowrap;
      line-height: 20px;
      padding: 8px 12px;
}

.lbl {
      margin-top: 12px;
}

app-wo-pm-instruction-assets .griddRow {
      height: calc(100% - 170px);
}

app-wo-pm-instruction-assets .griddRow .gridCol {
      height: calc(100% - 25px);
}

app-wo-pm-instruction-assets .griddRow .gridCol #instGrid {
      height: 100%;
}