<kendo-window title="{{title}}" [top]="10" [minWidth]="700"
  [width]="1050" [minHeight]="350" (close)="closeInstructionAssetsWindow()" >

  <div class="row headerArea">
    <div class="col-md-12 headerRow12">

      <div class="row">
        <div class="col-md-2">
          <label for="">Programme: </label>
        </div>
        <div class="col-md-10">
          <input [readonly]="true" type="text" class="form-control" placeholder=""
            value="{{ programmeData.wprname }}">
        </div>
      </div>


      <div class="row">
        <div class="col-md-2">
          <label for="">Works Order: </label>
        </div>
        <div class="col-md-10">
          <input [readonly]="true" type="text" class="form-control" placeholder=""
            value="{{ worksOrderData.woname }}">
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label for="">Phase: </label>
        </div>
        <div class="col-md-10">
          <input [readonly]="true" type="text" class="form-control" placeholder=""
            value="{{ selectedInstructionRow.wopname }}">
        </div>
      </div>


    </div>









  </div>




  <div class="row mt-2">
    <div class="col-md-12">


      <kendo-grid [kendoGridGroupBinding]="gridData" [data]="gridView" [height]="570" [selectable]="{
                    mode: 'single'
                  }" filterable="menu" [resizable]="true" [sortable]="{
                    allowUnsort: true,
                    mode: 'multiple'
                    }" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
        (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
        [navigable]="false">

        <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
              <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars" ></i>
              <div class="dropdown-menu">
                <a (click)="openShowInstAssetsDetail(dataItem)" class="dropdown-item" href="javascript:void(0)" >Show Details</a>


              </div>
            </li>

          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="assid" title="Asset Id" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="address" title="Address" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="woiaissuestatus" title="Status" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="woiaissueuser" title="Requested By" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="woiaissuedate" title="Requested On" [width]="140" [filterable]="false" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span  >
                    {{ dataItem.woiaissuedate | dateFormat : 'DD-MMM-YYYY' }}
                </span>
              </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woiafeecost" title="Fee" [width]="140" [filterable]="false" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span  >
                  {{ dataItem.woiafeecost }}
                </span>
              </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="woiaworkcost" title="Work" [width]="140" [filterable]="false" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span  >
                  {{ dataItem.woiaworkcost }}
                </span>
              </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woiaacceptuser" title="Accepted By" [width]="140" [filterable]="false" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span  >
                  {{ dataItem.woiaacceptuser }}
                </span>
              </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="woiaacceptdate" title="Accepted On" [width]="140" [filterable]="false" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span  >
                    {{ dataItem.woiaacceptdate | dateFormat : 'DD-MMM-YYYY' }}
                </span>
              </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="woassstatus" title="Wo Status" width="100">
        </kendo-grid-column>


      </kendo-grid>




    </div>
  </div>






  <div class="woassetdetailoverlay"></div>
</kendo-window>


<app-wo-pm-instruction-assets-detail *ngIf="instructionAssetsDetailWindow" [instructionAssetsDetailWindow]="instructionAssetsDetailWindow"
[selectedInstructionRow]="selectedInstructionRow" [programmeData]="programmeData" [selectedInstructionAssetRow]="selectedInstructionAssetRow" [worksOrderData]="worksOrderData" (instructionAssetsDetailEvent)="closeInstructionAssetsDetailWindow($event)">
</app-wo-pm-instruction-assets-detail>
