.k-window {
    position: fixed !important;
}

.taskDetailsDiv {
    font-size: 16px;
    margin-top: -14px;
}

.heading, .taskDetailsDiv label {
    font-weight: 600;
}

.headingDiv {
    background-color: #dbdbdb;
    padding: 3px;
}

.statusDiv, .lblDiv {
    display: block;
}

.leftdiv, .middlediv, .rightdiv {
    display: inline-block !important;
}

.innerLeft, .innerRight {
    display: inherit;
}

.leftdiv {
    width: 43%;
}

.middlediv {
    width: 55%;
}

.innerLeft {
    width: 60%;
}

.heading2 {
    font-size: 18px;
    font-weight: 600;
}

.mediumColor {
  color: #ff9900 !important;
}

.highColor {
  color: #ed1313 !important;
}

.lowColor {
  color: #4ba818 !important;
}
