<kendo-window title="{{title}}" [top]="10" [minWidth]="700" [width]="1050" [minHeight]="350"
  (close)="closeProgrammeLogWindow()" *ngIf="ProgrammeLogWindow">

  <div class="row headerArea">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-2">
          <label class="col-form-label">Programme: </label>
        </div>
        <div class="col-md-10">
          <input [readonly]="true" type="text" class="form-control" value="{{ programmeData?.wprname }}">
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-1" *ngIf="openedFrom == 'assetchecklist'">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <label class="col-form-label">Works Order: </label>
            </div>
            <div class="col-md-8">
              <input [readonly]="true" type="text" class="form-control" value="{{ workOrderName() }}">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <label class="col-form-label">Phase: </label>
            </div>
            <div class="col-md-10">
              <input [readonly]="true" type="text" class="form-control" value="{{ phaseData?.wopname }}">
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-1">
        <div class="col-md-2">
          <label class="col-form-label">Asset: </label>
        </div>
        <div class="col-md-2">
          <input [readonly]="true" type="text" class="form-control" value="{{ singleWorkOrderAssetInp?.assid }}">
        </div>

        <div class="col-md-6">
          <input [readonly]="true" type="text" class="form-control" value="{{ singleWorkOrderAssetInp?.woname }}">
        </div>

        <div class="col-md-2 text-right">
          <div class="dropdown mr-1 reportBtnArea mt-2" id="nesting-dropdown-demo">
            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false">Report</button>
            <div class="dropdown-menu" x-placement="bottom-start"
              style="position: absolute; will-change: top, left; top: 38px; left: 0px;">

              <a class="dropdown-item" href="javascript:void(0)" (click)="programmeLog(1)">Summary
                by Date</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="programmeLog(2)">Summary by Order/Phase and
                Date</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="programmeLog(3)">Detail
                by Date</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="programmeLog(4)">Detail by
                Order/Phase and Date</a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-1" *ngIf="openedFrom == 'workorder'">
      <div class="row">
        <div class="col-md-2">
          <label class="col-form-label">Works Order: </label>
        </div>
        <div class="col-md-8">
          <input [readonly]="true" type="text" class="form-control" value="{{ workOrderName() }}">
        </div>

        <div class="col-md-2 text-right">
          <div class="dropdown mr-1 reportBtnArea mt-2" id="nesting-dropdown-demo">
            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false">Report</button>
            <div class="dropdown-menu" x-placement="bottom-start"
              style="position: absolute; will-change: top, left; top: 38px; left: 0px;">

              <a class="dropdown-item" href="javascript:void(0)" (click)="programmeLog(1)">Summary
                by Date</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="programmeLog(2)">Summary by Order/Phase and
                Date</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="programmeLog(3)">Detail
                by Date</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="programmeLog(4)">Detail by
                Order/Phase and Date</a>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


  <div class="row mt-3">
    <div class="col-md-12">

      <kendo-grid #grid [data]="gridView" [height]="600" [selectable]="selectableSettings" filterable="menu"
        [resizable]="true" [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" [skip]="state.skip" [loading]="gridLoading" [pageSize]="pageSize" [rowHeight]="36"
        (pageChange)="pageChange($event)" scrollable="virtual" [sort]="state.sort" [filter]="state.filter"
        (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
        [navigable]="false">


        <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
              <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>
              <div class="dropdown-menu">
                <a (click)="openProgramLogTransactionsWindow(dataItem)" class="dropdown-item"
                  href="javascript:void(0)">View Programme Transaction</a>
              </div>
            </li>
          </ng-template>
        </kendo-grid-column>

        <!-- Programme log fields for Work order start-->
        <kendo-grid-column field="woname" title="Work Order" width="170" *ngIf="openedFrom == 'workorder'">
        </kendo-grid-column>
        <kendo-grid-column field="wopname" title="Phase" width="120" *ngIf="openedFrom == 'workorder'">
        </kendo-grid-column>
        <kendo-grid-column field="woiaissuedate" title="Date" [width]="140" [filterable]="false" [sortable]="false"
          *ngIf="openedFrom == 'workorder'">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpldatetime | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="m_USERNAME" title="User" width="100" *ngIf="openedFrom == 'workorder'">
        </kendo-grid-column>
        <kendo-grid-column field="wpltransactiontype" title="Transaction Type" width="140"
          *ngIf="openedFrom == 'workorder'">
        </kendo-grid-column>
        <kendo-grid-column field="wplerrorstatus" title="Status" width="100" *ngIf="openedFrom == 'workorder'">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wplerrorstatus == 'S' ? 'Success' : dataItem.wplerrorstatus }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wplsummarymessage" title="Summary" width="200" *ngIf="openedFrom == 'workorder'">
        </kendo-grid-column>
        <!-- Programme log fields for Work order end -->


        <!-- Programme log fields for Asset checklist start -->
        <kendo-grid-column field="wpltransactiontype" title="Transaction Type" width="180"
          *ngIf="openedFrom == 'assetchecklist'">
        </kendo-grid-column>
        <kendo-grid-column field="wpldtransdatetime" title="Date" [width]="140" [filterable]="false" [sortable]="false"
          *ngIf="openedFrom == 'assetchecklist'">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpldtransdatetime | dateFormat : 'DD-MMM-YYYY' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="m_USERNAME" title="User" width="100" *ngIf="openedFrom == 'assetchecklist'">
        </kendo-grid-column>
        <kendo-grid-column field="wpldstatus" title="Status" width="100" *ngIf="openedFrom == 'assetchecklist'">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpldstatus == 'S' ? 'Success' : dataItem.wpldstatus }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="wpldmessage" title="Message" width="200" *ngIf="openedFrom == 'assetchecklist'">
        </kendo-grid-column>
        <kendo-grid-column field="wpldfinancialvalue" title="Value" width="90" *ngIf="openedFrom == 'assetchecklist'"
          [style]="{'text-align': 'right'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>
              {{ dataItem.wpldfinancialvalue | currency:'GBP':'symbol' }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <!-- Programme log fields for Asset checklist ends -->

        <!-- Common fields start -->
        <kendo-grid-column field="wplinsertedcount" title="Inserted" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="wplupdatedcount" title="Updated" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="wplerrorcount" title="Errors" width="100">
        </kendo-grid-column>
        <!-- Common fields end -->

      </kendo-grid>

    </div>

    <div class="col-md-12 mt-2 text-right">
      <button type="button" class="btn btn-sm themeButton" (click)="closeProgrammeLogWindow()">Cancel</button>
    </div>

  </div>


  <div class="woaProgramLogoverlay"></div>

</kendo-window>

<app-programme-transactions *ngIf="ProgrammeTransactionWindow" [ProgrammeTransactionWindow]="ProgrammeTransactionWindow"
  [singleWorkOrderInp]="singleWorkOrderInp" [programmeData]="programmeData" [phaseData]="phaseData"
  [openedFrom]="openedFrom" [programLogInp]="selectedItem"
  (ProgramTransactionsWindowEvent)="closeProgramLogTransactionsWindow($event)">
</app-programme-transactions>