<kendo-window title="{{title}}" [top]="10" [minWidth]="700"
  [width]="1050" [minHeight]="350" (close)="closeProgrammeLogWindow()" >

  <div class="row headerArea">
    <div class="col-md-12 headerRow12">

      <div class="row">
        <div class="col-md-2">
          <label for="">Programme: </label>
        </div>
        <div class="col-md-10">
          <input [readonly]="true" type="text" class="form-control" placeholder=""
              value="{{ programmeData.wprname }}">
        </div>
      </div>
  </div>
  <div class="col-md-12 headerRow12">

      <div class="row">
        <div class="col-md-2">
          <label for="">Works Order: </label>
        </div>
        <div class="col-md-10">
          <input [readonly]="true" type="text" class="form-control" placeholder=""
              value="{{ worksOrderData.woname }}">
        </div>
      </div>
  </div>







  </div>




  <div class="row mt-2">
    <div class="col-md-12">


    



      <kendo-grid [kendoGridGroupBinding]="gridData" [data]="gridView" [height]="570" [selectable]="{
                    mode: 'single'
                  }" filterable="menu" [resizable]="true" [sortable]="{
                    allowUnsort: true,
                    mode: 'multiple'
                    }" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
        (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
        [navigable]="false">

        <kendo-grid-column title=" " width="37" [filterable]="false" [sortable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
              <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars" ></i>
              <div class="dropdown-menu">
                <a (click)="openProgramLogTransactionsWindow(dataItem)" class="dropdown-item" href="javascript:void(0)" >View Programme Transaction</a>


                <div class="dropdown-toggle" >
                  <div class="dropdown-item">Log Report</div>
                  <div class="dropdown-menu addAssetMenu">
                    <a  (click)="summary_by_date_report(dataItem)" class="dropdown-item"
                      href="javascript:void(0)">
                      Summary by Date</a>
                    <a (click)="summary_by_order_phase_date_report(dataItem)"  class="dropdown-item"
                    href="javascript:void(0)">Summary by Order/Phase and Date</a>


                    <a (click)="detail_by_date_report(dataItem)"  class="dropdown-item"
                    href="javascript:void(0)">Detail by Date</a>

                    <a (click)="detail_by_order_phase_date_report(dataItem)"  class="dropdown-item"
                    href="javascript:void(0)">Detail by Order/Phase and Date</a>

                  </div>
                </div>


              </div>






            </li>

          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="woname" title="Work Order" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="wopname" title="Phase" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="woiaissuedate" title="Date" [width]="140" [filterable]="false" [sortable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span  >
                    {{ dataItem.wpldatetime | dateFormat : 'DD-MMM-YYYY' }}
                </span>
              </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="wpluserid" title="User" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="wpltransactiontype" title="Transaction Type" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="wplerrorstatus" title="Status" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="wplsummarymessage" title="Summary" width="100">
        </kendo-grid-column>


        <kendo-grid-column field="wplinsertedcount" title="Inserted" width="100">
        </kendo-grid-column>

        <kendo-grid-column field="wplupdatedcount" title="Updated" width="100">
        </kendo-grid-column>


        <kendo-grid-column field="wplerrorcount" title="Errors" width="100">
        </kendo-grid-column>






      </kendo-grid>




    </div>
  </div>






  <div class="woaProgramLogoverlay"></div>


  <kendo-window title="{{ ReportHeaderTitle }}" *ngIf="ProgrammLogReportWindow" (close)="closeProgrammLogReportWindow()" [top]="35"
      [minWidth]="400" [height]="auto" [minHeight]="200">

      <div class="row">
        <div class="col-md-12">


          <kendo-grid [kendoGridGroupBinding]="ReportGridData" [data]="ReportgridView" [height]="570" [selectable]="{
                        mode: 'single'
                      }" filterable="menu" [resizable]="true" [sortable]="{
                        allowUnsort: true,
                        mode: 'multiple'
                        }" [skip]="report_state.skip" [sort]="report_state.sort" [filter]="report_state.filter"
            (sortChange)="report_sortChange($event)" (filterChange)="report_filterChange($event)"
            [navigable]="false">




            <kendo-grid-column field="programme" title="Programme" width="100">
            </kendo-grid-column>

            <kendo-grid-column field="contract_Code" title="Contract Code" width="100">
            </kendo-grid-column>

            <kendo-grid-column field="contractor" title="Contractor" width="100">
            </kendo-grid-column>

            <kendo-grid-column field="works_Order" title="Work Order" width="100">
            </kendo-grid-column>

            <kendo-grid-column field="order_Status" title="Order Status" width="100">
            </kendo-grid-column>

            <kendo-grid-column field="phase_Name" title="Phase" width="100">
            </kendo-grid-column>








            <kendo-grid-column field="log_DateTime" title="Log Date Time" [width]="140" [filterable]="false" [sortable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span  >
                        {{ dataItem.log_DateTime | dateFormat : 'DD-MMM-YYYY' }}
                    </span>
                  </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="user_Name" title="User Name" width="100">
            </kendo-grid-column>


            <kendo-grid-column field="transaction_Type" title="Transaction Type" width="100">
            </kendo-grid-column>


            <kendo-grid-column field="log_Status" title="Log Status" width="100">
            </kendo-grid-column>



            <kendo-grid-column field="log_Summary" title="Log Summary" width="100">
            </kendo-grid-column>




            <kendo-grid-column field="insert_Count" title="Insert Count" width="100">
            </kendo-grid-column>



            <kendo-grid-column field="update_Count" title="Update Count" width="100">
            </kendo-grid-column>

            <kendo-grid-column field="error_Count" title="Error Count" width="100">
            </kendo-grid-column>



          </kendo-grid>




        </div>

      </div>

  </kendo-window>



</kendo-window>

<app-programme-transactions *ngIf="ProgrammeTransactionWindow" [ProgrammeTransactionWindow]="ProgrammeTransactionWindow"
  [worksOrderData]="worksOrderData" [programmeData]="programmeData"  [programLog]="selectedItem"  (ProgramTransactionsWindowEvent)="closeProgramLogTransactionsWindow($event)">
</app-programme-transactions>
