<div class="container-fluid flex-grow-1 container-p-y">

  <div class="row">
    <div class="col-md-8 col-sm-8">
      <h4 class="font-weight-bold py-3 mb-1">
        <span class="text-muted font-weight-light">Security /</span> Users
      </h4>
    </div>
    <div class="col-md-4 col-sm-4 actionBtn">

      <div class="btn-group pull-right mt-3">
        <button id="showFilePanel" (click)="openSearchBar()" class="btn btn-sm themeButton"><i class="fa fa-search"></i>
        </button>
        <button (click)="exportData()" class="btn btn-sm btn-outline-secondary themeButton ml-1">Export</button>
        <button (click)="openUserPopup('new')" class="btn btn-sm btn-outline-secondary themeButton ml-1">New</button>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <kendo-grid id="userGrid" #grid="kendoGrid" [data]="gridView" [pageSize]="pageSize" [rowHeight]="36"
        (pageChange)="pageChange($event)" scrollable="virtual" [loading]="loading" filterable="menu" [resizable]="true"
        [sortable]="{
      allowUnsort: true,
      mode: 'single'
      }" [skip]="state.skip" [sort]="state.sort" [selectable]="selectableSettings" [filter]="state.filter"
        (sortChange)="sortChange($event)" (filterChange)="filterChange($event)" (cellClick)="cellClickHandler($event)"
        [navigable]="false" [virtualColumns]="false" [kendoGridSelectBy]="mySelectionKey" [selectedKeys]="mySelection"
        [height]="gridHeight">

        <kendo-grid-column title=" " width="35" [filterable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            <li class="nav-item dropdown list-unstyled" style="margin-top: -7px;">
              <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="openUserPopup('edit', dataItem)" href="javascript:void(0)">Edit</a>
                <a class="dropdown-item" (click)="openConfirmationDialog(dataItem)" href="javascript:void(0)">Delete</a>
               <a class="dropdown-item" (click)="opneUserGroup(dataItem)" href="javascript:void(0)">Assign Group</a>

              </div>
            </li>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="userId" title="User" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="userName" title="Name" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="email" title="Email" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="status" title="Status" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="logAllowed" title="Login Allowed" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="admin" title="Admin" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="loginType" title="Login Type" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="userType" title="User Type" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="deaEnabled" title="DEA Enabled" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="contractor" title="Contractor Name" width="200">
        </kendo-grid-column>

      </kendo-grid>
    </div>
  </div>


</div>


<div class="userlistOverlay"></div>

<app-user-form [userFormType]="userFormType" [userFormWindow]="userFormWindow" [selectedUser]="selectedUser"
*ngIf="userFormWindow" (closeUserFormWin)="closeUserFormWin($event)">
</app-user-form>

<app-assign-group *ngIf="openUserAssignGroup" [openUserAssignGroup]="openUserAssignGroup" [selectedUser]="selectedUser" (closeAssignGroupEvent)="closeAssignGroupEvent($event)" (refreshUserSecurityGrid)="refreshUserSecurityGrid($event)"></app-assign-group>





<div class="search-container dismiss">
  <h5 style="color:white" class="p-4 m-0 line-height-1 font-weight-bolder bg-light theme-settings-header"> Filters
    <a href="javascript:void(0)" (click)="closeSearchBar()" class="theme-settings-close-btn font-weight-light px-4 py-2"
      style="color:#ffffff;" tabindex="-1">×</a>
  </h5>

  <div class="searchDiv">
    <form id="userSearch">
      <div class="form-group">
        <label class="form-label form-label-sm">User</label>
        <input (input)="searchInUserTable($event, 'userId')" type="text"
          class="form-control form-control-sm" placeholder="Search By User">
      </div>


      <div class="form-group">
        <label class="form-label form-label-sm">Name</label>
        <input (input)="searchInUserTable($event, 'userName')" name="name" type="text"
          class="form-control form-control-sm" placeholder="Search By Name">
      </div>

      <div class="form-group">
        <label class="form-label form-label-sm">Email</label>
        <input (input)="searchInUserTable($event, 'email')" name="email" type="text"
          class="form-control form-control-sm" placeholder="Search By Email">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label form-label-sm">Status</label>
          <select class="form-control form-control-sm" name="status"
            (change)="searchInUserTable($event, 'status')">
            <option value="">All</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>

        </div>

        <div class="form-group col-md-6">
          <label class="form-label form-label-sm">Login Allowed?</label>
          <select class="form-control form-control-sm" name="logAllowed"
            (change)="searchInUserTable($event, 'logAllowed')">
            <option value="">All</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Change Password">Change Password</option>
          </select>

        </div>
      </div>


      <div class="form-group">
        <label class="form-label form-label-sm">Admin</label>
        <select class="form-control form-control-sm" name="admin"
          (change)="searchInUserTable($event, 'admin')">
          <option value="">All</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>

      </div>

      <div class="form-group">
        <label class="form-label form-label-sm">Login Type</label>
     
        <select class="form-control form-control-sm" (change)="searchInUserTable($event, 'loginType')">
          <option value="">All</option>
          <option value="Standard">Standard</option>
          <option value="Active Directory">Active Directory</option>
        </select>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label form-label-sm">User Type</label>
          <select class="form-control form-control-sm" (change)="searchInUserTable($event, 'userType')">
            <option value="">All</option>
            <option value="Internal">Internal</option>
            <option value="External">External</option>
          </select>

        </div>

        <div class="form-group col-md-6">
          <label class="form-label form-label-sm">DEA Enabled</label>
          <select class="form-control form-control-sm" (change)="searchInUserTable($event, 'deaEnabled')">
            <option value="">All</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>

        </div>
      </div>

      <div class="form-group">
        <label class="form-label form-label-sm">Contractor Name</label>
        <input (input)="searchInUserTable($event, 'contractor')" type="text" class="form-control form-control-sm"
          placeholder="Search By Contractor">
      </div>


      <div class="form-group">
        <button id="" (click)="clearUserSearchForm()" class="btn btn-sm themeButton">Clear
        </button>
      </div>
    </form>

  </div>
</div>