.user_sec_grp{
    width: 830px;
    /* height: 583px; */
}

.k-window {
  position: fixed !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

.container-fluid{padding-bottom: 1px !important;}

.userTbl th, .userTbl td {  white-space: nowrap;}

.userTbl table.dataTable {  width: max-content!important;}

.innerTable1 td, .innerTable1 th {
  /* white-space: nowrap!important; */
  max-width: 290px!important;
}




.table-responsive{overflow: hidden!important;}

.incChek {
  position: absolute;
  margin-left: 270px;
  margin-top: 2px
}

.incChek input[type='checkbox'] {
  margin-top: 5px;
  float: left;
}

.selectionDiv {
  float: left;
}

.actionBtn button {
  margin-left: 5px;
}

/* sidebar search css */

.search-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 245px;
  display: none;
  height: 100%;
  overflow: hidden;
  background: #070627;
  z-index: 999;
  /* transform: translateX(100%); */
  -webkit-transform: translateX(100%);
}

.selectedcs {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.dismiss {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

.searchDiv {
  padding: 7px;
  color: white;
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

@media screen and (max-width: 769px) {
  .search-container {
    position: absolute;
    /* overflow: scroll;
    height: 100% !important; */
  }
  .searchDiv {
    overflow: scroll;
    height: 51% !important;
  }
}

/* Ipad device  */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* .user_sec_grp{
    width: 600px;
    height: 600px;
    top: 10;
  } */
}