<kendo-window [title]="windowTitle"  *ngIf="editFormWindow" (close)="closeEditFormWin()"  [width]="650"  resizable="false" [top]="20">
  <div class="flex-grow-1 userFrm">
     <form [formGroup]="jobRoleForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="form-label">Role Type</label>
          <select class="custom-select" formControlName="jobRoleType" *ngIf="!disableRoleType"
            [ngClass]="{ 'is-invalid': submitted && formErrors.jobRoleType }">
            <option value="Customer">Customer</option>
            <option value="Contractor">Contractor</option>
            <option value="Dual Role">Dual Role</option>
          </select>
          <input type="text" class="form-control" formControlName="jobRoleType" *ngIf="disableRoleType"
           readonly>
          <div *ngIf="submitted && formErrors.jobRoleType" class="invalid-feedback">
            <div *ngIf="formErrors.jobRoleType">{{ formErrors.jobRoleType }}</div>
          </div>
        </div>
      </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label class="form-label">Job Role</label>
            <input type="text" class="form-control"   formControlName="jobRole" maxlength="50"
              [ngClass]="{ 'is-invalid': submitted && formErrors.jobRole }">
            <div *ngIf="submitted && formErrors.jobRole" class="invalid-feedback">
              <div *ngIf="formErrors.jobRole">{{ formErrors.jobRole }}</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">
            <label class="form-label">Security Group</label>
            <select class="custom-select" formControlName="securityGroup"
              [ngClass]="{ 'is-invalid': submitted && formErrors.securityGroup }">
              <option value=""></option>
              <option *ngFor="let secGroup of securityGroups" [value]="secGroup.groupID" >{{secGroup.groupName}}</option>
            </select>
            <div *ngIf="submitted && formErrors.securityGroup" class="invalid-feedback">
              <div *ngIf="formErrors.securityGroup">{{ formErrors.securityGroup }}</div>
            </div>
          </div>

          <div class="form-group col-md-4 text-right">
              <label class="form-label  mr-4 text-right">Default Role (Y/N)</label>
              <div class="mt-2">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" formControlName="defaultJobRole">
                  <span class="switcher-indicator">
                    <span class="switcher-yes"><span class="ion ion-md-checkmark"></span></span>
                    <span class="switcher-no"><span class="ion ion-md-close"></span></span>
                  </span>

                </label>

              </div>
           </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-5">

          </div>

          <div class="form-group col-md-7 text-right">
              <div class="red" *ngIf="submitted && formErrors.defaultJobRole != '' ">
                  {{formErrors.defaultJobRole}}
              </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="form-label">Variation Limit</label>
            <input class="form-control" appCurrencyMask maxDigits="9" type="text" formControlName="variationLimit"  >
          </div>

          <div class="form-group col-md-6">
            <label class="form-label">Issue Limit</label>
            <input class="form-control" appCurrencyMask maxDigits="9" type="text" formControlName="issueLimit"  >
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="form-label">Request Payment Limit</label>
            <input class="form-control" appCurrencyMask maxDigits="9" type="text"  formControlName="requestPaymentLimit"  >
          </div>

          <div class="form-group col-md-6">
            <label class="form-label">Authorise Payment Limit</label>
            <input class="form-control" appCurrencyMask maxDigits="9" type="text" formControlName="authPaymentLimit"  >
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="form-label">Request Fee Limit</label>
            <input class="form-control" appCurrencyMask maxDigits="9" type="text" formControlName="requestFeeLimit"  >
          </div>

          <div class="form-group col-md-6">
            <label class="form-label">Authorise Fee Limit</label>
            <input class="form-control" appCurrencyMask maxDigits="9" type="text"  formControlName="authFeeLimit"  >
          </div>
        </div>


      <div class="buttonDiv pull-right mt-2">
        <button type="button" (click)="closeEditFormWin()" class="btn btn-sm themeButton m-1">Cancel</button>
        <button type="submit"  class="btn btn-sm themeButton m-1">Ok</button>
      </div>
    </form>


  </div>
</kendo-window>
