<div class="container-fluid flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-md-2 col-sm-3">
      <h4 class="font-weight-bold py-3 mb-1">
        <!-- <span class="text-muted font-weight-light">Assets/</span> Assets -->
        Assets
      </h4>
    </div>



    <div class="col-md-9 col-sm-9">
      <div class="row mt-3 pull-right btnGrp">
        <div class="dropdown" id="nesting-dropdown-demo">
          <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
            aria-expanded="false">Export</button>
          <div class="dropdown-menu" x-placement="bottom-start"
            style="position: absolute; will-change: top, left; top: 38px; left: 0px;">
            <a class="dropdown-item" (click)="exportToExcel('xlsx')" href="javascript:void(0)">Export Grid</a>
            <a class="dropdown-item" (click)="exportToExcel('xlsx' , 'selected')" href="javascript:void(0)">Export
              Selected</a>

          </div>
        </div>

        <button id="showFilePanel" (click)="openSearchBar()" class="btn btn-sm themeButton"><i class="fa fa-search"></i>
        </button>

      </div>
    </div>

    <div class="col-md-1 col-sm-12"></div>

  </div>



  <div class="row mt-2 hiearchyDiv">
    <label class="col-sm-12 col-md-1">Hierarchy</label>
    <div class="col-sm-12 col-md-6 pl-0 hiearchyTree">
      <ul id="myUL">
        <ng-template #recursiveList let-printHiearchy>
          <li *ngFor="let item of printHiearchy">
            <span><span style="color:red;">({{ item?.assetName }})</span> {{ item?.assetId }} -
              {{ item?.address }}</span>
            <ul *ngIf="item.childLayers.length > 0">
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.childLayers }"></ng-container>
            </ul>
          </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: printHiearchy }"></ng-container>

      </ul>
    </div>

    <div class="hiearchyBtn col-md-2 p-0">
      <button type="button" (click)="openHiearchyWindow()" class="btn btn-sm">...</button>
      <button type="button" (click)="clearPropSec()" class="btn btn-sm">Clear</button>
    </div>

    <label class="col-sm-6 col-md-1 text-right assetTypeLabel">Asset Type:</label>
    <div class="col-md-2 col-sm-6 typeDiv">
      <select class="assetSelect" (change)="filterAssetType($event.target.value)">
        <option selected value="">All Types</option>
        <option *ngFor="let assetType of assetTypes" [value]="assetType">{{assetType}}</option>
      </select>
    </div>

    <!-- <div class="col-md-1 col-sm-6 exportDiv">
      <div class="dropdown" id="nesting-dropdown-demo">
        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
          aria-expanded="false">Export</button>
        <div class="dropdown-menu" x-placement="bottom-start"
          style="position: absolute; will-change: top, left; top: 38px; left: 0px;">
          <a class="dropdown-item" (click)="exportToExcel('xlsx')" href="javascript:void(0)">Export Excel</a>
          <a class="dropdown-item" (click)="exportToExcel('csv')" href="javascript:void(0)">Export Csv</a>
          <a class="dropdown-item" (click)="exportToExcel('txt')" href="javascript:void(0)">Export Text</a>
          <a class="dropdown-item" (click)="exportToExcel('html')" href="javascript:void(0)">Export Html</a>
        </div>
      </div>
    </div> -->
  </div>

  <div class="row">
    <label class="col-sm-12 col-md-1">Asset ID:</label>
    <input type="text" [(ngModel)]="assetFilterId" class="col-sm-12 col-md-2 assetInpBox"
      (keydown)="keyDownFunction($event)">

    <label class="col-sm-12 col-md addr_search">Address Search:</label>
    <input type="text" [(ngModel)]="assetFilterAddress" class="col-sm-12 col-md-6 assetInpBox"
      (keydown)="keyDownFunction($event)">
    <div class="col-sm-12 col-md-1 goBtnDiv">
      <button class="btn btn-sm" (click)="filterAssetGrid(false)">Search</button>
    </div>
  </div>


  <div class="row" style="margin-top:13px;">
    <!-- table-responsive -->
    <div class="assetGrid">
      <!-- [ngStyle]="{'width': getTableWidth()}" -->
      <table id="assetTbl" class="table table-striped table-bordered assetTbl"
        *ngIf="attributeLists.length > 0; else no_record">
        <thead class="fixedHeader">
          <tr>
            <!-- [ngStyle]="{'width': asbestosColumn ? '3%' : '2%' }" -->
            <th class="smallCol"></th>
            <!-- <th><i class="fab fa-adversal d-block"></i></th>
            <th><i class="fas fa-book d-block"></i></th>
            <th><i class="fas fa-h-square d-block"></i></th>
            <th><i class="fas fa-heartbeat d-block"></i></th>
            <th><i class="ion ion-md-hammer d-block"></i></th>
            <th><i class="fas fa-sticky-note d-block"></i></th> -->
            <th [ngClass]="{
              'midCol': asbestosColumn || serviceColumn || epcView,
              'midBigCol': !asbestosColumn && !serviceColumn && !epcView
            }" style="cursor: pointer;" (click)="orderBy('astname')">Type
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'astname' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'astname' && assetList.OrderType === 'Descending'"></i>
            </th>
            <th [ngClass]="{
              'midCol': asbestosColumn || serviceColumn || epcView,
              'midBigCol': !asbestosColumn && !serviceColumn && !epcView
            }" style="cursor: pointer;" (click)="orderBy('ASSID')">Asset ID
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'ASSID' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'ASSID' && assetList.OrderType === 'Descending'"></i>

            </th>
            <th [ngClass]="{
              'midAddressCol': asbestosColumn || serviceColumn || epcView,
              'addressCol': !asbestosColumn && !serviceColumn && !epcView
            }" style="cursor: pointer;" (click)="orderBy('ASTCONCATADDRESS')">Address
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'ASTCONCATADDRESS' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'ASTCONCATADDRESS' && assetList.OrderType === 'Descending'"></i>
            </th>
            <th [ngClass]="{
              'midCol': asbestosColumn || serviceColumn || epcView,
              'midBigCol': !asbestosColumn && !serviceColumn && !epcView
            }" style="cursor: pointer;" (click)="orderBy('ASSPOSTCODE')">Postcode
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'ASSPOSTCODE' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'ASSPOSTCODE' && assetList.OrderType === 'Descending'"></i>
            </th>

            <th [ngClass]="{
              'midCol': asbestosColumn || serviceColumn || epcView,
              'midBigCol': !asbestosColumn && !serviceColumn && !epcView
            }" style="cursor: pointer;" (click)="orderBy('ASSSTATUS')">Status
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'ASSSTATUS' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'ASSSTATUS' && assetList.OrderType === 'Descending'"></i>
            </th>

            <th class="midCol" style="cursor: pointer;" *ngIf="asbestosColumn">No Asbestos
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i>
            </th>

            <th class="midCol" style="cursor: pointer;" *ngIf="asbestosColumn">Presumed
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i>
            </th>

            <th class="bigCol" style="cursor: pointer;" *ngIf="asbestosColumn">Strongly Presumed
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i>
            </th>
            <th class="midCol" style="cursor: pointer;;" *ngIf="asbestosColumn">Identified
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i>
            </th>
            <th class="bigCol" style="cursor: pointer;" *ngIf="asbestosColumn">Highest Material Risk
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i>
            </th>
            <th class="bigCol" style="cursor: pointer;" *ngIf="asbestosColumn">Highest Priority Risk
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i>
            </th>
            <th class="bigCol" style="cursor: pointer;" *ngIf="asbestosColumn">Highest Total Risk
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i>
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="asbestosColumn">HSE Notify
              <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i>
            </th>

            <!-- Service column -->
            <th class="midCol" style="cursor: pointer;" *ngIf="serviceColumn">Primary Jobs
              <!-- <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i> -->
            </th>

            <th class="midCol" style="cursor: pointer;" *ngIf="serviceColumn">Complete Jobs
              <!-- <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i> -->
            </th>

            <th class="midCol" style="cursor: pointer;" *ngIf="serviceColumn">Cancelled Jobs
              <!-- <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i> -->
            </th>

            <th class="midCol" style="cursor: pointer;" *ngIf="serviceColumn">Overdue Jobs
              <!-- <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i> -->
            </th>

            <th class="bigCol" style="cursor: pointer;" *ngIf="serviceColumn">Past Deadline Jobs
              <!-- <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i> -->
            </th>

            <th class="bigCol" style="cursor: pointer;" *ngIf="assetList.SimCompliance != ''">Servicing
              Compliance
              <!-- <i class="lnr lnr-arrow-up sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Ascending'"></i>
              <i class="lnr lnr-arrow-down sortIcon" aria-hidden="true"
                *ngIf="assetList.OrderBy === 'asbestosCount' && assetList.OrderType === 'Descending'"></i> -->
            </th>



            <th class="midBigCol" style="cursor: pointer;" *ngIf="epcView">EPC Status
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="epcView">SAP
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="epcView">SAP Band
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="epcView">EI
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="epcView">EI Band
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="epcView">Lodged Date
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="epcView">Expiry Date
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="epcView">Cloned
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="epcView">Scheduled Date
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="epcView">Survey Status
            </th>
            <th class="midCol" style="cursor: pointer;" *ngIf="epcView">Survey Date
            </th>
            <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">Survey Project
            </th>
            <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">Survey Batch
            </th>


            <ng-container *ngFor="let col of userCharColumnName">
              <th *ngIf="col.chadisp == 1" class="bigCol" style="cursor: pointer;">{{col.chaalias}}
              </th>
            </ng-container>



            <th class="hiddenCol"></th>
            <!-- <th>Assign Group</th> -->
          </tr>
        </thead>
        <tbody [ngStyle]="{'height' : tbodyHeight}" class="fixTbody" (scroll)="onScroll($event)"
          [ngStyle]="{'overflow-y': attributeLists.length == 0 ? 'hidden' : 'scroll' }">

          <tr class="odd gradeX" *ngFor="let attributeList of attributeLists let i = index; trackBy:trackByFunction"
            (click)="toggleClass($event,attributeList)">
            <td class="smallCol">
              <i style="color: #dfdbdb;" *ngIf="tabsData != undefined && tabsData == '' " class="fas fa-bars"></i>

              <li class="nav-item dropdown list-unstyled" *ngIf="tabsData != undefined && tabsData != '' ">
                <i data-toggle="dropdown" aria-expanded="false" class="fas fa-bars"></i>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngIf="checkTabPermission('Attributes')"
                    (click)="openTabWindow('attributes',attributeList)" href="javascript:void(0)">Attributes</a>
                  <a class="dropdown-item" *ngIf="checkTabPermission('Characteristics')"
                    (click)="openTabWindow('characteristics',attributeList)"
                    href="javascript:void(0)">Characteristics</a>
                  <a class="dropdown-item"
                    *ngIf="checkTabPermission('Asbestos') && checkAsbestosPortalAccess() && checkGroupPermission('Asbestos Portal Access')"
                    (click)="openTabWindow('asbestos',attributeList)" href="javascript:void(0)">Asbestos</a>

                  <div class="dropdown-toggle">
                    <div class="dropdown-item"
                      *ngIf="((checkTabPermission('Energy') && checkModuleEnabled('Energy')) || (checkTabPermission('EPC') && checkModuleEnabled('EPC Module') && checkEnergyPortalAccess('Energy Portal Access')))">
                      Energy</div>

                    <!-- <div class="dropdown-item" *ngIf="EnableEnergyMenu()" >Energy</div> -->


                    <div class="dropdown-menu">
                      <a class="dropdown-item" *ngIf="checkTabPermission('Energy') && checkModuleEnabled('Energy')"
                        (click)="openTabWindow('energy',attributeList)" href="javascript:void(0)">Rating</a>
                      <a class="dropdown-item"
                        *ngIf="checkTabPermission('EPC') && checkModuleEnabled('EPC Module') && checkEnergyPortalAccess('Energy Portal Access')  && checkMenuAccess('Energy', 1)"
                        (click)="openTabWindow('epc',attributeList)" href="javascript:void(0)">EPC</a>
                      <a class="dropdown-item"
                        *ngIf="checkTabPermission('EPC') && checkModuleEnabled('EPC Module') && checkModuleEnabled('Retrieve EPC') && checkEnergyPortalAccess('Energy Portal Access') && checkEnergyPortalAccess('Retrieve EPC') && checkMenuAccess('Energy', 1)"
                        (click)="openRetrieveEPCWindow(attributeList)" href="javascript:void(0)">Retrieve EPC</a>
                    </div>
                  </div>


                  <a class="dropdown-item" *ngIf="checkTabPermission('Surveys')"
                    (click)="openTabWindow('surveys',attributeList)" href="javascript:void(0)">Surveys</a>
                  <a class="dropdown-item" *ngIf="checkTabPermission('Health and Safety')"
                    (click)="openTabWindow('assessments',attributeList)" href="javascript:void(0)">Health & Safety</a>
                  <a class="dropdown-item"
                    *ngIf="checkTabPermission('Servicing') && checkGroupPermission('Servicing Portal Access')"
                    (click)="openTabWindow('servicing',attributeList)" href="javascript:void(0)">Servicing</a>
                  <a class="dropdown-item" *ngIf="checkTabPermission('HHSRS')"
                    (click)="openTabWindow('hhrs',attributeList)" href="javascript:void(0)">HHSRS</a>
                  <a class="dropdown-item" *ngIf="checkTabPermission('Works Management')"
                    (click)="openTabWindow('workmanagement',attributeList)" href="javascript:void(0)">Work
                    Management</a>
                  <a class="dropdown-item" *ngIf="checkTabPermission('Quality')"
                    (click)="openTabWindow('quality',attributeList)" href="javascript:void(0)">Quality Standard</a>
                  <a class="dropdown-item" *ngIf="checkTabPermission('Notepad')"
                    (click)="openTabWindow('notepad',attributeList)" href="javascript:void(0)">Notepad</a>
                  <!-- <a class="dropdown-item" (click)="openConfirmationDialog(user)" href="javascript:void(0)">Delete</a>
                          <a class="dropdown-item" (click)="opneUserGroup(user)" href="javascript:void(0)">Assign Group</a> -->

                </div>
              </li>
            </td>
            <!-- <td><i class="fab fa-adversal d-block" *ngIf="attributeList.colour != ''"
                [ngStyle]="{'color':attributeList.colour}"></i></td>
            <td>
              <i *ngIf="attributeList.epcStatus != '' && attributeList.epcStatus=='New'"
                class="fas fa-book d-block"></i>
              <i *ngIf="attributeList.epcStatus != '' && attributeList.epcStatus=='Lodged EPC'"
                class="fas fa-book-open d-block"></i>
            </td>
            <td><i *ngIf="attributeList.outstandingHHSRS" class="fas fa-h-square d-block"></i></td>
            <td><i *ngIf="attributeList.outstandingHAS" class="fas fa-heartbeat d-block"></i></td>
            <td><i *ngIf="attributeList.outstandingWork" class="ion ion-md-hammer d-block"></i></td>
            <td><i *ngIf="attributeList.notepadCount" class="fas fa-sticky-note d-block"></i></td> -->
            <td [ngClass]="{
              'midCol': asbestosColumn || serviceColumn || epcView,
              'midBigCol': !asbestosColumn && !serviceColumn && !epcView
            }">{{attributeList.type}}</td>
            <td [ngClass]="{
              'midCol': asbestosColumn || serviceColumn || epcView,
              'midBigCol': !asbestosColumn && !serviceColumn && !epcView
            }">{{attributeList.assetId}}</td>
            <td [ngClass]="{
              'midAddressCol': asbestosColumn || serviceColumn || epcView,
              'addressCol': !asbestosColumn && !serviceColumn && !epcView
            }">{{attributeList.address}}
              <div class="iconDiv">
                <!-- <i class="fab fa-adversal d-block" *ngIf="attributeList.colour != ''"
                  [ngStyle]="{'color':attributeList.colour}"></i> -->
                <!-- <i *ngIf="attributeList.epcStatus != '' && attributeList.epcStatus=='New'"
                  class="fas fa-book d-block"></i> -->
                <!-- <i *ngIf="attributeList.epcStatus != '' && attributeList.epcStatus=='Lodged EPC'"
                  class="fas fa-book-open d-block"></i> -->
                <!-- <i *ngIf="attributeList.outstandingHHSRS" class="fas fa-h-square d-block"></i>
                <i *ngIf="attributeList.outstandingHAS" class="fas fa-heartbeat d-block"></i> -->
                <!-- <i *ngIf="attributeList.outstandingWork" class="ion ion-md-hammer d-block"></i> -->
                <!-- <i *ngIf="attributeList.notepadCount" class="fas fa-sticky-note d-block"></i> -->

                <img title="Medium/High Asbestos" *ngIf="attributeList.colour != '' && attributeList.colour == 'Red'"
                  class="table-icon-wr" src="assets/img/icons/asbestos-red.png" />
                <img title="No Asbestos" *ngIf="attributeList.colour != '' && attributeList.colour == 'Black'"
                  class="table-icon-wr" src="assets/img/icons/asbestos-black.png" />
                <img title="Very Low/Low Asbestos" *ngIf="attributeList.colour != '' && attributeList.colour == 'Green'"
                  class="table-icon-wr" src="assets/img/icons/asbestos-green.png" />

                <img title="New EPC" *ngIf="attributeList.epcStatus=='New'" class="table-icon-wr"
                  src="assets/img/icons/epc-new.png" />
                <img title="EPC Started" *ngIf="attributeList.epcStatus=='EPC Started' " class="table-icon-wr"
                  src="assets/img/icons/epc-edit.png" />
                <img title="Mapped Successfully" *ngIf="attributeList.epcStatus=='Mapped Successfully'"
                  class="table-icon-wr" src="assets/img/icons/epc-edit.png" />
                <img title="Uploaded Successfully" *ngIf="attributeList.epcStatus=='Uploaded Successfully'"
                  class="table-icon-wr" src="assets/img/icons/epc-edit.png" />
                <img title="Uploading errors" *ngIf="attributeList.epcStatus=='Uploading errors'" class="table-icon-wr"
                  src="assets/img/icons/epc-error.png" />
                <img title="Mapping Errors" *ngIf="attributeList.epcStatus=='Mapping Errors'" class="table-icon-wr"
                  src="assets/img/icons/epc-error.png" />
                <img title="Lodged EPC" *ngIf="attributeList.epcStatus=='Lodged EPC'" class="table-icon-wr"
                  src="assets/img/icons/epc-logged.png" />
                <img title="HHSRS" *ngIf="attributeList.outstandingHHSRS" style="width: 19px; margin: 3px" class=""
                  src="assets/img/icons/HHSRS.png" />
                <img title="Health & Safety" *ngIf="attributeList.outstandingHAS"
                  style="width: 19px; height: 22px; margin: 3px;" class="" src="assets/img/icons/healthSafety.png" />
                <!-- <i title="HHSRS" *ngIf="attributeList.outstandingHHSRS" style="font-size: 16px; vertical-align: middle;" class="fas fa-h-square d-block"></i> -->
                <!-- <i title="Health & Safety" *ngIf="attributeList.outstandingHAS" style="font-size: 16px; vertical-align: middle;" class="fas fa-heartbeat d-block"></i> -->
                <!-- <img *ngIf="attributeList.outstandingWork" class="table-icon" src="assets/img/icons/works-management.png" /> -->
                <!-- <img *ngIf="attributeList.outstandingWork" class="table-icon" src="assets/img/icons/works-management.png" /> -->
                <img title="Work Management" *ngIf="attributeList.outstandingWork" class="table-icon"
                  src="assets/img/icons/works-management.png" />
                <img title="Notepad" *ngIf="attributeList.notepadCount" class="table-icon-wr"
                  src="assets/img/icons/attach.png" />
              </div>
            </td>
            <td [ngClass]="{
              'midCol': asbestosColumn || serviceColumn || epcView,
              'midBigCol': !asbestosColumn && !serviceColumn && !epcView
            }">{{attributeList.postCode}}</td>

            <!-- <td>{{attributeList.status == 'A' ? 'Active' : 'InActive'}}</td> -->
            <td [ngClass]="{
              'midCol': asbestosColumn || serviceColumn || epcView,
              'midBigCol': !asbestosColumn && !serviceColumn && !epcView
            }">{{ checkAssetStatus(attributeList.status, i) }}</td>
            <td *ngIf="asbestosColumn" class="midCol">
              {{attributeList.asbestosCount != 0 ? attributeList.asbestosCount : ''}}</td>
            <td class="midCol" *ngIf="asbestosColumn">{{attributeList.presumed != 0 ? attributeList.presumed : ''}}
            </td>
            <td class="bigCol" *ngIf="asbestosColumn">
              {{attributeList.stronglyPresumed != 0 ? attributeList.stronglyPresumed : ''}}</td>
            <td class="midCol" *ngIf="asbestosColumn">
              {{attributeList.identified != 0 ? attributeList.identified : ''}}</td>
            <td class="bigCol" *ngIf="asbestosColumn">{{attributeList.highestMaterialRisk }}</td>
            <td class="bigCol" *ngIf="asbestosColumn">{{attributeList.highestPriorityRisk }}</td>
            <td class="bigCol" *ngIf="asbestosColumn">{{attributeList.highestTotalRisk }}</td>
            <td class="midCol" *ngIf="asbestosColumn">
              {{attributeList.hsenotifiable == 'Y' ? 'Notifiable' : attributeList.hsenotifiable == 'N' ? 'Not
              Notifiable' : attributeList.hsenotifiable }}
            </td>

            <!-- Service column -->
            <td class="midCol" *ngIf="serviceColumn">{{attributeList?.primaryJobs }}</td>
            <td class="midCol" *ngIf="serviceColumn">{{attributeList?.completedJobs }}</td>
            <td class="midCol" *ngIf="serviceColumn">{{attributeList?.cancelledJobs }}</td>
            <td class="midCol" *ngIf="serviceColumn">{{attributeList?.overdueJobs }}</td>
            <td class="bigCol" *ngIf="serviceColumn">{{attributeList?.pastDeadline }}</td>
            <td class="midBigCol" *ngIf="assetList.SimCompliance != ''">{{attributeList?.compliance }}
            </td>


            <!-- EPC column -->
            <td class="midBigCol" *ngIf="epcView">{{attributeList?.epcStatus }}</td>
            <td class="midCol" *ngIf="epcView">{{attributeList?.sap }}</td>
            <td class="midCol" *ngIf="epcView">{{attributeList?.sapBand }}</td>
            <td class="midCol" *ngIf="epcView">{{attributeList?.ei }}</td>
            <td class="midCol" *ngIf="epcView">{{attributeList?.eiBand }}</td>
            <td class="midCol" *ngIf="epcView">{{attributeList?.lodgeDate }}</td>
            <td class="midCol" *ngIf="epcView">{{attributeList?.expiryDate }}</td>


            <td class="midCol" *ngIf="epcView">
              <div class="iconDiv">
              </div>
              <img title="SettingsExist" style="height: 14px;" *ngIf="attributeList?.cloned == 'Y'"
                class="table-icon-wr" src="assets/img/icons/tick.png" />
            </td>

            <td class="midCol" *ngIf="epcView">{{attributeList?.scheduledDate }}</td>
            <td class="midCol" *ngIf="epcView">{{attributeList?.surveyStatus }}</td>
            <td class="midCol" *ngIf="epcView">{{attributeList?.surveyDate }}</td>
            <td class="bigCol" *ngIf="epcView">{{attributeList?.supName }}</td>
            <td class="bigCol" *ngIf="epcView">{{attributeList?.subName }}</td>



            <ng-container *ngFor="let col of userCharColumnName">
              <td *ngIf="col.chadisp == 1" class="bigCol">
                <span *ngIf="col.chaid == 1"> {{attributeList?.assetChar1}}</span>
                <span *ngIf="col.chaid == 2"> {{attributeList?.assetChar2}}</span>
                <span *ngIf="col.chaid == 3">{{attributeList?.assetChar3}} </span>

              </td>

            </ng-container>



            <td class="hiddenCol"></td>
          </tr>
        </tbody>

      </table>

      <!-- If table is empty -->
      <ng-template #no_record>
        <table id="assetTbl" class="table table-striped table-bordered assetTbl">
          <thead class="fixedHeader">
            <tr>
              <th class="smallCol"></th>
              <th [ngClass]="{
                'midCol': asbestosColumn || serviceColumn,
                'midBigCol': !asbestosColumn && !serviceColumn
              }" style="cursor: pointer;" (click)="orderBy('astname')">Type

              </th>
              <th [ngClass]="{
                'midCol': asbestosColumn || serviceColumn,
                'midBigCol': !asbestosColumn && !serviceColumn
              }" style="cursor: pointer;" (click)="orderBy('ASSID')">Asset ID


              </th>
              <th [ngClass]="{
                'midAddressCol': asbestosColumn || serviceColumn,
                'addressCol': !asbestosColumn && !serviceColumn
              }" style="cursor: pointer;" (click)="orderBy('ASTCONCATADDRESS')">Address

              </th>
              <th [ngClass]="{
                'midCol': asbestosColumn || serviceColumn,
                'midBigCol': !asbestosColumn && !serviceColumn
              }" style="cursor: pointer;" (click)="orderBy('ASSPOSTCODE')">Postcode

              </th>

              <th [ngClass]="{
                'midCol': asbestosColumn || serviceColumn,
                'midBigCol': !asbestosColumn && !serviceColumn
              }" style="cursor: pointer;" (click)="orderBy('ASSSTATUS')">Status

              </th>

              <th class="midCol" style="cursor: pointer;" *ngIf="asbestosColumn">No Asbestos </th>

              <th class="midCol" style="cursor: pointer;" *ngIf="asbestosColumn">Presumed </th>

              <th class="bigCol" style="cursor: pointer;" *ngIf="asbestosColumn">Strongly Presumed </th>
              <th class="midCol" style="cursor: pointer;;" *ngIf="asbestosColumn">Identified </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="asbestosColumn">Highest Material Risk </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="asbestosColumn">Highest Priority Risk </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="asbestosColumn">Highest Total Risk </th>
              <th class="midCol" style="cursor: pointer;" *ngIf="asbestosColumn">HSE Notify </th>

              <!-- Service column -->
              <th class="midCol" style="cursor: pointer;" *ngIf="serviceColumn">Primary Jobs </th>

              <th class="midCol" style="cursor: pointer;" *ngIf="serviceColumn">Complete Jobs </th>

              <th class="midCol" style="cursor: pointer;" *ngIf="serviceColumn">Cancelled Jobs </th>

              <th class="midCol" style="cursor: pointer;" *ngIf="serviceColumn">Overdue Jobs </th>

              <th class="bigCol" style="cursor: pointer;" *ngIf="serviceColumn">Past Deadline Jobs </th>

              <th class="bigCol" style="cursor: pointer;" *ngIf="assetList.SimCompliance != '' ">Servicing
                Compliance </th>


              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">EPC Status
              </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">SAP
              </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">SAP Band
              </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">EI
              </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">Lodged Date
              </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">Expiry Date
              </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">Scheduled Date
              </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">Survey Status
              </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">Survey Date
              </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">Survey Project
              </th>
              <th class="bigCol" style="cursor: pointer;" *ngIf="epcView">Survey Batch
              </th>
             

              <ng-container *ngFor="let col of userCharColumnName">
                <th *ngIf="col.chadisp == 1" class="bigCol" style="cursor: pointer;">{{col.chaalias}}
                </th>
              </ng-container>
              

              <th class="hiddenCol"></th>
            </tr>
          </thead>
          <tbody [ngStyle]="{'height' : tbodyHeight}" style="overflow-y:hidden;">
            <tr>
              <td style="background:#f8f8f8; border: none;">
                No records available.
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>

    </div>
    <div class="col-md-12">
      <span *ngIf="totalAssetCount >= 0" class="assetCount">Total rows {{totalAssetCount}}</span>
    </div>
  </div>

  <div class="portalwBlurtab"></div>

</div>



<div class="example-wrapper">
  <app-tab-window [selectedAsset]="selectedAsset" [assetId]="assetId" [tabWindow]="tabWindow" [tabName]="tabName"
    *ngIf="tabWindow" (closeWindow)="closeTabWindow($event)"></app-tab-window>

</div>



<!-- window for add new hiearchy starts -->
<kendo-window [height]="640" [width]="700" title="Select Hierarchy..." *ngIf="hiearchyWindow"
  (close)="closeHiearchyWindow()">
  <div class="row hiearchyDiv">
    <div class="col-md-12">
      <div class="form-group">
        <select class="form-control" id="sel1" (change)="getHiearchyTree()" [(ngModel)]="selectedHiearchyType">
          <option *ngFor="let hiearchyTypeList of hiearchyTypeLists" [ngValue]="hiearchyTypeList.hierarchyTypeCode">
            {{hiearchyTypeList.hierarchyTypeName}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <ul class="tree" *ngIf="hierarchyLevels">
        <ng-template #recursiveList let-hierarchyLevels>
          <li *ngFor="let item of hierarchyLevels" class="{{item?.assetId}}">
            <!-- <input *ngIf="item.childLayers.length > 0" type="checkbox" id="{{item?.assetId}}" /> -->
            <!-- <label  [class.tree_label]="item.childLayers.length > 0" for="{{item?.assetId}}">({{ item?.assetName }}) {{ item?.assetId }} - {{ item?.address }}</label> -->

            <ng-container *ngIf="item.childLayers.length > 0; then someContent else otherContent"></ng-container>
            <ng-template #someContent>
              <input type="checkbox" [checked]="visitedHierarchy[item?.assetId] != undefined" id="{{item?.assetId}}"
                class="chkBox" />
              <label
                [className]="selectedhierarchyLevel != undefined ? ( selectedhierarchyLevel.assetId == item.assetId ? 'tree_label selected' : 'tree_label') : 'tree_label'"
                (click)="selectHiearchy($event, item)" for="{{item?.assetId}}"><span style="color:red;">({{
                  item?.assetName }})</span>
                {{ item?.assetId }} - {{ item?.address }}</label>
            </ng-template>
            <ng-template #otherContent>
              <label (click)="selectHiearchy($event, item)"> <span
                  [className]="selectedhierarchyLevel != undefined ? ( selectedhierarchyLevel.assetId == item.assetId ? 'tree_label selected' : 'tree_label') : 'tree_label'"><span
                    style="color:red;">({{ item?.assetName }})</span> {{ item?.assetId }} -
                  {{ item?.address }}</span></label>
            </ng-template>

            <ul *ngIf="item.childLayers.length > 0">
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.childLayers }"></ng-container>
            </ul>
          </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: hierarchyLevels }"></ng-container>
      </ul>


      <div class="pull-right footerButton footerSec">
        <button (click)="closeHiearchyWindow()" class="btn btn-sm">Cancel</button>
        <button class="btn btn-sm btn-default themeButton" (click)="setHiearchyValues()">Ok</button>

      </div>


    </div>

  </div>

</kendo-window>
<!-- window for add new hiearchy ends -->


<app-asset-epc-retrieve #RetrievePanel *ngIf="retrieveWindow" [retrieveWindow]="retrieveWindow"
  (closeRetrieveWindow)="closeRetrieveEPCWindow($event)" [assetId]="assetId" [epcStatus]="epcStatus">
</app-asset-epc-retrieve>


<app-user-characteristics *ngIf="openUserChar" [openUserChar]="openUserChar"
  (closeUserCharEvent)="closeUserCharEvent($event)"></app-user-characteristics>


<!-- Search bar -->
<div class="search-container dismiss">

  <a href="javascript:void(0)" (click)="closeSearchBar()" class="theme-settings-close-btn font-weight-light p-0 m-0"
    style="color:#ffffff;" tabindex="-1">
    <div class="row">
      <div class="col-md-3">
        <h5 style="color:white" class="p-4 m-0 line-height-1 font-weight-bolder bg-light theme-settings-header"> Filters
        </h5>
      </div>
      <div class="col-md-1">
        <h5 style="color:white" class="p-4 m-0 line-height-1 font-weight-bolder bg-light theme-settings-header">x</h5>
      </div>
    </div>

  </a>


  <div class="searchDiv">
    <form #assetSearch id="assetSearch">
      <div *ngIf="woDashboardFilter" class="row col-md-12 mt-0 pt-0 pb-2">
        <label class="col-md-12" style="color:white;font-style: italic; text-align: center;">Active Works Order
          filter</label>
      </div>
      <div *ngIf="energyDashboardFilter" class="row col-md-12 mt-0 pt-0 pb-2">
        <label class="col-md-12" style="color:white;font-style: italic; text-align: center;">Active Energy
          filter</label>
      </div>
      <div *ngIf="TaskFilter" class="row col-md-12 mt-0 pt-0 pb-2">
        <label class="col-md-12" style="color:white;font-style: italic; text-align: center;">Active Task filter</label>
      </div>


      <mat-accordion>
        <div class="filtersection ml-0">
          <mat-expansion-panel
            style="background-color: transparent; font-family: 'MuseoSansRounded-300', sans-serif;padding:1px; margin: 0px;">
            <mat-expansion-panel-header style="margin: 0px;padding: 0px;">
              <mat-panel-title>
                <div class="row p-0 m-0" style="width: 100%;">
                  <div class="col-md-11 p-0 m-0">
                    <span style="margin: 0px;padding: 0px;font-family: 'MuseoSansRounded-300', sans-serif;"
                      class="filterHead">Asset</span>
                  </div>
                  <div class="col-md-1 p-0 m-0">
                    <i class="fas fa-edit mt-1" style="color: #e4287e;" *ngIf="AssetFilter"></i>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="form-group mt-1">
              <label class="form-label form-label-sm">Postcode</label>
              <input (keyup)="triggerPostcodeSearch($event.target.value)" name="postcode" data-col="2" type="text"
                class="form-control form-control-sm" placeholder="Search By Postcode">
            </div>

            <div class="form-group">
              <label class="form-label form-label-sm">Status</label>
              <select data-col="9" class="form-control form-control-sm"
                (change)="filterAssetTable($event.target.value, 'AssetStatus')">
                <option [selected]="assetList.AssetStatus == ''" value="">All</option>
                <option selected [selected]="assetList.AssetStatus == 'A'" value="A">Active</option>
                <option [selected]="assetList.AssetStatus == 'I'" value="I">Inactive</option>
              </select>

            </div>


            <div class="form-group">
              <label class="form-label form-label-sm">User Characteristics</label>

              <div class="userChar">
                <label class="switcher switcher-secondary osFilterLabel">
                  <input type="checkbox" value="{{userCharacteristicsColumn}}"
                    (change)="filterAssetTable($event.target.value, 'User Characteristics')" class="switcher-input">
                  <span class="switcher-indicator userCharColumnSwitch">
                    <span class="switcher-yes">
                      <span class="ion ion-md-checkmark"></span>
                    </span>
                    <span class="switcher-no">
                      <span class="ion ion-md-close"></span>
                    </span>
                  </span>
                  <!-- <span class="switcher-label">Management Actions</span> -->
                </label>

                <button class="btn btn-sm themeButton" (click)="openUserCharacteristics()">Edit Characteristics</button>
              </div>
            </div>

          </mat-expansion-panel>
        </div>


        <div class="filtersection ml-0"
          *ngIf="checkTabPermission('Asbestos') && checkAsbestosPortalAccess() && checkGroupPermission('Asbestos Portal Access')">
          <mat-expansion-panel
            *ngIf="checkTabPermission('Asbestos') && checkAsbestosPortalAccess() && checkGroupPermission('Asbestos Portal Access')"
            style="background-color: transparent; font-family: 'MuseoSansRounded-300', sans-serif;padding:1px; margin: 0px;">
            <mat-expansion-panel-header style="margin: 0px;padding: 0px;">
              <mat-panel-title>
                <div class="row p-0 m-0" style="width: 100%;">
                  <div class="col-md-11 p-0 m-0">
                    <span style="margin: 0px;padding: 0px;font-family: 'MuseoSansRounded-300', sans-serif;"
                      class="filterHead">Asbestos</span>
                  </div>
                  <div class="col-md-1 p-0 m-0">
                    <i class="fas fa-edit mt-1" style="color: #e4287e;" *ngIf="AsbestosFilter"></i>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>


            <div class="form-group mt-0">
              <label class="form-label form-label-sm">Asbestos View</label>
              <label class="switcher switcher-secondary osFilterLabel">
                <input type="checkbox" value="{{asbestosColumn}}"
                  (change)="filterAssetTable($event.target.value, 'Asbestos')" class="switcher-input">
                <span class="switcher-indicator asbestosColumnSwitch">
                  <span class="switcher-yes">
                    <span class="ion ion-md-checkmark"></span>
                  </span>
                  <span class="switcher-no">
                    <span class="ion ion-md-close"></span>
                  </span>
                </span>
                <!-- <span class="switcher-label">Management Actions</span> -->
              </label>
            </div>


            <div class="form-group mt-3">
              <label class="form-label form-label-sm">Asbestos Status</label>
              <select data-col="9" class="form-control form-control-sm"
                (change)="filterAssetTable($event.target.value, 'AsbestosStatus')">
                <option value="">Select Asbestos Status</option>
                <option value="All">All</option>
                <option value="High">High</option>
                <option value="Low">Low</option>
                <option value="None">None</option>
              </select>
            </div>

            <div class="form-group mt-3">
              <label class="form-label form-label-sm">Outstanding Request</label>
              <label class="switcher switcher-secondary osFilterLabel">
                <input type="checkbox" value="{{authOs}}" (change)="filterAssetTable($event.target.value, 'os')"
                  class="switcher-input">
                <span class="switcher-indicator osFilterSwitch">
                  <span class="switcher-yes">
                    <span class="ion ion-md-checkmark"></span>
                  </span>
                  <span class="switcher-no">
                    <span class="ion ion-md-close"></span>
                  </span>
                </span>
                <!-- <span class="switcher-label">Management Actions</span> -->
              </label>
            </div>


          </mat-expansion-panel>
        </div>


        <div class="filtersection ml-0"
          *ngIf="checkTabPermission('EPC') && checkEnergyPortalAccess('Energy Portal Access') && checkModuleEnabled('EPC Module') && checkMenuAccess('Energy', 1)">
          <mat-expansion-panel
            *ngIf="checkTabPermission('EPC') && checkEnergyPortalAccess('Energy Portal Access') && checkModuleEnabled('EPC Module') && checkMenuAccess('Energy', 1)"
            style="background-color: transparent; font-family: 'MuseoSansRounded-300', sans-serif;padding:1px; margin: 0px;">
            <mat-expansion-panel-header style="margin: 0px;padding: 0px;">
              <mat-panel-title>
                <div class="row p-0 m-0" style="width: 100%;">
                  <div class="col-md-11 p-0 m-0">
                    <span style="margin: 0px;padding: 0px;font-family: 'MuseoSansRounded-300', sans-serif;"
                      class="filterHead">EPC</span>
                  </div>
                  <div class="col-md-1 p-0 m-0">
                    <i class="fas fa-edit mt-1" style="color: #e4287e;" *ngIf="EPCFilter"></i>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="form-group mt-1">


              <div class="form-group mt-0">
                <label class="form-label form-label-sm">EPC View</label>
                <label class="switcher switcher-secondary osFilterLabel">
                  <input #epcViewCheckBox id="epcViewCheckBox" type="checkbox" [checked]="epcView"
                    (change)="filterAssetTable(epcViewCheckBox.checked, 'epcView')" class="switcher-input">
                  <span class="switcher-indicator osFilterSwitch">
                    <span class="switcher-yes">
                      <span class="ion ion-md-checkmark"></span>
                    </span>
                    <span class="switcher-no">
                      <span class="ion ion-md-close"></span>
                    </span>
                  </span>
                  <!-- <span class="switcher-label">Management Actions</span> -->
                </label>
              </div>


              <div class="form-group mt-3">
                <label class="form-label form-label-sm">EPCs Only</label>
                <label class="switcher switcher-secondary osFilterLabel">
                  <input #epcOnlyCheckBox id="epcOnlyCheckBox" type="checkbox" [checked]="assetList.epcOnly"
                    (change)="filterAssetTable(epcOnlyCheckBox.checked, 'epc')" class="switcher-input">
                  <span class="switcher-indicator osFilterSwitch">
                    <span class="switcher-yes">
                      <span class="ion ion-md-checkmark"></span>
                    </span>
                    <span class="switcher-no">
                      <span class="ion ion-md-close"></span>
                    </span>
                  </span>
                  <!-- <span class="switcher-label">Management Actions</span> -->
                </label>
              </div>


              <div class="form-group mt-3">
                <label class="form-label form-label-sm">EPC Status</label>
                <select data-col="9" class="form-control form-control-sm" name="epcStatus"
                  [(ngModel)]="assetList.EPCStatus" (change)="filterAssetTable($event.target.value, 'EPCStatus')">
                  <option value="">Select EPC Status</option>
                  <option value="New">New</option>
                  <option value="EPC Started">EPC Started</option>
                  <option value="Mapped Successfully">Mapped Successfully</option>
                  <option value="Mapping Errors">Mapping Errors</option>
                  <option value="Uploaded Successfully">Uploaded Successfully</option>
                  <option value="Uploading errors">Uploading errors</option>
                  <option value="Lodged EPC">Lodged EPC</option>
                </select>
              </div>

              <!--         <mat-form-field appearance="fill" >
          <mat-label>Toppings</mat-label>
          <mat-select [formControl]="toppings" multiple style="background-color: white;">
            <mat-option *ngFor="let topping of sapBands" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
 -->
              <div data-col="9" class="row mt-1" style="width:100%">
                <label class="form-label form-label-sm" style="margin-left: 13px">SAP Rating Bands</label>
                <kendo-multiselect id="sapMultiSelect" color="secondary"
                  style="margin-left: 13px;margin-right:-11px;padding-top: 0px;padding-bottom: 0px;padding-left: 10;"
                  [placeholder]="'    Select SAP Bands'" [value]="selectedSAPBands" [data]="sapBands"
                  [filterable]="true" (filterChange)="filterChange($event)" (valueChange)="sapBandsChanged($event)">
                </kendo-multiselect>

              </div>


            </div>

          </mat-expansion-panel>
        </div>

        <div class="filtersection ml-0"
          *ngIf="checkTabPermission('Servicing') && checkGroupPermission('Servicing Portal Access')">
          <mat-expansion-panel
            *ngIf="checkTabPermission('Servicing') && checkGroupPermission('Servicing Portal Access')"
            style="background-color: transparent; font-family: 'MuseoSansRounded-300', sans-serif;padding:1px; margin: 0px;">
            <mat-expansion-panel-header style="margin: 0px;padding: 0px;">
              <mat-panel-title>
                <div class="row p-0 m-0" style="width: 100%;">
                  <div class="col-md-11 p-0 m-0">
                    <span style="margin: 0px;padding: 0px;font-family: 'MuseoSansRounded-300', sans-serif;"
                      class="filterHead">Servicing</span>
                  </div>
                  <div class="col-md-1 p-0 m-0">
                    <i class="fas fa-edit mt-1" style="color: #e4287e;" *ngIf="ServicingFilter"></i>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>


            <div class="form-group mt-0">
              <label class="form-label form-label-sm">Service View</label>
              <label class="switcher switcher-secondary osFilterLabel">
                <input type="checkbox" value="{{serviceColumn}}"
                  (change)="filterAssetTable($event.target.value, 'Service')" class="switcher-input">
                <span class="switcher-indicator osFilterSwitch">
                  <span class="switcher-yes">
                    <span class="ion ion-md-checkmark"></span>
                  </span>
                  <span class="switcher-no">
                    <span class="ion ion-md-close"></span>
                  </span>
                </span>
                <!-- <span class="switcher-label">Management Actions</span> -->
              </label>
            </div>



            <div class="form-group mt-3">
              <label class="form-label form-label-sm">Service Type</label>
              <select name="serviceType" [(ngModel)]="assetList.Setcode" class="form-control form-control-sm"
                (change)="filterAssetTable($event.target.value, 'Service Type')">
                <option *ngFor="let serviceType of serviceTypes" [selected]="serviceType.key == assetList.Setcode"
                  [ngValue]="serviceType.key">{{serviceType.value}}
                </option>
              </select>
            </div>

            <div class="form-group mt-3">
              <label class="form-label form-label-sm">Servicing Compliance</label>
              <select name="serviceCompliance" [(ngModel)]="assetList.SimCompliance"
                class="form-control form-control-sm"
                (change)="filterAssetTable($event.target.value, 'Service Compliance')">
                <option *ngFor="let stV of serviceTypes" [selected]="stV.key == assetList.SimCompliance"
                  [ngValue]="stV.key">{{stV.value}}
                </option>
              </select>
            </div>

            <div class="" *ngIf="assetFilterObj != undefined">
              <div class="form-group mt-3">
                <label class="form-label form-label-sm">Contractor</label>
                <input type="text" class="form-control form-control-sm readonlyCl"
                  value="{{assetFilterObj?.contractor}}" readonly>
              </div>

              <div class="form-group mt-3">
                <label class="form-label form-label-sm">Contract</label>
                <input type="text" class="form-control form-control-sm readonlyCl" value="{{assetFilterObj?.contract}}"
                  readonly>
              </div>

              <div class="form-group mt-3">
                <label class="form-label form-label-sm">Service Type</label>
                <input type="text" class="form-control form-control-sm readonlyCl"
                  value="{{assetFilterObj?.serviceType}}" readonly>
              </div>

              <div class="form-group mt-3">
                <label class="form-label form-label-sm">Service Stage</label>
                <input type="text" class="form-control form-control-sm readonlyCl"
                  value="{{assetFilterObj?.serviceStage}}" readonly>
              </div>
            </div>
          </mat-expansion-panel>
        </div>

      </mat-accordion>

      <div class="filtersection">
        <div class="row p-0 mt-3">
          <div class="col">
            <button id="" (click)="clearAssetTable()" class="btn btn-sm themeButton">Clear
            </button>
          </div>
          <div class="col">

          </div>
          <div class="col">

          </div>
        </div>
      </div>






    </form>

  </div>

</div>